dist/a1.html
<!DOCTYPE html><html lang="js"><head><meta name="viewport" content="width=device-width, initial-scale=1"><meta charset="UTF-8"><meta name="format-detection" content="telephone=no"><title>Good Friends</title><link rel="stylesheet" href="css/styles.min.css"><script src="js/scripts.min.js"></script><script src="js/ga.js"></script></head><body id="hammer-listener"><div class="loader"><div class="logo-wrap"><img class="img-responsive logo-v1" src="img/general/testlogo_v1.svg"/></div><p class="loading">Loading</p></div><div class="can-scroll-wrap"><img class="can-scroll scroll-gesture" src="img/general/gesture-animation.gif"></div><div class="content"><div class="menu"><div class="logo-wrap"><img class="img-responsive logo-v2" src="img/general/testlogo_v2.svg"/></div></div><div class="hamburger-menu"><div class="level-1"><div class="item trigger"><p>Welcome To Good Friends</p><i class="fa fa-chevron-right"></i></div><div class="level-2 level links closed"><div class="item menu-left-1"><p> <a href="#">Not Available</a></p></div></div><div class="item trigger"><p>How Friendly Are You?</p><i class="fa fa-chevron-right"></i></div><div class="level-2 level closed"><div class="item menu-left-1 trigger"><p>Meeting Your Members</p><i class="fa fa-chevron-right"></i></div><div class="level-3 level links closed"><div class="item menu-left-2"><p> <a href="a1.html">Getting off to a good start</a></p></div><div class="item menu-left-2"><p> <a href="a2.html">More than finishing To-Do lists</a></p></div><div class="item menu-left-2"><p> <a href="a3a.html">Getting out and about</a></p></div><div class="item menu-left-2"><p> <a href="a3b.html">Choosing your words</a></p></div></div><div class="item menu-left-1 trigger"><p>Our Vision Of A Visit</p><i class="fa fa-chevron-right"></i></div><div class="level-3 level links closed"><div class="item menu-left-2"><p> <a href="a4.html">Focusing your time &amp; attention</a></p></div><div class="item menu-left-2"><p> <a href="a5.html">Meeting the needs of Members</a></p></div><div class="item menu-left-2"><p> <a href="a6a.html">Providing help to individuals (Pt.1)</a></p></div><div class="item menu-left-2"><p> <a href="a6b.html">Providing help to individuals (Pt.2)</a></p></div><div class="item menu-left-2"><p> <a href="a19.html">Monitoring medication for Members</a></p></div><div class="item menu-left-2"><p> <a href="a7.html">Providing a clear picture to all</a></p></div><div class="item menu-left-2"><p> <a href="a8.html">Balancing Act</a></p></div><div class="item menu-left-2"><p> <a href="a18.html">Sometimes bad things happen</a></p></div></div><div class="item menu-left-1 trigger"><p>Finishing Your Visit</p><i class="fa fa-chevron-right"></i></div><div class="level-3 level links closed"><div class="item menu-left-2"><p> <a href="a9.html">Wrapping up the right way</a></p></div></div></div><div class="item trigger"><p>How To Make the Most Out Of Good Friends</p><i class="fa fa-chevron-right"></i></div><div class="level-2 level links closed"><div class="item menu-left-1"><p> <a href="#">Not Available</a></p></div></div><div class="item trigger"><p>Policy Pack</p><i class="fa fa-chevron-right"></i></div><div class="level-2 level links closed"><div class="item menu-left-1"><p> <a href="#">Not Available</a></p></div></div><div class="item trigger"><p>Compliance Key Messages</p><i class="fa fa-chevron-right"></i></div><div class="level-2 level links closed"><div class="item menu-left-1"><p> <a href="compliance.html">Compliance</a></p></div></div></div></div><div class="screen blue-bg no-menu intro has-flex"><div class="content-wrap"><div class="logo-wrap"><img class="img-responsive logo-v1" src="img/general/testlogo_v1.svg"/></div><h1>Getting off to a good start.</h1><p>How to use the Good Friends app when you arrive at a visit.</p><div class="button-wrap"><button class="btn btn-continue next">Continue</button></div></div></div><div class="screen"><div class="content-wrap"><h1 class="blue">A short, important note about these activities...</h1><p class="buffer">We're always developing the app to make it a better tool for you. So what you're going to see in this series of activities isn't an exact replica of what you'll use in real life. Instead, we'll be using a stripped back version to demonstrate the core functionality and get you up and running ASAP. </p><div class="greenblue no-margin buffer"><p>In this activity, you're going to select a job and log your start time in a mock-up of the Good Friends app.</p></div><div class="button-wrap has-bg force"><button class="btn btn-continue next">Continue</button></div></div></div><div class="screen"><div class="content-wrap"><h1 class="blue">You arrive at 10:55am for your visit with Terrance.</h1><img class="img-responsive buffer" src="img/a1/A1.03.jpg"><div class="button-wrap has-bg"><button class="btn btn-continue next">Open App</button></div></div></div><div class="screen app-screen"><div class="content-wrap app-wrap"><div class="sub-app-screen"><div class="day-wrap"><p class="day">Yesterday</p><p class="date">28 June</p><div class="app-person"><p class="time">3:15pm</p><p class="name">Patricia Davidson</p><p class="desc">30 minutes of Personal Care, Specialist Health Care</p></div></div><div class="day-wrap"><p class="day">Today</p><p class="date">29 June</p><div class="app-person"><p class="time">9:30am</p><p class="name">Donald Larkin</p><p class="desc">30 minutes of Domestic Assistance</p></div><div class="app-person popover app-next"><p class="triangle-border">Click Here</p><p class="time">11:00am</p><p class="name">Terrance Normanby </p><p class="desc">45 minutes of Yard Maintenance, Companionship </p></div></div></div><div class="sub-app-screen"><p class="checked-in">You are checked in.</p><button class="btn btn-check-in not-clicked">Check In</button><h3>Contact</h3><div class="icon-w-text"><img src="img/general/name_icon.svg"><p>Terrance Normanby</p></div><div class="icon-w-text"><img src="img/general/address_icon.svg"><p>39 Albert Street, Auckland CBD, Auckland 1010</p></div><div class="icon-w-text"><img src="img/general/phone_icon.svg"><p>0377 972 118 </p></div><h3>Tasks</h3><p class="text-left">45 minutes of Yard Maintenance, Companionship</p><h3>Community Manager</h3><div class="icon-w-text"><img src="img/general/name_icon.svg"><p>Allen Hsu</p></div><div class="icon-w-text"><img src="img/general/phone_icon.svg"><p>(029) 1955-644</p></div></div></div><div class="button-wrap has-bg force"><button class="btn btn-continue next">Continue</button></div></div><div class="screen"><div class="content-wrap"><h1 class="blue">Done! Checking in is just as easy as that.</h1><p class="buffer">Each visit is part of an agreed plan and budget. You should use the app to log the times you start and end your visits. </p><p class="buffer-bottom">It provides transparency and assurance to our Members and their families. Just knowing that you have arrived can provide enormous peace of mind for families and is greatly appreciated. Also, thinking you have not arrived can cause concern. So checking in promptly is really important.</p><p class="buffer-bottom">Checking out when you leave is also really important. The process of checking out is what generates your invoice and how we can ensure you get paid the correct amount.</p><div class="greenblue no-margin buffer"><p class="buffer-bottom">Your visit with Terrance was scheduled to start at 11:00am. You arrived five minutes early, which is great. It's important to ensure the actual visit time and duration reflect the schedule agreed to with the member or family. </p><p class="buffer-bottom">Variations are okay as long as they are agreed or justified. Leave a comment for the Community Manager if a variation has occurred or alert the family if the scheduled duration or time is not suiting the member's need.</p><p>Oh, by the way... you can adjust the start and end times after a visit if you forget, but it's always better to log them correctly in the first place. </p></div><div class="button-wrap has-bg force"><button class="btn btn-continue next">Continue</button></div></div></div><div class="screen"><div class="content-wrap activity-complete-wrap"><div class="activity-complete-image a1a"></div><div class="activity copy-section"><div class="content-wrap"><img class="activity-tick" src="img/general/tick_icon.svg"/><p>"I greatly appreciate that you're always on time and so well organised."</p></div></div><div class="button-wrap has-bg force"><button class="btn btn-continue next">Continue</button></div></div></div><div class="screen"><div class="content-wrap activity-complete-wrap"><div class="activity-complete-image a1b"></div><div class="activity copy-section"><div class="content-wrap"><img class="activity-tick" src="img/general/tick_icon.svg"/><h2>Activity Complete</h2><p>"Being able to see that you've started on time via the Good Friends app gives me peace of mind."</p></div></div><a href="a9.html"><div class="button-wrap has-bg force"><button class="btn btn-continue next">Finish</button></div></a></div></div></div></body></html>

views/a1.pug
extends layout.pug
block content
	div.screen.blue-bg.no-menu.intro.has-flex
		div.content-wrap
			+logo("v1")
			h1 Getting off to a good start.
			p How to use the Good Friends app when you arrive at a visit.
			+button("Continue", false)

	div.screen
		div.content-wrap
			h1.blue A short, important note about these activities...
			p.buffer We're always developing the app to make it a better tool for you. So what you're going to see in this series of activities isn't an exact replica of what you'll use in real life. Instead, we'll be using a stripped back version to demonstrate the core functionality and get you up and running ASAP. 
			
			div.greenblue.no-margin.buffer
				p In this activity, you're going to select a job and log your start time in a mock-up of the Good Friends app.
				
			+button("Continue 2", true)

	div.screen
		div.content-wrap
			h1.blue You arrive at 10:55am for your visit with Terrance.
			img(src="img/a1/A1.03.jpg", class="img-responsive buffer") 

			+button("Open App", true)

	div.screen.app-screen
		div.content-wrap.app-wrap
			div.sub-app-screen
				div.day-wrap
					p.day Yesterday
					p.date 28 June
					div.app-person
						p.time 3:15pm
						p.name Patricia Davidson
						p.desc 30 minutes of Personal Care, Specialist Health Care
				div.day-wrap
					p.day Today
					p.date 29 June
					div.app-person
						p.time 9:30am
						p.name Donald Larkin
						p.desc 30 minutes of Domestic Assistance
					div.app-person.popover.app-next
						p.triangle-border Click Here
						p.time 11:00am
						p.name Terrance Normanby 
						p.desc 45 minutes of Yard Maintenance, Companionship 
			div.sub-app-screen
				p.checked-in You are checked in.
				+button("Check In", false)

				h3 Contact
				div.icon-w-text
					img(src="img/general/name_icon.svg")
					p Terrance Normanby
				div.icon-w-text
					img(src="img/general/address_icon.svg")
					p 39 Albert Street, Auckland CBD, Auckland 1010
				div.icon-w-text
					img(src="img/general/phone_icon.svg")
					p 0377 972 118 

				h3 Tasks
				p.text-left 45 minutes of Yard Maintenance, Companionship

				h3 Community Manager
				div.icon-w-text
					img(src="img/general/name_icon.svg")
					p Allen Hsu
				div.icon-w-text
					img(src="img/general/phone_icon.svg")
					p (029) 1955-644

		+button("Continue 2", true)

	div.screen
		div.content-wrap
			h1.blue Done! Checking in is just as easy as that.
			p.buffer Each visit is part of an agreed plan and budget. You should use the app to log the times you start and end your visits. 
			p.buffer-bottom It provides transparency and assurance to our Members and their families. Just knowing that you have arrived can provide enormous peace of mind for families and is greatly appreciated. Also, thinking you have not arrived can cause concern. So checking in promptly is really important.
			p.buffer-bottom Checking out when you leave is also really important. The process of checking out is what generates your invoice and how we can ensure you get paid the correct amount.
			
			div.greenblue.no-margin.buffer
				p.buffer-bottom Your visit with Terrance was scheduled to start at 11:00am. You arrived five minutes early, which is great. It's important to ensure the actual visit time and duration reflect the schedule agreed to with the member or family. 
				p.buffer-bottom Variations are okay as long as they are agreed or justified. Leave a comment for the Community Manager if a variation has occurred or alert the family if the scheduled duration or time is not suiting the member's need.
				p Oh, by the way... you can adjust the start and end times after a visit if you forget, but it's always better to log them correctly in the first place. 


			+button("Continue 2", true)

	div.screen
		div.content-wrap.activity-complete-wrap
			div.activity-complete-image.a1a
			div.activity.copy-section
				div.content-wrap
					+tick
					p "I greatly appreciate that you're always on time and so well organised."

			+button("Continue 2", true)

	div.screen
		div.content-wrap.activity-complete-wrap
			div.activity-complete-image.a1b
			div.activity.copy-section
				div.content-wrap
					+tick
					h2 Activity Complete
					p "Being able to see that you've started on time via the Good Friends app gives me peace of mind."
			
			a(href="a9.html")
				+button("Finish", true)
