views/a18.pug
extends layout.pug
block content
	div.screen.blue-bg.no-menu.intro.has-flex
		div.content-wrap
			+logo("v1")
			h1 Sometimes bad things happen.
			p Being prepared for unexpected events by understanding key policies.
			+button("Continue", false)

	div.screen
		div.content-wrap
			h1.blue Today you're doing some yard work for Sue.
			img(src="img/a18/A18.02.jpg", class="img-responsive buffer") 
			+button("Continue", true)
			+button("Back", true)

	div.screen
		div.content-wrap
			h1.blue When you finish and turn off the lawn mower...
			img(src="img/a18/A18.03.jpg", class="img-responsive buffer") 
			+button("Continue", true)
			+button("Back", true)

	div.screen
		div.content-wrap
			h1.blue ...you hear Sue screaming in pain inside the house!  
			img(src="img/a18/A18.04.jpg", class="img-responsive buffer") 
			p.text-center.buffer-bottom You rush inside.
			+button("Continue", true)
			+button("Back", true)

	div.screen
		div.content-wrap
			h1.blue Sue is sprawled on the floor at the foot of the stairs.

			p.question-text.buffer What the first thing you should you do?

			+button("Quiz", false, "Try to make her comfortable.", 1)
			+button("Quiz", false, "Call 111 and request an ambulance.", 2)
			+button("Back", true)

	div.screen
		div.content-wrap
			h1.blue Hang on! Get the ambulance on the way there first.
			img(src="img/a18/A18.06.01.jpg", class="img-responsive buffer") 

			+button("Continue 4", true, false, 2)

	div.screen
		div.content-wrap
			h1.blue Yes. You need to prioritise expert medical care.
			img(src="img/a18/A18.06.01.jpg", class="img-responsive buffer") 

			+button("Continue 4", true, false, 1)

	div.screen
		div.content-wrap
			h1.blue Great. An ambulance will be there any minute now.

			p.question-text.buffer What should you do next?

			+button("Quiz", false, "Try to make her comfortable.", 1)
			+button("Quiz", false, "Get her up and administer First Aid.", 2)
			+button("Back", true)

	div.screen
		div.content-wrap
			h1.blue Without moving or lifting, you get Sue comfortable. 
			img(src="img/a18/A18.08.01.jpg", class="img-responsive buffer") 

			p.buffer-bottom Do <b>NOT</b> move her! There is a significant risk you could, in fact, cause Sue greater injury. This is serious stuff. 
			p.buffer-bottom Additionally, this is a manual handling risk for <b>you</b>. Lifting an adult off the floor requires a specific, careful technique. 
			p.buffer-bottom So, instead... do your best to make Sue comfortable and wait for the ambulance officers. 
			div.greenblue.no-margin.buffer
				p.buffer-bottom As for administering First Aid, <b>only</b> do so if you're qualified and you know exactly what you're doing. If in doubt, wait for the ambulance.  
				p If Sue is bleeding, apply pressure and control bleeding. Continue to take instructions from the 111 operator if Sue is unresponsive or not breathing.

			+button("Continue 4", true, false, 2)

	div.screen
		div.content-wrap
			h1.blue Sue suggests you wait for the ambulance officers.
			img(src="img/a18/A18.08.01.jpg", class="img-responsive buffer") 

			p.buffer-bottom Do <b>NOT</b> move her! There is a significant risk you could, in fact, cause Sue greater injury. This is serious stuff. 
			p.buffer-bottom Additionally, this is a manual handling risk for <b>you</b>. Lifting an adult off the floor requires a specific, careful technique. 
			p.buffer-bottom So, instead... do your best to make Sue comfortable and wait for the ambulance officers. 
			div.greenblue.no-margin.buffer
				p.buffer-bottom As for administering First Aid, <b>only</b> do so if you're qualified and you know exactly what you're doing. If in doubt, wait for the ambulance.  
				p If Sue is bleeding, apply pressure and control bleeding. Continue to take instructions from the 111 operator if Sue is unresponsive or not breathing.

			+button("Continue 4", true, false, 1)

	div.screen
		div.content-wrap
			h1.blue Sue's in a lot of pain. Maybe she's broken something. 

			p.question-text.buffer What should you do next?

			+button("Quiz", false, "Notify Community Manager & Authorised Representative.", 1)
			+button("Quiz", false, "Get the prescription painkillers you saw in the bathroom.", 2)
			+button("Back", true)

	div.screen
		div.content-wrap
			h1.blue That's right. Your focus right now, though, is Sue. 

			p.buffer-bottom It's critical that as soon as the immediate situation is under control, you notify both the Community Manager and the Member's family. 
			p.buffer-bottom You can do this once the ambulance officers have taken over. In the meantime, you should stay with Sue and reassure that the ambulance will be there very soon.
			div.greenblue.no-margin.buffer
				p Avoid giving Sue any medication. Even her usual painkillers may be contraindicated in this situation. Wait for the ambulance. Encourage Sue to take deep breaths instead.

			+button("Continue 4", true, false, 2)

	div.screen
		div.content-wrap
			h1.blue Hold up! Are you sure that's the best action to take?
			div.row
				div.col-xs-4.col-xs-offset-4
					img(src="img/a18/A18.10.02.jpg", class="img-responsive buffer") 
			p.buffer Avoid giving Sue any medication. Even her usual painkillers may be contraindicated in this situation. Wait for the ambulance. Encourage Sue to take deep breaths instead.
			div.greenblue.no-margin.buffer
				p You should stay with Sue and reassure that the ambulance will be there very soon. Then... once the ambulance officers have taken over, it's critical you notify both the Community Manager and the Member's family

			+button("Continue 2", true, false, 1)

	div.screen
		div.content-wrap
			h1.blue It's always better to be prepared, don't you think? 
			div.row
				div.col-xs-4.col-xs-offset-4
					img(src="img/a18/A18.11.jpg", class="img-responsive buffer") 
			
			p.buffer-bottom Policy documents are never exciting reading – we all know that. However, they exist for an extremely important set of reasons. 
			p.buffer-bottom Many factors and potential situations have already been considered in order to draft the Good Friends policies and procedures. 
			p.buffer-bottom You can access all of our policies <a href='https://www.goodfriends.co.nz/resources/our-policies' target="_blank">here</a> and search for answers to questions at our FAQ’s <a href='https://www.goodfriends.co.nz/resources/helper-faqs' target="_blank">here</a>.
			div.greenblue.no-margin.buffer
				p When you're aware of the policies – including what you must and must not do under certain circumstances – it becomes easier for you to confidently navigate the sometimes complex, challenging, and confusing events that the workplace can present you with. 
			
			a(href="javascript:void(0)")
				+button("Finish", true, "complete")

dist/a18.html
<!DOCTYPE html><html lang="js"><head><meta name="viewport" content="width=device-width, initial-scale=1"><meta charset="UTF-8"><meta name="format-detection" content="telephone=no"><title>Good Friends</title><link rel="stylesheet" href="css/styles.min.css"><script src="js/scripts.min.js"></script><script src="js/ga.js"></script></head><body id="hammer-listener"><div class="loader"><div class="logo-wrap"><img class="img-responsive logo-v1" src="img/general/testlogo_v1.svg"/></div><p class="loading">Loading</p></div><div class="can-scroll-wrap"><img class="can-scroll scroll-gesture" src="img/general/gesture-animation.gif"></div><div class="content"><div class="menu"><div class="logo-wrap"><img class="img-responsive logo-v2" src="img/general/testlogo_v2.svg"/></div></div><div class="hamburger-menu"><div class="level-1"><div class="item trigger"><p>Welcome To Good Friends</p><i class="fa fa-chevron-right"></i></div><div class="level-2 level links closed"><div class="item menu-left-1"><p> <a href="#">Not Available</a></p></div></div><div class="item trigger"><p>How Friendly Are You?</p><i class="fa fa-chevron-right"></i></div><div class="level-2 level closed"><div class="item menu-left-1 trigger"><p>Meeting Your Members</p><i class="fa fa-chevron-right"></i></div><div class="level-3 level links closed"><div class="item menu-left-2"><p> <a href="a1.html">Getting off to a good start</a></p></div><div class="item menu-left-2"><p> <a href="a2.html">More than finishing To-Do lists</a></p></div><div class="item menu-left-2"><p> <a href="a3a.html">Getting out and about</a></p></div><div class="item menu-left-2"><p> <a href="a3b.html">Choosing your words</a></p></div></div><div class="item menu-left-1 trigger"><p>Our Vision Of A Visit</p><i class="fa fa-chevron-right"></i></div><div class="level-3 level links closed"><div class="item menu-left-2"><p> <a href="a4.html">Focusing your time &amp; attention</a></p></div><div class="item menu-left-2"><p> <a href="a5.html">Meeting the needs of Members</a></p></div><div class="item menu-left-2"><p> <a href="a6a.html">Providing help to individuals (Pt.1)</a></p></div><div class="item menu-left-2"><p> <a href="a6b.html">Providing help to individuals (Pt.2)</a></p></div><div class="item menu-left-2"><p> <a href="a19.html">Monitoring medication for Members</a></p></div><div class="item menu-left-2"><p> <a href="a7.html">Providing a clear picture to all</a></p></div><div class="item menu-left-2"><p> <a href="a8.html">Balancing Act</a></p></div><div class="item menu-left-2"><p> <a href="a18.html">Sometimes bad things happen</a></p></div></div><div class="item menu-left-1 trigger"><p>Finishing Your Visit</p><i class="fa fa-chevron-right"></i></div><div class="level-3 level links closed"><div class="item menu-left-2"><p> <a href="a9.html">Wrapping up the right way</a></p></div></div></div><div class="item trigger"><p>How To Make the Most Out Of Good Friends</p><i class="fa fa-chevron-right"></i></div><div class="level-2 level links closed"><div class="item menu-left-1"><p> <a href="#">Not Available</a></p></div></div><div class="item trigger"><p>Policy Pack</p><i class="fa fa-chevron-right"></i></div><div class="level-2 level links closed"><div class="item menu-left-1"><p> <a href="#">Not Available</a></p></div></div><div class="item trigger"><p>Compliance Key Messages</p><i class="fa fa-chevron-right"></i></div><div class="level-2 level links closed"><div class="item menu-left-1"><p> <a href="compliance.html">Compliance</a></p></div></div></div></div><div class="screen blue-bg no-menu intro has-flex"><div class="content-wrap"><div class="logo-wrap"><img class="img-responsive logo-v1" src="img/general/testlogo_v1.svg"/></div><h1>Sometimes bad things happen.</h1><p>Being prepared for unexpected events by understanding key policies.</p><div class="button-wrap"><button class="btn btn-continue next">Continue</button></div></div></div><div class="screen"><div class="content-wrap"><h1 class="blue">Today you're doing some yard work for Sue.</h1><img class="img-responsive buffer" src="img/a18/A18.02.jpg"><div class="button-wrap has-bg"><button class="btn btn-continue next">Continue</button></div><div class="button-wrap has-bg"><button class="btn btn-back">Back</button></div></div></div><div class="screen"><div class="content-wrap"><h1 class="blue">When you finish and turn off the lawn mower...</h1><img class="img-responsive buffer" src="img/a18/A18.03.jpg"><div class="button-wrap has-bg"><button class="btn btn-continue next">Continue</button></div><div class="button-wrap has-bg"><button class="btn btn-back">Back</button></div></div></div><div class="screen"><div class="content-wrap"><h1 class="blue">...you hear Sue screaming in pain inside the house!  </h1><img class="img-responsive buffer" src="img/a18/A18.04.jpg"><p class="text-center buffer-bottom">You rush inside.</p><div class="button-wrap has-bg"><button class="btn btn-continue next">Continue</button></div><div class="button-wrap has-bg"><button class="btn btn-back">Back</button></div></div></div><div class="screen"><div class="content-wrap"><h1 class="blue">Sue is sprawled on the floor at the foot of the stairs.</h1><p class="question-text buffer">What the first thing you should you do?</p><button class="btn btn-quiz" data-branch="1">Try to make her comfortable.</button><button class="btn btn-quiz" data-branch="2">Call 111 and request an ambulance.</button><div class="button-wrap has-bg"><button class="btn btn-back">Back</button></div></div></div><div class="screen"><div class="content-wrap"><h1 class="blue">Hang on! Get the ambulance on the way there first.</h1><img class="img-responsive buffer" src="img/a18/A18.06.01.jpg"><div class="button-wrap has-bg force"><button class="btn" data-branch="2">Continue</button></div></div></div><div class="screen"><div class="content-wrap"><h1 class="blue">Yes. You need to prioritise expert medical care.</h1><img class="img-responsive buffer" src="img/a18/A18.06.01.jpg"><div class="button-wrap has-bg force"><button class="btn" data-branch="1">Continue</button></div></div></div><div class="screen"><div class="content-wrap"><h1 class="blue">Great. An ambulance will be there any minute now.</h1><p class="question-text buffer">What should you do next?</p><button class="btn btn-quiz" data-branch="1">Try to make her comfortable.</button><button class="btn btn-quiz" data-branch="2">Get her up and administer First Aid.</button><div class="button-wrap has-bg"><button class="btn btn-back">Back</button></div></div></div><div class="screen"><div class="content-wrap"><h1 class="blue">Without moving or lifting, you get Sue comfortable. </h1><img class="img-responsive buffer" src="img/a18/A18.08.01.jpg"><p class="buffer-bottom">Do <b>NOT</b> move her! There is a significant risk you could, in fact, cause Sue greater injury. This is serious stuff. </p><p class="buffer-bottom">Additionally, this is a manual handling risk for <b>you</b>. Lifting an adult off the floor requires a specific, careful technique. </p><p class="buffer-bottom">So, instead... do your best to make Sue comfortable and wait for the ambulance officers. </p><div class="greenblue no-margin buffer"><p class="buffer-bottom">As for administering First Aid, <b>only</b> do so if you're qualified and you know exactly what you're doing. If in doubt, wait for the ambulance.  </p><p>If Sue is bleeding, apply pressure and control bleeding. Continue to take instructions from the 111 operator if Sue is unresponsive or not breathing.</p></div><div class="button-wrap has-bg force"><button class="btn" data-branch="2">Continue</button></div></div></div><div class="screen"><div class="content-wrap"><h1 class="blue">Sue suggests you wait for the ambulance officers.</h1><img class="img-responsive buffer" src="img/a18/A18.08.01.jpg"><p class="buffer-bottom">Do <b>NOT</b> move her! There is a significant risk you could, in fact, cause Sue greater injury. This is serious stuff. </p><p class="buffer-bottom">Additionally, this is a manual handling risk for <b>you</b>. Lifting an adult off the floor requires a specific, careful technique. </p><p class="buffer-bottom">So, instead... do your best to make Sue comfortable and wait for the ambulance officers. </p><div class="greenblue no-margin buffer"><p class="buffer-bottom">As for administering First Aid, <b>only</b> do so if you're qualified and you know exactly what you're doing. If in doubt, wait for the ambulance.  </p><p>If Sue is bleeding, apply pressure and control bleeding. Continue to take instructions from the 111 operator if Sue is unresponsive or not breathing.</p></div><div class="button-wrap has-bg force"><button class="btn" data-branch="1">Continue</button></div></div></div><div class="screen"><div class="content-wrap"><h1 class="blue">Sue's in a lot of pain. Maybe she's broken something. </h1><p class="question-text buffer">What should you do next?</p><button class="btn btn-quiz" data-branch="1">Notify Community Manager &amp; Authorised Representative.</button><button class="btn btn-quiz" data-branch="2">Get the prescription painkillers you saw in the bathroom.</button><div class="button-wrap has-bg"><button class="btn btn-back">Back</button></div></div></div><div class="screen"><div class="content-wrap"><h1 class="blue">That's right. Your focus right now, though, is Sue. </h1><p class="buffer-bottom">It's critical that as soon as the immediate situation is under control, you notify both the Community Manager and the Member's family. </p><p class="buffer-bottom">You can do this once the ambulance officers have taken over. In the meantime, you should stay with Sue and reassure that the ambulance will be there very soon.</p><div class="greenblue no-margin buffer"><p>Avoid giving Sue any medication. Even her usual painkillers may be contraindicated in this situation. Wait for the ambulance. Encourage Sue to take deep breaths instead.</p></div><div class="button-wrap has-bg force"><button class="btn" data-branch="2">Continue</button></div></div></div><div class="screen"><div class="content-wrap"><h1 class="blue">Hold up! Are you sure that's the best action to take?</h1><div class="row"><div class="col-xs-4 col-xs-offset-4"><img class="img-responsive buffer" src="img/a18/A18.10.02.jpg"></div></div><p class="buffer">Avoid giving Sue any medication. Even her usual painkillers may be contraindicated in this situation. Wait for the ambulance. Encourage Sue to take deep breaths instead.</p><div class="greenblue no-margin buffer"><p>You should stay with Sue and reassure that the ambulance will be there very soon. Then... once the ambulance officers have taken over, it's critical you notify both the Community Manager and the Member's family</p></div><div class="button-wrap has-bg force"><button class="btn btn-continue next">Continue</button></div></div></div><div class="screen"><div class="content-wrap"><h1 class="blue">It's always better to be prepared, don't you think? </h1><div class="row"><div class="col-xs-4 col-xs-offset-4"><img class="img-responsive buffer" src="img/a18/A18.11.jpg"></div></div><p class="buffer-bottom">Policy documents are never exciting reading – we all know that. However, they exist for an extremely important set of reasons. </p><p class="buffer-bottom">Many factors and potential situations have already been considered in order to draft the Good Friends policies and procedures. </p><p class="buffer-bottom">You can access all of our policies <a href='https://www.goodfriends.co.nz/resources/our-policies' target="_blank">here</a> and search for answers to questions at our FAQ’s <a href='https://www.goodfriends.co.nz/resources/helper-faqs' target="_blank">here</a>.</p><div class="greenblue no-margin buffer"><p>When you're aware of the policies – including what you must and must not do under certain circumstances – it becomes easier for you to confidently navigate the sometimes complex, challenging, and confusing events that the workplace can present you with. </p></div><a href="javascript:void(0)"><div class="button-wrap has-bg force"><button class="btn btn-continue complete-module">Finish</button></div></a></div></div></div></body></html>
