views/a19.pug
extends layout.pug
block content
	div.screen.blue-bg.no-menu.intro.has-flex
		div.content-wrap
			+logo("v1")
			h1 Medication Safety in the home
			p Being a vigilant, responsible, and safe Caregiver.
			+button("Continue", false)

	div.screen
		div.content-wrap
			h1.blue This is your first visit with Ted. You ask about these:
			img(src="img/a19/A19.02.jpg", class="img-responsive buffer") 
			
			p.buffer "Oh yeah... that" says Ted. "I get ‘em out of that damn packaging and into that container while my hands aren't hurting. It makes it much easier for me to get at ‘em each morning".  

			+button("Continue", true)
			+button("Back", true)

	div.screen
		div.content-wrap
			h1.blue The box says daily. You ask if he's taken one today. 
			img(src="img/a19/A19.03.jpg", class="img-responsive buffer") 
			
			p.buffer "I think so... umm... maybe not. Can't remember, actually. Perhaps I should take another one just to be sure. I tell ya, it really hurts later on if I don't take one." 

			+button("Continue", true)
			+button("Back", true)

	div.screen
		div.content-wrap
			h1.blue What do you think you should do?
			img(src="img/a19/A19.03.jpg", class="img-responsive buffer") 

			+button("Quiz", false, "Wait. If Ted is in pain, direct him to take a capsule. ", 1)
			+button("Quiz", false, "Send a photo to Ted's Authorised Representative.", 2)
			+button("Quiz", false, "Call the Community Manager for further advice.", 3)
			+button("Back", true)

	div.screen
		div.content-wrap
			h1.blue Risky! What if Ted has already taken one? No, no, no. 
			
			div.row
				div.col-xs-4.col-xs-offset-4
					img(src="img/a19/A19.05.01.jpg", class="img-responsive buffer") 

			+button("Try Again", true, false, 1)

	div.screen
		div.content-wrap
			h1.blue This probably won't help with the problem right now.  
			
			img(src="img/a19/A19.02_1.jpg", class="img-responsive buffer") 
			
			p.buffer-bottom The Authorised Representative definitely needs to know about Ted's "solution" for his medication – as does the Community Manager. They can then work with Ted to find a safer alternative. Consequently, you need to detail this in the notes for the visit and attach photos. 

			div.greenblue.no-margin.buffer
				p However, this doesn't solve your immediate problem because, without a unit dose style of pack, you still don't know whether or not Ted has taken his medication today. 

			+button("Try Again 2", true, false, 2)

	div.screen
		div.content-wrap
			h1.blue.buffer-bottom That's definitely your best course of action here. 

			p.buffer You need to call the Community Manager directly. Without a unit dose style of pack, you don't know whether or not Ted has taken his medication today. The Community Manager will be able to help you navigate the situation. 
			p.buffer-bottom You definitely have to detail this in the notes for the visit and attach photos. This should be a brief note in the App and the Community Manager will support you to develop a detailed file note. Both the Community Manager and the Authorised Representative need to know about Ted's "solution" for his medication. That way, they can work with Ted to find a safer alternative.
			div.greenblue.no-margin.buffer
				p Discuss with Ted and his family that he should have a discussion with the pharmacist so that there is a safe effective way for Ted to manage his medication which works well for him. A different aid may be needed. The Community Manager can help with this. You are also not authorised to assist with medications if they are not contained in a Dose Administration Aids (DAA)

			+button("Continue 2", true, false, 1)

	div.screen
		div.content-wrap
			h1.blue There's no room for error in relation to medications. 
			div.row
				div.col-xs-4.col-xs-offset-4
					img(src="img/a18/A18.11.jpg", class="img-responsive buffer") 
			
			p.buffer-bottom Only Helpers who have successfully completed our Medication Competency can be involved in <i>providing</i> (prompting or supervising) medication to members. 
			p.buffer-bottom If you are not competent, you must never – under any circumstances – get involved with a Member's medication. If you are asked to do so, you must decline politely and contact the Community Manager. 
			p.buffer-bottom If you <b>are</b> competent to prompt or supervise medication, you must familiarise yourself with the details and directions for medications in each relevant Member's Help Plan. If there are no directions, contact the Community Manager before taking any action. 
			div.greenblue.no-margin.buffer
				p.buffer-bottom If the circumstances are different to what is on the Help Plan, then you must contact the Community Manager. The Community Manager will update the Help Plan and provide this to you and the family.
				p Please stop and read the Good Friends Medication Policy before doing any more of these activities.  
			
			a(href="a7.html")
				+button("Finish", true)

dist/a19.html
<!DOCTYPE html><html lang="js"><head><meta name="viewport" content="width=device-width, initial-scale=1"><meta charset="UTF-8"><meta name="format-detection" content="telephone=no"><title>Good Friends</title><link rel="stylesheet" href="css/styles.min.css"><script src="js/scripts.min.js"></script><script src="js/ga.js"></script></head><body id="hammer-listener"><div class="loader"><div class="logo-wrap"><img class="img-responsive logo-v1" src="img/general/testlogo_v1.svg"/></div><p class="loading">Loading</p></div><div class="can-scroll-wrap"><img class="can-scroll scroll-gesture" src="img/general/gesture-animation.gif"></div><div class="content"><div class="menu"><div class="logo-wrap"><img class="img-responsive logo-v2" src="img/general/testlogo_v2.svg"/></div></div><div class="hamburger-menu"><div class="level-1"><div class="item trigger"><p>Welcome To Good Friends</p><i class="fa fa-chevron-right"></i></div><div class="level-2 level links closed"><div class="item menu-left-1"><p> <a href="#">Not Available</a></p></div></div><div class="item trigger"><p>How Friendly Are You?</p><i class="fa fa-chevron-right"></i></div><div class="level-2 level closed"><div class="item menu-left-1 trigger"><p>Meeting Your Members</p><i class="fa fa-chevron-right"></i></div><div class="level-3 level links closed"><div class="item menu-left-2"><p> <a href="a1.html">Getting off to a good start</a></p></div><div class="item menu-left-2"><p> <a href="a2.html">More than finishing To-Do lists</a></p></div><div class="item menu-left-2"><p> <a href="a3a.html">Getting out and about</a></p></div><div class="item menu-left-2"><p> <a href="a3b.html">Choosing your words</a></p></div></div><div class="item menu-left-1 trigger"><p>Our Vision Of A Visit</p><i class="fa fa-chevron-right"></i></div><div class="level-3 level links closed"><div class="item menu-left-2"><p> <a href="a4.html">Focusing your time &amp; attention</a></p></div><div class="item menu-left-2"><p> <a href="a5.html">Meeting the needs of Members</a></p></div><div class="item menu-left-2"><p> <a href="a6a.html">Providing help to individuals (Pt.1)</a></p></div><div class="item menu-left-2"><p> <a href="a6b.html">Providing help to individuals (Pt.2)</a></p></div><div class="item menu-left-2"><p> <a href="a19.html">Monitoring medication for Members</a></p></div><div class="item menu-left-2"><p> <a href="a7.html">Providing a clear picture to all</a></p></div><div class="item menu-left-2"><p> <a href="a8.html">Balancing Act</a></p></div><div class="item menu-left-2"><p> <a href="a18.html">Sometimes bad things happen</a></p></div></div><div class="item menu-left-1 trigger"><p>Finishing Your Visit</p><i class="fa fa-chevron-right"></i></div><div class="level-3 level links closed"><div class="item menu-left-2"><p> <a href="a9.html">Wrapping up the right way</a></p></div></div></div><div class="item trigger"><p>How To Make the Most Out Of Good Friends</p><i class="fa fa-chevron-right"></i></div><div class="level-2 level links closed"><div class="item menu-left-1"><p> <a href="#">Not Available</a></p></div></div><div class="item trigger"><p>Policy Pack</p><i class="fa fa-chevron-right"></i></div><div class="level-2 level links closed"><div class="item menu-left-1"><p> <a href="#">Not Available</a></p></div></div><div class="item trigger"><p>Compliance Key Messages</p><i class="fa fa-chevron-right"></i></div><div class="level-2 level links closed"><div class="item menu-left-1"><p> <a href="compliance.html">Compliance</a></p></div></div></div></div><div class="screen blue-bg no-menu intro has-flex"><div class="content-wrap"><div class="logo-wrap"><img class="img-responsive logo-v1" src="img/general/testlogo_v1.svg"/></div><h1>Medication Safety in the home</h1><p>Being a vigilant, responsible, and safe Caregiver.</p><div class="button-wrap"><button class="btn btn-continue next">Continue</button></div></div></div><div class="screen"><div class="content-wrap"><h1 class="blue">This is your first visit with Ted. You ask about these:</h1><img class="img-responsive buffer" src="img/a19/A19.02.jpg"><p class="buffer">"Oh yeah... that" says Ted. "I get ‘em out of that damn packaging and into that container while my hands aren't hurting. It makes it much easier for me to get at ‘em each morning".  </p><div class="button-wrap has-bg"><button class="btn btn-continue next">Continue</button></div><div class="button-wrap has-bg"><button class="btn btn-back">Back</button></div></div></div><div class="screen"><div class="content-wrap"><h1 class="blue">The box says daily. You ask if he's taken one today. </h1><img class="img-responsive buffer" src="img/a19/A19.03.jpg"><p class="buffer">"I think so... umm... maybe not. Can't remember, actually. Perhaps I should take another one just to be sure. I tell ya, it really hurts later on if I don't take one." </p><div class="button-wrap has-bg"><button class="btn btn-continue next">Continue</button></div><div class="button-wrap has-bg"><button class="btn btn-back">Back</button></div></div></div><div class="screen"><div class="content-wrap"><h1 class="blue">What do you think you should do?</h1><img class="img-responsive buffer" src="img/a19/A19.03.jpg"><button class="btn btn-quiz" data-branch="1">Wait. If Ted is in pain, direct him to take a capsule. </button><button class="btn btn-quiz" data-branch="2">Send a photo to Ted's Authorised Representative.</button><button class="btn btn-quiz" data-branch="3">Call the Community Manager for further advice.</button><div class="button-wrap has-bg"><button class="btn btn-back">Back</button></div></div></div><div class="screen"><div class="content-wrap"><h1 class="blue">Risky! What if Ted has already taken one? No, no, no. </h1><div class="row"><div class="col-xs-4 col-xs-offset-4"><img class="img-responsive buffer" src="img/a19/A19.05.01.jpg"></div></div><div class="button-wrap has-bg"><button class="btn btn-back" data-branch="1">Try Again</button></div></div></div><div class="screen"><div class="content-wrap"><h1 class="blue">This probably won't help with the problem right now.  </h1><img class="img-responsive buffer" src="img/a19/A19.02_1.jpg"><p class="buffer-bottom">The Authorised Representative definitely needs to know about Ted's "solution" for his medication – as does the Community Manager. They can then work with Ted to find a safer alternative. Consequently, you need to detail this in the notes for the visit and attach photos. </p><div class="greenblue no-margin buffer"><p>However, this doesn't solve your immediate problem because, without a unit dose style of pack, you still don't know whether or not Ted has taken his medication today. </p></div><div class="button-wrap has-bg force"><button class="btn btn-back" data-branch="2">Try Again</button></div></div></div><div class="screen"><div class="content-wrap"><h1 class="blue buffer-bottom">That's definitely your best course of action here. </h1><p class="buffer">You need to call the Community Manager directly. Without a unit dose style of pack, you don't know whether or not Ted has taken his medication today. The Community Manager will be able to help you navigate the situation. </p><p class="buffer-bottom">You definitely have to detail this in the notes for the visit and attach photos. This should be a brief note in the App and the Community Manager will support you to develop a detailed file note. Both the Community Manager and the Authorised Representative need to know about Ted's "solution" for his medication. That way, they can work with Ted to find a safer alternative.</p><div class="greenblue no-margin buffer"><p>Discuss with Ted and his family that he should have a discussion with the pharmacist so that there is a safe effective way for Ted to manage his medication which works well for him. A different aid may be needed. The Community Manager can help with this. You are also not authorised to assist with medications if they are not contained in a Dose Administration Aids (DAA)</p></div><div class="button-wrap has-bg force"><button class="btn btn-continue next">Continue</button></div></div></div><div class="screen"><div class="content-wrap"><h1 class="blue">There's no room for error in relation to medications. </h1><div class="row"><div class="col-xs-4 col-xs-offset-4"><img class="img-responsive buffer" src="img/a18/A18.11.jpg"></div></div><p class="buffer-bottom">Only Helpers who have successfully completed our Medication Competency can be involved in <i>providing</i> (prompting or supervising) medication to members. </p><p class="buffer-bottom">If you are not competent, you must never – under any circumstances – get involved with a Member's medication. If you are asked to do so, you must decline politely and contact the Community Manager. </p><p class="buffer-bottom">If you <b>are</b> competent to prompt or supervise medication, you must familiarise yourself with the details and directions for medications in each relevant Member's Help Plan. If there are no directions, contact the Community Manager before taking any action. </p><div class="greenblue no-margin buffer"><p class="buffer-bottom">If the circumstances are different to what is on the Help Plan, then you must contact the Community Manager. The Community Manager will update the Help Plan and provide this to you and the family.</p><p>Please stop and read the Good Friends Medication Policy before doing any more of these activities.  </p></div><a href="a7.html"><div class="button-wrap has-bg force"><button class="btn btn-continue next">Finish</button></div></a></div></div></div></body></html>
