dist/a2.html
<!DOCTYPE html><html lang="js"><head><meta name="viewport" content="width=device-width, initial-scale=1"><meta charset="UTF-8"><meta name="format-detection" content="telephone=no"><title>Good Friends</title><link rel="stylesheet" href="css/styles.min.css"><script src="js/scripts.min.js"></script><script src="js/ga.js"></script></head><body id="hammer-listener"><div class="loader"><div class="logo-wrap"><img class="img-responsive logo-v1" src="img/general/testlogo_v1.svg"/></div><p class="loading">Loading</p></div><div class="can-scroll-wrap"><img class="can-scroll scroll-gesture" src="img/general/gesture-animation.gif"></div><div class="content"><div class="menu"><div class="logo-wrap"><img class="img-responsive logo-v2" src="img/general/testlogo_v2.svg"/></div></div><div class="hamburger-menu"><div class="level-1"><div class="item trigger"><p>Welcome To Good Friends</p><i class="fa fa-chevron-right"></i></div><div class="level-2 level links closed"><div class="item menu-left-1"><p> <a href="#">Not Available</a></p></div></div><div class="item trigger"><p>How Friendly Are You?</p><i class="fa fa-chevron-right"></i></div><div class="level-2 level closed"><div class="item menu-left-1 trigger"><p>Meeting Your Members</p><i class="fa fa-chevron-right"></i></div><div class="level-3 level links closed"><div class="item menu-left-2"><p> <a href="a1.html">Getting off to a good start</a></p></div><div class="item menu-left-2"><p> <a href="a2.html">More than finishing To-Do lists</a></p></div><div class="item menu-left-2"><p> <a href="a3a.html">Getting out and about</a></p></div><div class="item menu-left-2"><p> <a href="a3b.html">Choosing your words</a></p></div></div><div class="item menu-left-1 trigger"><p>Our Vision Of A Visit</p><i class="fa fa-chevron-right"></i></div><div class="level-3 level links closed"><div class="item menu-left-2"><p> <a href="a4.html">Focusing your time &amp; attention</a></p></div><div class="item menu-left-2"><p> <a href="a5.html">Meeting the needs of Members</a></p></div><div class="item menu-left-2"><p> <a href="a6a.html">Providing help to individuals (Pt.1)</a></p></div><div class="item menu-left-2"><p> <a href="a6b.html">Providing help to individuals (Pt.2)</a></p></div><div class="item menu-left-2"><p> <a href="a19.html">Monitoring medication for Members</a></p></div><div class="item menu-left-2"><p> <a href="a7.html">Providing a clear picture to all</a></p></div><div class="item menu-left-2"><p> <a href="a8.html">Balancing Act</a></p></div><div class="item menu-left-2"><p> <a href="a18.html">Sometimes bad things happen</a></p></div></div><div class="item menu-left-1 trigger"><p>Finishing Your Visit</p><i class="fa fa-chevron-right"></i></div><div class="level-3 level links closed"><div class="item menu-left-2"><p> <a href="a9.html">Wrapping up the right way</a></p></div></div></div><div class="item trigger"><p>How To Make the Most Out Of Good Friends</p><i class="fa fa-chevron-right"></i></div><div class="level-2 level links closed"><div class="item menu-left-1"><p> <a href="#">Not Available</a></p></div></div><div class="item trigger"><p>Policy Pack</p><i class="fa fa-chevron-right"></i></div><div class="level-2 level links closed"><div class="item menu-left-1"><p> <a href="#">Not Available</a></p></div></div><div class="item trigger"><p>Compliance Key Messages</p><i class="fa fa-chevron-right"></i></div><div class="level-2 level links closed"><div class="item menu-left-1"><p> <a href="compliance.html">Compliance</a></p></div></div></div></div><div class="screen blue-bg no-menu intro has-flex"><div class="content-wrap"><div class="logo-wrap"><img class="img-responsive logo-v1" src="img/general/testlogo_v1.svg"/></div><h1>More than finishing To-Do lists.</h1><p>Being a Caregiver by building a personal connection with your Members.</p><div class="button-wrap"><button class="btn btn-continue next">Continue</button></div></div></div><div class="screen"><div class="content-wrap"><h1 class="blue">Introduction</h1><p class="buffer">To be successful, think of the care you provide as something like highly personalised customer service. You are more than a cleaner or yard worker or in-home carer. You are a significant part of each person's life. </p><div class="greenblue no-margin buffer"><p class="buffer-bottom">By focusing on what might at first – seem like "little things", you will strengthen your relationship with Members and this will, in turn, lead to more opportunities for you. </p><p>For instance, think about how you might start a visit...</p></div><div class="button-wrap has-bg force"><button class="btn btn-continue next">Continue</button></div></div></div><div class="screen"><div class="content-wrap"><h1 class="blue">You arrive at 11:50am for your visit with Stan.</h1><img class="img-responsive buffer" src="img/a2/A2.03.jpg"><div class="button-wrap has-bg"><button class="btn btn-continue next">Open App</button></div></div></div><div class="screen app-screen"><div class="content-wrap app-wrap"><div class="sub-app-screen"><div class="day-wrap"><p class="day">Today</p><p class="date">29 June</p><div class="app-person"><p class="time">9:30am</p><p class="name">Donald Larkin</p><p class="desc">30 minutes of Domestic Assistance</p></div><div class="app-person"><p class="time">10:45am</p><p class="name">Eliza Chen </p><p class="desc">60 minutes of Personal Care, Companionship</p></div><div class="app-person popover app-next"><p class="triangle-border">Click Here</p><p class="time">12:00am</p><p class="name">Stanley Buckland </p><p class="desc">30 minutes of Domestic Assistance</p></div></div></div><div class="sub-app-screen"><p class="checked-in">You are checked in.</p><button class="btn btn-check-in not-clicked">Check In</button><h3>Contact</h3><div class="icon-w-text"><img src="img/general/name_icon.svg"><p>Stanley Buckland </p></div><div class="icon-w-text"><img src="img/general/address_icon.svg"><p>190 Terry Street, Blockhouse Bay, Auckland 0600</p></div><div class="icon-w-text"><img src="img/general/phone_icon.svg"><p>(027) 1153-809</p></div><h3>Tasks</h3><p class="text-left">30 minutes of Domestic Assistance</p><h3>Community Manager</h3><div class="icon-w-text"><img src="img/general/name_icon.svg"><p>Allen Hsu</p></div><div class="icon-w-text"><img src="img/general/phone_icon.svg"><p>(029) 1955-644</p></div></div></div><div class="button-wrap has-bg force"><button class="btn btn-continue next">Continue</button></div></div><div class="screen"><div class="content-wrap"><h1 class="blue">You know Stan's kitchen needs a good clean.</h1><img class="img-responsive buffer" src="img/a2/A2.06_1.jpg"><div class="button-wrap has-bg"><button class="btn btn-continue next">Continue</button></div></div></div><div class="screen"><div class="content-wrap"><h1 class="blue">Morning! Ah, sorry the place gets messy so quickly.</h1><img class="img-responsive buffer" src="img/a2/A2.06_2.jpg"><div class="button-wrap has-bg"><button class="btn btn-continue next">Continue</button></div></div></div><div class="screen"><div class="content-wrap"><h1 class="blue">Thing is, it's such a lovely day! Let's go for a walk.</h1><img class="img-responsive buffer" src="img/a2/A2.07_1.jpg"><p class="question-text">What will you say?</p><button class="btn btn-quiz" data-branch="1">Would you still like me to take care of the kitchen?</button><button class="btn btn-quiz" data-branch="2">Well, I have to get stuck into that kitchen, Stan...</button><div class="button-wrap has-bg"><button class="btn btn-back">Back</button></div></div></div><div class="screen"><div class="content-wrap"><h1 class="blue">Great work! As a Good Friends Helper, you're more than a cleaner.</h1><p class="buffer">Sure, there are scheduled tasks, but you're there to provide a service. Sometimes, that means responding to the changing needs of your Members instead of being straight-jacketed by the task list.</p><p class="buffer-bottom">Of course, you need to exercise good judgement. If the Member is not the Authorised Representative, you might want to confirm any requested changes to the schedule. </p><p class="buffer-bottom">In this case, Stan is capable of looking after himself most of the time. He just needs a bit of a hand now and then. He also enjoys the company.</p><div class="greenblue no-margin buffer"><p class="buffer-bottom">He doesn't have an Authorised Representative so as long as any changes to the schedule fall within the scope of his agreed Help Plan, Stan will clearly value the flexibility. </p><p class="buffer-bottom">Your response was good. Why not add something like the following to your toolbox? </p><p class="buffer-bottom">"I was planning to tidy up the kitchen this morning, Stan. Is that still something you'd like me to do?"</p><p>This does several things:</p><ul><li>It demonstrates your commitment to complete the scheduled tasks </li><li>At the same time, it shows your willingness to be flexible and responsive to his wishes</li><li>It encourages Stan's input and empowers him to make a decision based on his preferences.</li></ul></div><div class="button-wrap has-bg force"><button class="btn" data-branch="2">Continue</button></div></div></div><div class="screen"><div class="content-wrap"><h1 class="blue">Hmmm... you missed an opportunity here to delight.</h1><p class="buffer">Sure, there are scheduled tasks, but you're there to provide a service. Sometimes, that means responding to the changing needs of your Members instead of being straight-jacketed by the task list.</p><p class="buffer-bottom">Of course, you need to exercise good judgement. If the Member is not the Authorised Representative, you might want to confirm any requested changes to the schedule. </p><p class="buffer-bottom">In this case, Stan is capable of looking after himself most of the time. He just needs a bit of a hand now and then. He also enjoys the company.</p><div class="greenblue no-margin buffer"><p class="buffer-bottom">He doesn't have an Authorised Representative so as long as any changes to the schedule fall within the scope of his agreed Help Plan, Stan will clearly value the flexibility.</p><p class="buffer-bottom">Take the following: "I was planning to tidy up the kitchen this morning, Stan. Is that still something you'd like me to do?"</p><p>This does several things:</p><ul><li>It demonstrates your commitment to complete the scheduled tasks </li><li>At the same time, it shows your willingness to be flexible and responsive to his wishes</li><li>It encourages Stan's input and empowers him to make a decision based on his preferences.</li></ul></div><div class="button-wrap has-bg force"><button class="btn" data-branch="1">Continue</button></div></div></div><div class="screen"><div class="content-wrap activity-complete-wrap"><div class="activity-complete-image a2"></div><div class="activity copy-section"><div class="content-wrap"><img class="activity-tick" src="img/general/tick_icon.svg"/><h2>Activity Complete</h2><p>"I really value the level of personalised care and attention I receive."</p></div></div><a href="a3a.html"><div class="button-wrap has-bg force"><button class="btn btn-continue next">Finish</button></div></a></div></div></div></body></html>

views/a2.pug
extends layout.pug
block content
	div.screen.blue-bg.no-menu.intro.has-flex
		div.content-wrap
			+logo("v1")
			h1 More than finishing To-Do lists.
			p Being a Caregiver by building a personal connection with your Members.
			+button("Continue", false)

	div.screen
		div.content-wrap
			h1.blue Introduction
			p.buffer To be successful, think of the care you provide as something like highly personalised customer service. You are more than a cleaner or yard worker or in-home carer. You are a significant part of each person's life. 
			
			div.greenblue.no-margin.buffer
				p.buffer-bottom By focusing on what might at first – seem like "little things", you will strengthen your relationship with Members and this will, in turn, lead to more opportunities for you. 
				p For instance, think about how you might start a visit...

			+button("Continue 2", true)

	div.screen
		div.content-wrap
			h1.blue You arrive at 11:50am for your visit with Stan.
			img(src="img/a2/A2.03.jpg", class="img-responsive buffer") 

			+button("Open App", true)

	div.screen.app-screen
		div.content-wrap.app-wrap
			div.sub-app-screen
				div.day-wrap
					p.day Today
					p.date 29 June
					div.app-person
						p.time 9:30am
						p.name Donald Larkin
						p.desc 30 minutes of Domestic Assistance
					div.app-person
						p.time 10:45am
						p.name Eliza Chen 
						p.desc 60 minutes of Personal Care, Companionship
					div.app-person.popover.app-next
						p.triangle-border Click Here
						p.time 12:00am
						p.name Stanley Buckland 
						p.desc 30 minutes of Domestic Assistance
			div.sub-app-screen
				p.checked-in You are checked in.
				+button("Check In", false)

				h3 Contact
				div.icon-w-text
					img(src="img/general/name_icon.svg")
					p Stanley Buckland 
				div.icon-w-text
					img(src="img/general/address_icon.svg")
					p 190 Terry Street, Blockhouse Bay, Auckland 0600

				div.icon-w-text
					img(src="img/general/phone_icon.svg")
					p (027) 1153-809

				h3 Tasks
				p.text-left 30 minutes of Domestic Assistance

				h3 Community Manager
				div.icon-w-text
					img(src="img/general/name_icon.svg")
					p Allen Hsu
				div.icon-w-text
					img(src="img/general/phone_icon.svg")
					p (029) 1955-644

		+button("Continue 2", true)
	
	div.screen
		div.content-wrap
			h1.blue You know Stan's kitchen needs a good clean.
			img(src="img/a2/A2.06_1.jpg", class="img-responsive buffer") 

			+button("Continue", true)

	div.screen
		div.content-wrap
			h1.blue Morning! Ah, sorry the place gets messy so quickly.
			img(src="img/a2/A2.06_2.jpg", class="img-responsive buffer") 

			+button("Continue", true)

	div.screen
		div.content-wrap
			h1.blue Thing is, it's such a lovely day! Let's go for a walk.
			img(src="img/a2/A2.07_1.jpg", class="img-responsive buffer") 

			p.question-text What will you say?

			+button("Quiz", false, "Would you still like me to take care of the kitchen?", 1)
			+button("Quiz", false, "Well, I have to get stuck into that kitchen, Stan...", 2)
			+button("Back", true)

	div.screen
		div.content-wrap
			h1.blue Great work! As a Good Friends Helper, you're more than a cleaner.
			p.buffer Sure, there are scheduled tasks, but you're there to provide a service. Sometimes, that means responding to the changing needs of your Members instead of being straight-jacketed by the task list.
			p.buffer-bottom Of course, you need to exercise good judgement. If the Member is not the Authorised Representative, you might want to confirm any requested changes to the schedule. 
			p.buffer-bottom In this case, Stan is capable of looking after himself most of the time. He just needs a bit of a hand now and then. He also enjoys the company.
			
			div.greenblue.no-margin.buffer
				p.buffer-bottom He doesn't have an Authorised Representative so as long as any changes to the schedule fall within the scope of his agreed Help Plan, Stan will clearly value the flexibility. 
				p.buffer-bottom Your response was good. Why not add something like the following to your toolbox? 
				p.buffer-bottom "I was planning to tidy up the kitchen this morning, Stan. Is that still something you'd like me to do?"
				p This does several things:
				ul
					li It demonstrates your commitment to complete the scheduled tasks 
					li At the same time, it shows your willingness to be flexible and responsive to his wishes
					li It encourages Stan's input and empowers him to make a decision based on his preferences.

			+button("Continue 4", true, false, 2)

	div.screen
		div.content-wrap
			h1.blue Hmmm... you missed an opportunity here to delight.
			p.buffer Sure, there are scheduled tasks, but you're there to provide a service. Sometimes, that means responding to the changing needs of your Members instead of being straight-jacketed by the task list.
			p.buffer-bottom Of course, you need to exercise good judgement. If the Member is not the Authorised Representative, you might want to confirm any requested changes to the schedule. 
			p.buffer-bottom In this case, Stan is capable of looking after himself most of the time. He just needs a bit of a hand now and then. He also enjoys the company.
			
			div.greenblue.no-margin.buffer
				p.buffer-bottom He doesn't have an Authorised Representative so as long as any changes to the schedule fall within the scope of his agreed Help Plan, Stan will clearly value the flexibility.
				p.buffer-bottom Take the following: "I was planning to tidy up the kitchen this morning, Stan. Is that still something you'd like me to do?"
				p This does several things:
				ul
					li It demonstrates your commitment to complete the scheduled tasks 
					li At the same time, it shows your willingness to be flexible and responsive to his wishes
					li It encourages Stan's input and empowers him to make a decision based on his preferences.

			+button("Continue 4", true, false, 1)

	div.screen
		div.content-wrap.activity-complete-wrap
			div.activity-complete-image.a2
			div.activity.copy-section
				div.content-wrap
					+tick
					h2 Activity Complete
					p "I really value the level of personalised care and attention I receive."
			a(href="a3a.html")
				+button("Finish", true)
