views/a3a.pug
extends layout.pug
block content
	div.screen.blue-bg.no-menu.intro.has-flex
		div.content-wrap
			+logo("v1")
			h1 Getting out and about.
			p Being a great Caregiver by respecting your Members' desire for discretion.
			+button("Continue", false)

	div.screen
		div.content-wrap
			h1.blue Carmel and Sharon are going out for the afternoon.
			img(src="img/a3a/A3a.02.jpg", class="img-responsive buffer") 

			+button("Continue", true)
			+button("Back", true)

	div.screen
		div.content-wrap
			h1.blue Carmel can't find her GoCard so Sharon lends a hand.

			div.speech-bubble-wrap
				p(class="triangle-border resize-me" data-left="-2%" data-bottom="64%") Let me help you, love. Your GoCard is the blue one.
				img(src="img/a3a/A3a.03.jpg", class="img-responsive buffer") 
		
			+button("Continue", true)
			+button("Back", true)

	div.screen
		div.content-wrap
			h1.blue Carmel can't find her GoCard so Sharon lends a hand.

			div.speech-bubble-wrap
				p(class="triangle-border resize-me" data-left="-2%" data-bottom="64%") Let me help you, love. Your GoCard is the blue one.
				img(src="img/a3a/A3a.04.jpg", class="img-responsive buffer") 

			p.question-text Other passengers probably think the relationship is:

			+button("Quiz", false, "Family", 1)
			+button("Quiz", false, "Carer", 1)
			+button("Quiz", false, "Friend", 1)
			+button("Back", true)
	
	div.screen
		div.content-wrap
			h1.blue Select each passenger to see what they're thinking.

			div.speech-bubble-wrap
				div(class="bubble-trigger resize-me not-clicked" data-show="0" data-left="46%" data-bottom="10.5%")
				div(class="bubble-trigger resize-me not-clicked" data-show="1" data-left="79%" data-bottom="10.5%")
				p(class="triangle-border resize-me" data-bubble="0" data-left="45%" data-bottom="64%") Poor old dear. Her carer should get her card ready!
				p(class="triangle-border resize-me right-bubble" data-bubble="1" data-left="40%" data-bottom="64%") Don't old folks' homes have minibuses and stuff? 
				img(src="img/a3a/A3a.04.jpg", class="img-responsive buffer activity-img") 

			+button("Continue Lock", true)

	div.screen
		div.content-wrap
			h1.blue You might say "Who cares what people think?"
			p.buffer Well, the thing is, our Members care very much about what other people think. That's why we're committed to helping you deliver this part of the Good Friends experience.
			
			div.greenblue.no-margin.buffer
				p Let's revisit the scene on the bus and look at the little things that Sharon – and <b>you</b> – can do to honour our Members' request for <b>discretion</b>.

			+button("Continue 2", true)
			+button("Back 2", true, false, 2)

	div.screen
		div.content-wrap
			div.speech-bubble-wrap
				p(class="triangle-border resize-me" data-left="-2%" data-bottom="64%") Let me help you, love. Your GoCard is the blue one.
				img(src="img/a3a/A3a.03.jpg", class="img-responsive buffer") 

			p.question-text What signals to everyone that Sharon is a Helper?

			+button("Quiz", false, "Her behaviour", 1)
			+button("Quiz", false, "Her appearance", 1)
			+button("Quiz", false, "Both", 1)
			+button("Back", true)

	div.screen
		div.content-wrap
			h1.blue Behaviour somewhat. Mostly it's her appearance. 
			img(src="img/a3a/A3a.07.jpg", class="img-responsive buffer") 
			p.buffer As a Good Friends Helper, you should strive to avoid stereotypes of "aged care". Items like lanyards, ID cards, and branded uniforms broadcast far and wide that you are a Carer. You are not required to wear a uniform. Your dress code is between you and your Member.
			p.buffer-bottom Unless the Member is living in a community where this type of service is common, it's unlikely they want to advertise their choice to engage a home care provider. 

			div.greenblue.no-margin.buffer
				p.buffer-bottom Wear smart casual to visits – <b>especially</b> when you think you'll be heading out into the community – unless instructed otherwise by your Member or the Authorised Representative. 
				p The best way to ensure your Members feel dignified and respected is to appear and act less like a carer and more like a good friend.

			+button("Continue 2", true)

	div.screen
		div.content-wrap.activity-complete-wrap
			div.activity-complete-image.a3a
			div.activity.copy-section
				div.content-wrap
					+tick
					h2 Activity Complete
					p "She'd never say it, but I know Mum likes discretion when they go out"
					
			a(href="a3b.html")
				+button("Finish", true)

dist/a3a.html
<!DOCTYPE html><html lang="js"><head><meta name="viewport" content="width=device-width, initial-scale=1"><meta charset="UTF-8"><meta name="format-detection" content="telephone=no"><title>Good Friends</title><link rel="stylesheet" href="css/styles.min.css"><script src="js/scripts.min.js"></script><script src="js/ga.js"></script></head><body id="hammer-listener"><div class="loader"><div class="logo-wrap"><img class="img-responsive logo-v1" src="img/general/testlogo_v1.svg"/></div><p class="loading">Loading</p></div><div class="can-scroll-wrap"><img class="can-scroll scroll-gesture" src="img/general/gesture-animation.gif"></div><div class="content"><div class="menu"><div class="logo-wrap"><img class="img-responsive logo-v2" src="img/general/testlogo_v2.svg"/></div></div><div class="hamburger-menu"><div class="level-1"><div class="item trigger"><p>Welcome To Good Friends</p><i class="fa fa-chevron-right"></i></div><div class="level-2 level links closed"><div class="item menu-left-1"><p> <a href="#">Not Available</a></p></div></div><div class="item trigger"><p>How Friendly Are You?</p><i class="fa fa-chevron-right"></i></div><div class="level-2 level closed"><div class="item menu-left-1 trigger"><p>Meeting Your Members</p><i class="fa fa-chevron-right"></i></div><div class="level-3 level links closed"><div class="item menu-left-2"><p> <a href="a1.html">Getting off to a good start</a></p></div><div class="item menu-left-2"><p> <a href="a2.html">More than finishing To-Do lists</a></p></div><div class="item menu-left-2"><p> <a href="a3a.html">Getting out and about</a></p></div><div class="item menu-left-2"><p> <a href="a3b.html">Choosing your words</a></p></div></div><div class="item menu-left-1 trigger"><p>Our Vision Of A Visit</p><i class="fa fa-chevron-right"></i></div><div class="level-3 level links closed"><div class="item menu-left-2"><p> <a href="a4.html">Focusing your time &amp; attention</a></p></div><div class="item menu-left-2"><p> <a href="a5.html">Meeting the needs of Members</a></p></div><div class="item menu-left-2"><p> <a href="a6a.html">Providing help to individuals (Pt.1)</a></p></div><div class="item menu-left-2"><p> <a href="a6b.html">Providing help to individuals (Pt.2)</a></p></div><div class="item menu-left-2"><p> <a href="a19.html">Monitoring medication for Members</a></p></div><div class="item menu-left-2"><p> <a href="a7.html">Providing a clear picture to all</a></p></div><div class="item menu-left-2"><p> <a href="a8.html">Balancing Act</a></p></div><div class="item menu-left-2"><p> <a href="a18.html">Sometimes bad things happen</a></p></div></div><div class="item menu-left-1 trigger"><p>Finishing Your Visit</p><i class="fa fa-chevron-right"></i></div><div class="level-3 level links closed"><div class="item menu-left-2"><p> <a href="a9.html">Wrapping up the right way</a></p></div></div></div><div class="item trigger"><p>How To Make the Most Out Of Good Friends</p><i class="fa fa-chevron-right"></i></div><div class="level-2 level links closed"><div class="item menu-left-1"><p> <a href="#">Not Available</a></p></div></div><div class="item trigger"><p>Policy Pack</p><i class="fa fa-chevron-right"></i></div><div class="level-2 level links closed"><div class="item menu-left-1"><p> <a href="#">Not Available</a></p></div></div><div class="item trigger"><p>Compliance Key Messages</p><i class="fa fa-chevron-right"></i></div><div class="level-2 level links closed"><div class="item menu-left-1"><p> <a href="compliance.html">Compliance</a></p></div></div></div></div><div class="screen blue-bg no-menu intro has-flex"><div class="content-wrap"><div class="logo-wrap"><img class="img-responsive logo-v1" src="img/general/testlogo_v1.svg"/></div><h1>Getting out and about.</h1><p>Being a great Caregiver by respecting your Members' desire for discretion.</p><div class="button-wrap"><button class="btn btn-continue next">Continue</button></div></div></div><div class="screen"><div class="content-wrap"><h1 class="blue">Carmel and Sharon are going out for the afternoon.</h1><img class="img-responsive buffer" src="img/a3a/A3a.02.jpg"><div class="button-wrap has-bg"><button class="btn btn-continue next">Continue</button></div><div class="button-wrap has-bg"><button class="btn btn-back">Back</button></div></div></div><div class="screen"><div class="content-wrap"><h1 class="blue">Carmel can't find her GoCard so Sharon lends a hand.</h1><div class="speech-bubble-wrap"><p class="triangle-border resize-me" data-left="-2%" data-bottom="64%">Let me help you, love. Your GoCard is the blue one.</p><img class="img-responsive buffer" src="img/a3a/A3a.03.jpg"></div><div class="button-wrap has-bg"><button class="btn btn-continue next">Continue</button></div><div class="button-wrap has-bg"><button class="btn btn-back">Back</button></div></div></div><div class="screen"><div class="content-wrap"><h1 class="blue">Carmel can't find her GoCard so Sharon lends a hand.</h1><div class="speech-bubble-wrap"><p class="triangle-border resize-me" data-left="-2%" data-bottom="64%">Let me help you, love. Your GoCard is the blue one.</p><img class="img-responsive buffer" src="img/a3a/A3a.04.jpg"></div><p class="question-text">Other passengers probably think the relationship is:</p><button class="btn btn-quiz" data-branch="1">Family</button><button class="btn btn-quiz" data-branch="1">Carer</button><button class="btn btn-quiz" data-branch="1">Friend</button><div class="button-wrap has-bg"><button class="btn btn-back">Back</button></div></div></div><div class="screen"><div class="content-wrap"><h1 class="blue">Select each passenger to see what they're thinking.</h1><div class="speech-bubble-wrap"><div class="bubble-trigger resize-me not-clicked" data-show="0" data-left="46%" data-bottom="10.5%"></div><div class="bubble-trigger resize-me not-clicked" data-show="1" data-left="79%" data-bottom="10.5%"></div><p class="triangle-border resize-me" data-bubble="0" data-left="45%" data-bottom="64%">Poor old dear. Her carer should get her card ready!</p><p class="triangle-border resize-me right-bubble" data-bubble="1" data-left="40%" data-bottom="64%">Don't old folks' homes have minibuses and stuff? </p><img class="img-responsive buffer activity-img" src="img/a3a/A3a.04.jpg"></div><div class="button-wrap has-bg"><button class="btn btn-continue next disabled">Continue</button></div></div></div><div class="screen"><div class="content-wrap"><h1 class="blue">You might say "Who cares what people think?"</h1><p class="buffer">Well, the thing is, our Members care very much about what other people think. That's why we're committed to helping you deliver this part of the Good Friends experience.</p><div class="greenblue no-margin buffer"><p>Let's revisit the scene on the bus and look at the little things that Sharon – and <b>you</b> – can do to honour our Members' request for <b>discretion</b>.</p></div><div class="button-wrap has-bg force"><button class="btn btn-continue next">Continue</button></div><div class="button-wrap has-bg force"><button class="btn btn-back">Back</button></div></div></div><div class="screen"><div class="content-wrap"><div class="speech-bubble-wrap"><p class="triangle-border resize-me" data-left="-2%" data-bottom="64%">Let me help you, love. Your GoCard is the blue one.</p><img class="img-responsive buffer" src="img/a3a/A3a.03.jpg"></div><p class="question-text">What signals to everyone that Sharon is a Helper?</p><button class="btn btn-quiz" data-branch="1">Her behaviour</button><button class="btn btn-quiz" data-branch="1">Her appearance</button><button class="btn btn-quiz" data-branch="1">Both</button><div class="button-wrap has-bg"><button class="btn btn-back">Back</button></div></div></div><div class="screen"><div class="content-wrap"><h1 class="blue">Behaviour somewhat. Mostly it's her appearance. </h1><img class="img-responsive buffer" src="img/a3a/A3a.07.jpg"><p class="buffer">As a Good Friends Helper, you should strive to avoid stereotypes of "aged care". Items like lanyards, ID cards, and branded uniforms broadcast far and wide that you are a Carer. You are not required to wear a uniform. Your dress code is between you and your Member.</p><p class="buffer-bottom">Unless the Member is living in a community where this type of service is common, it's unlikely they want to advertise their choice to engage a home care provider. </p><div class="greenblue no-margin buffer"><p class="buffer-bottom">Wear smart casual to visits – <b>especially</b> when you think you'll be heading out into the community – unless instructed otherwise by your Member or the Authorised Representative. </p><p>The best way to ensure your Members feel dignified and respected is to appear and act less like a carer and more like a good friend.</p></div><div class="button-wrap has-bg force"><button class="btn btn-continue next">Continue</button></div></div></div><div class="screen"><div class="content-wrap activity-complete-wrap"><div class="activity-complete-image a3a"></div><div class="activity copy-section"><div class="content-wrap"><img class="activity-tick" src="img/general/tick_icon.svg"/><h2>Activity Complete</h2><p>"She'd never say it, but I know Mum likes discretion when they go out"</p></div></div><a href="a3b.html"><div class="button-wrap has-bg force"><button class="btn btn-continue next">Finish</button></div></a></div></div></div></body></html>
