dist/a3b.html
<!DOCTYPE html><html lang="js"><head><meta name="viewport" content="width=device-width, initial-scale=1"><meta charset="UTF-8"><meta name="format-detection" content="telephone=no"><title>Good Friends</title><link rel="stylesheet" href="css/styles.min.css"><script src="js/scripts.min.js"></script><script src="js/ga.js"></script></head><body id="hammer-listener"><div class="loader"><div class="logo-wrap"><img class="img-responsive logo-v1" src="img/general/testlogo_v1.svg"/></div><p class="loading">Loading</p></div><div class="can-scroll-wrap"><img class="can-scroll scroll-gesture" src="img/general/gesture-animation.gif"></div><div class="content"><div class="menu"><div class="logo-wrap"><img class="img-responsive logo-v2" src="img/general/testlogo_v2.svg"/></div></div><div class="hamburger-menu"><div class="level-1"><div class="item trigger"><p>Welcome To Good Friends</p><i class="fa fa-chevron-right"></i></div><div class="level-2 level links closed"><div class="item menu-left-1"><p> <a href="#">Not Available</a></p></div></div><div class="item trigger"><p>How Friendly Are You?</p><i class="fa fa-chevron-right"></i></div><div class="level-2 level closed"><div class="item menu-left-1 trigger"><p>Meeting Your Members</p><i class="fa fa-chevron-right"></i></div><div class="level-3 level links closed"><div class="item menu-left-2"><p> <a href="a1.html">Getting off to a good start</a></p></div><div class="item menu-left-2"><p> <a href="a2.html">More than finishing To-Do lists</a></p></div><div class="item menu-left-2"><p> <a href="a3a.html">Getting out and about</a></p></div><div class="item menu-left-2"><p> <a href="a3b.html">Choosing your words</a></p></div></div><div class="item menu-left-1 trigger"><p>Our Vision Of A Visit</p><i class="fa fa-chevron-right"></i></div><div class="level-3 level links closed"><div class="item menu-left-2"><p> <a href="a4.html">Focusing your time &amp; attention</a></p></div><div class="item menu-left-2"><p> <a href="a5.html">Meeting the needs of Members</a></p></div><div class="item menu-left-2"><p> <a href="a6a.html">Providing help to individuals (Pt.1)</a></p></div><div class="item menu-left-2"><p> <a href="a6b.html">Providing help to individuals (Pt.2)</a></p></div><div class="item menu-left-2"><p> <a href="a19.html">Monitoring medication for Members</a></p></div><div class="item menu-left-2"><p> <a href="a7.html">Providing a clear picture to all</a></p></div><div class="item menu-left-2"><p> <a href="a8.html">Balancing Act</a></p></div><div class="item menu-left-2"><p> <a href="a18.html">Sometimes bad things happen</a></p></div></div><div class="item menu-left-1 trigger"><p>Finishing Your Visit</p><i class="fa fa-chevron-right"></i></div><div class="level-3 level links closed"><div class="item menu-left-2"><p> <a href="a9.html">Wrapping up the right way</a></p></div></div></div><div class="item trigger"><p>How To Make the Most Out Of Good Friends</p><i class="fa fa-chevron-right"></i></div><div class="level-2 level links closed"><div class="item menu-left-1"><p> <a href="#">Not Available</a></p></div></div><div class="item trigger"><p>Policy Pack</p><i class="fa fa-chevron-right"></i></div><div class="level-2 level links closed"><div class="item menu-left-1"><p> <a href="#">Not Available</a></p></div></div><div class="item trigger"><p>Compliance Key Messages</p><i class="fa fa-chevron-right"></i></div><div class="level-2 level links closed"><div class="item menu-left-1"><p> <a href="compliance.html">Compliance</a></p></div></div></div></div><div class="screen blue-bg no-menu intro has-flex"><div class="content-wrap"><div class="logo-wrap"><img class="img-responsive logo-v1" src="img/general/testlogo_v1.svg"/></div><h1>Choosing your words.</h1><p>Being a great Caregiver by respecting your Members' desire for discretion.</p><div class="button-wrap"><button class="btn btn-continue next">Continue</button></div></div></div><div class="screen"><div class="content-wrap"><h1 class="blue">Ron is a well-known member of his community.</h1><img class="img-responsive buffer" src="img/a3b/A3b.02.jpg"><p class="buffer">Like many of our Members, he doesn't think of himself as "old" and he certainly doesn't want anyone else in his community to see him like that, either!</p><div class="greenblue no-margin buffer"><p class="buffer-bottom">He needs a little bit of assistance now and again with things around the house so he gets Darren, a Good Friends Helper to come around every week and lend a hand with various tasks.</p><p>He enjoys Darren's company, too. Ron's wife passed away a few years ago and his adult children live overseas. He talks to them often and they visit when they can, but he still finds himself a bit lonely at times.   </p></div><div class="button-wrap has-bg force"><button class="btn btn-continue next">Continue</button></div><div class="button-wrap has-bg force"><button class="btn btn-back">Back</button></div></div></div><div class="screen"><div class="content-wrap"><h1 class="blue">Here's Darren, heading off after his visit with Ron.</h1><img class="img-responsive buffer" src="img/a3b/A3b.03.jpg"><p class="buffer">Navigate their exchange and see the consequences Darren's behaviour has for his Member, Ron.</p><div class="button-wrap has-bg"><button class="btn btn-continue next">Continue</button></div><div class="button-wrap has-bg"><button class="btn btn-back">Back</button></div></div></div><div class="screen"><div class="content-wrap"><div class="speech-bubble-wrap"><p class="triangle-border resize-me" data-left="44%" data-bottom="68%">See ya, mate. Thanks for the help!</p><img class="img-responsive buffer" src="img/a3b/A3b.04copy.jpg"></div><div class="button-wrap has-bg"><button class="btn btn-continue next">Continue</button></div><div class="button-wrap has-bg"><button class="btn btn-back">Back</button></div></div></div><div class="screen"><div class="content-wrap"><div class="speech-bubble-wrap"><p class="triangle-border resize-me" data-left="14%" data-bottom="60%">No worries. Well, I'd better get to old Pete's place. He is after a bit of help as well. See you next week.</p><img class="img-responsive buffer" src="img/a3b/A3b.05.jpg"></div><div class="button-wrap has-bg"><button class="btn btn-continue next">Continue</button></div><div class="button-wrap has-bg"><button class="btn btn-back">Back</button></div></div></div><div class="screen"><div class="content-wrap"><h1 class="blue">Betty lives a couple of streets down and knows Ron.</h1><img class="img-responsive buffer" src="img/a3b/A3b.06.jpg"><p class="question-text">Why might Betty think that Darren is visiting Ron?</p><button class="btn btn-quiz" data-branch="1">Ron needs help around the home from a carer</button><button class="btn btn-quiz" data-branch="1">Darren and Ron are friends</button><button class="btn btn-quiz" data-branch="1">Darren is a member of Ron's family</button><div class="button-wrap has-bg"><button class="btn btn-back">Back</button></div></div></div><div class="screen"><div class="content-wrap"><h1 class="blue buffer-bottom">Maybe. Let's see what Betty is actually thinking...</h1><div class="speech-bubble-wrap top-buffer"><p class="triangle-border resize-me wide-bubble" data-left="14%" data-bottom="100%">I didn't know Ron needed home care. I thought he was too young for that. I'll ask him what help he is getting when I see him next. I hope all is ok.</p><img class="img-responsive buffer" src="img/a3b/A3b.06.jpg"></div><div class="button-wrap has-bg"><button class="btn btn-continue next">Continue</button></div><div class="button-wrap has-bg"><button class="btn btn-back">Back</button></div></div></div><div class="screen"><div class="content-wrap"><h1 class="blue">What happened here?</h1><p class="buffer">The <b>outcome</b> of this situation is very similar to the one we saw with Carmel and her Helper, Sharon, on the bus – even though the details are quite different.</p><p class="bottom-buffer">Unlike Sharon, Darren has dressed appropriately, but what he <b>says</b> – in a reasonably public setting and probably with a loud voice given that he's almost at the front gate – is not respecting Ron's strong desire for discretion. </p><div class="greenblue no-margin buffer"><p>As a Good Friends Helper, you should know what's important to your Members and pay attention to the "little things" that can impact whether you deliver the level of great service they expect. </p></div><div class="button-wrap has-bg force"><button class="btn btn-continue next">Continue</button></div><div class="button-wrap has-bg force"><button class="btn btn-back">Back</button></div></div></div><div class="screen"><div class="content-wrap activity-complete-wrap"><div class="activity-complete-image a3b"></div><div class="activity copy-section"><div class="content-wrap"><img class="activity-tick" src="img/general/tick_icon.svg"/><h2>Activity Complete</h2><p>"I value the way you respect Dad's privacy and I know he does, too."</p></div></div><a href="javascript:void(0)"><div class="button-wrap has-bg force"><button class="btn btn-continue complete-module">Finish</button></div></a></div></div></div></body></html>

views/a3b.pug
extends layout.pug
block content
	div.screen.blue-bg.no-menu.intro.has-flex
		div.content-wrap
			+logo("v1")
			h1 Choosing your words.
			p Being a great Caregiver by respecting your Members' desire for discretion.
			+button("Continue", false)

	div.screen
		div.content-wrap
			h1.blue Ron is a well-known member of his community.
			img(src="img/a3b/A3b.02.jpg", class="img-responsive buffer") 
			p.buffer Like many of our Members, he doesn't think of himself as "old" and he certainly doesn't want anyone else in his community to see him like that, either!
			
			div.greenblue.no-margin.buffer
				p.buffer-bottom He needs a little bit of assistance now and again with things around the house so he gets Darren, a Good Friends Helper to come around every week and lend a hand with various tasks.
				p He enjoys Darren's company, too. Ron's wife passed away a few years ago and his adult children live overseas. He talks to them often and they visit when they can, but he still finds himself a bit lonely at times.   

			+button("Continue 2", true)
			+button("Back 2", true)

	div.screen
		div.content-wrap
			h1.blue Here's Darren, heading off after his visit with Ron.
			img(src="img/a3b/A3b.03.jpg", class="img-responsive buffer") 
			p.buffer Navigate their exchange and see the consequences Darren's behaviour has for his Member, Ron.

			+button("Continue", true)
			+button("Back", true)

	div.screen
		div.content-wrap
			div.speech-bubble-wrap
				p(class="triangle-border resize-me" data-left="44%" data-bottom="68%") See ya, mate. Thanks for the help!
				img(src="img/a3b/A3b.04copy.jpg", class="img-responsive buffer") 
		
			+button("Continue", true)
			+button("Back", true)
	
	div.screen
		div.content-wrap
			div.speech-bubble-wrap
				p(class="triangle-border resize-me" data-left="14%" data-bottom="60%") No worries. Well, I'd better get to old Pete's place. He is after a bit of help as well. See you next week.
				img(src="img/a3b/A3b.05.jpg", class="img-responsive buffer") 
		
			+button("Continue", true)
			+button("Back", true)

	div.screen
		div.content-wrap
			h1.blue Betty lives a couple of streets down and knows Ron.

			img(src="img/a3b/A3b.06.jpg", class="img-responsive buffer") 

			p.question-text Why might Betty think that Darren is visiting Ron?

			+button("Quiz", false, "Ron needs help around the home from a carer", 1)
			+button("Quiz", false, "Darren and Ron are friends", 1)
			+button("Quiz", false, "Darren is a member of Ron's family", 1)
			+button("Back", true)

	div.screen
		div.content-wrap
			h1.blue.buffer-bottom Maybe. Let's see what Betty is actually thinking...

			div.speech-bubble-wrap.top-buffer
				p(class="triangle-border resize-me wide-bubble" data-left="14%" data-bottom="100%") I didn't know Ron needed home care. I thought he was too young for that. I'll ask him what help he is getting when I see him next. I hope all is ok.
				img(src="img/a3b/A3b.06.jpg", class="img-responsive buffer") 

			+button("Continue", true)
			+button("Back", true)

	div.screen
		div.content-wrap
			h1.blue What happened here?

			p.buffer The <b>outcome</b> of this situation is very similar to the one we saw with Carmel and her Helper, Sharon, on the bus – even though the details are quite different.
			p.bottom-buffer Unlike Sharon, Darren has dressed appropriately, but what he <b>says</b> – in a reasonably public setting and probably with a loud voice given that he's almost at the front gate – is not respecting Ron's strong desire for discretion. 
			
			div.greenblue.no-margin.buffer
				p As a Good Friends Helper, you should know what's important to your Members and pay attention to the "little things" that can impact whether you deliver the level of great service they expect. 

			+button("Continue 2", true)
			+button("Back 2", true)

	div.screen
		div.content-wrap.activity-complete-wrap
			div.activity-complete-image.a3b
			div.activity.copy-section
				div.content-wrap
					+tick
					h2 Activity Complete
					p "I value the way you respect Dad's privacy and I know he does, too."

			a(href="javascript:void(0)")
				+button("Finish", true, "complete")
