dist/a4.html
<!DOCTYPE html><html lang="js"><head><meta name="viewport" content="width=device-width, initial-scale=1"><meta charset="UTF-8"><meta name="format-detection" content="telephone=no"><title>Good Friends</title><link rel="stylesheet" href="css/styles.min.css"><script src="js/scripts.min.js"></script><script src="js/ga.js"></script></head><body id="hammer-listener"><div class="loader"><div class="logo-wrap"><img class="img-responsive logo-v1" src="img/general/testlogo_v1.svg"/></div><p class="loading">Loading</p></div><div class="can-scroll-wrap"><img class="can-scroll scroll-gesture" src="img/general/gesture-animation.gif"></div><div class="content"><div class="menu"><div class="logo-wrap"><img class="img-responsive logo-v2" src="img/general/testlogo_v2.svg"/></div></div><div class="hamburger-menu"><div class="level-1"><div class="item trigger"><p>Welcome To Good Friends</p><i class="fa fa-chevron-right"></i></div><div class="level-2 level links closed"><div class="item menu-left-1"><p> <a href="#">Not Available</a></p></div></div><div class="item trigger"><p>How Friendly Are You?</p><i class="fa fa-chevron-right"></i></div><div class="level-2 level closed"><div class="item menu-left-1 trigger"><p>Meeting Your Members</p><i class="fa fa-chevron-right"></i></div><div class="level-3 level links closed"><div class="item menu-left-2"><p> <a href="a1.html">Getting off to a good start</a></p></div><div class="item menu-left-2"><p> <a href="a2.html">More than finishing To-Do lists</a></p></div><div class="item menu-left-2"><p> <a href="a3a.html">Getting out and about</a></p></div><div class="item menu-left-2"><p> <a href="a3b.html">Choosing your words</a></p></div></div><div class="item menu-left-1 trigger"><p>Our Vision Of A Visit</p><i class="fa fa-chevron-right"></i></div><div class="level-3 level links closed"><div class="item menu-left-2"><p> <a href="a4.html">Focusing your time &amp; attention</a></p></div><div class="item menu-left-2"><p> <a href="a5.html">Meeting the needs of Members</a></p></div><div class="item menu-left-2"><p> <a href="a6a.html">Providing help to individuals (Pt.1)</a></p></div><div class="item menu-left-2"><p> <a href="a6b.html">Providing help to individuals (Pt.2)</a></p></div><div class="item menu-left-2"><p> <a href="a19.html">Monitoring medication for Members</a></p></div><div class="item menu-left-2"><p> <a href="a7.html">Providing a clear picture to all</a></p></div><div class="item menu-left-2"><p> <a href="a8.html">Balancing Act</a></p></div><div class="item menu-left-2"><p> <a href="a18.html">Sometimes bad things happen</a></p></div></div><div class="item menu-left-1 trigger"><p>Finishing Your Visit</p><i class="fa fa-chevron-right"></i></div><div class="level-3 level links closed"><div class="item menu-left-2"><p> <a href="a9.html">Wrapping up the right way</a></p></div></div></div><div class="item trigger"><p>How To Make the Most Out Of Good Friends</p><i class="fa fa-chevron-right"></i></div><div class="level-2 level links closed"><div class="item menu-left-1"><p> <a href="#">Not Available</a></p></div></div><div class="item trigger"><p>Policy Pack</p><i class="fa fa-chevron-right"></i></div><div class="level-2 level links closed"><div class="item menu-left-1"><p> <a href="#">Not Available</a></p></div></div><div class="item trigger"><p>Compliance Key Messages</p><i class="fa fa-chevron-right"></i></div><div class="level-2 level links closed"><div class="item menu-left-1"><p> <a href="compliance.html">Compliance</a></p></div></div></div></div><div class="screen blue-bg no-menu intro has-flex"><div class="content-wrap"><div class="logo-wrap"><img class="img-responsive logo-v1" src="img/general/testlogo_v1.svg"/></div><h1> Focusing your time &amp; attention.</h1><p>Being a great Helper is about much more than just completing To-Do Lists.</p><div class="button-wrap"><button class="btn btn-continue next">Continue</button></div></div></div><div class="screen app-screen"><div class="content-wrap app-wrap"><div class="sub-app-screen"><div class="day-wrap"><p class="day">Yesterday</p><p class="date">1 July</p><div class="app-person"><p class="time">4:30pm</p><p class="name">Donald Larkin</p><p class="desc">30 minutes of Domestic Assistance</p></div></div><div class="day-wrap"><p class="day">Today</p><p class="date">2 July</p><div class="app-person"><p class="time">11:00am</p><p class="name">Greg Barrett </p><p class="desc">1 hour of Domestic Assistance, Specialist Healthcare</p></div><div class="app-person popover app-next"><p class="triangle-border">Click Here</p><p class="time">2:15pm</p><p class="name">Margaret Stapleton </p><p class="desc">45 minutes of Yard Maintenance</p></div><div class="app-person"><p class="time">3:15am</p><p class="name">Susan Merriweather</p><p class="desc">30 minutes of Companionship</p></div></div></div><div class="sub-app-screen"><p class="checked-in">You are checked in.</p><button class="btn btn-check-in not-clicked">Check In</button><h3>Contact</h3><div class="icon-w-text"><img src="img/general/name_icon.svg"><p>Margaret Stapleton</p></div><div class="icon-w-text"><img src="img/general/address_icon.svg"><p>137 Arden Place, Parklands, Christchurch 8083</p></div><div class="icon-w-text"><img src="img/general/phone_icon.svg"><p>(029) 7410-066</p></div><h3>Tasks</h3><p class="text-left">1 hour of Yard Maintenance</p><h3>Community Manager</h3><div class="icon-w-text"><img src="img/general/name_icon.svg"><p>Allen Hsu</p></div><div class="icon-w-text"><img src="img/general/phone_icon.svg"><p>(029) 1955-644</p></div></div></div><div class="button-wrap has-bg force"><button class="btn btn-continue next">Continue</button></div></div><div class="screen"><div class="content-wrap"><h1 class="blue">Can you clean Margaret's yard in just 45 minutes?</h1><img class="img-responsive buffer" src="img/a4/A4.04.jpg"><div class="button-wrap has-bg"><button class="btn btn-continue next">Continue</button></div><div class="button-wrap has-bg"><button class="btn btn-back">Back</button></div></div></div><div class="screen"><div class="content-wrap"><h1 class="blue">You start with the pile of junk beside the shed...</h1><img class="img-responsive buffer small-img" src="img/a4/A4.05 clock.jpg"><img class="img-responsive buffer" src="img/a4/A4.05.jpg"><div class="button-wrap has-bg"><button class="btn btn-continue next">Continue</button></div><div class="button-wrap has-bg"><button class="btn btn-back">Back</button></div></div></div><div class="screen"><div class="content-wrap"><h1 class="blue">Meanwhile...</h1><img class="img-responsive buffer" src="img/a4/A4.06.jpg"><div class="button-wrap has-bg"><button class="btn btn-continue next">Continue</button></div><div class="button-wrap has-bg"><button class="btn btn-back">Back</button></div></div></div><div class="screen"><div class="content-wrap"><h1 class="blue">Next up, those weeds have got to go!</h1><img class="img-responsive buffer small-img" src="img/a4/A4.07 clock.jpg"><img class="img-responsive buffer" src="img/a4/A4.07.jpg"><div class="button-wrap has-bg"><button class="btn btn-continue next">Continue</button></div><div class="button-wrap has-bg"><button class="btn btn-back">Back</button></div></div></div><div class="screen"><div class="content-wrap"><h1 class="blue">Meanwhile...</h1><img class="img-responsive buffer" src="img/a4/A4.06.jpg"><div class="button-wrap has-bg"><button class="btn btn-continue next">Continue</button></div><div class="button-wrap has-bg"><button class="btn btn-back">Back</button></div></div></div><div class="screen"><div class="content-wrap"><h1 class="blue">Raking up these leaves will really make things shine!</h1><img class="img-responsive buffer small-img" src="img/a4/A4.08 clock.jpg"><img class="img-responsive buffer" src="img/a4/A4.08.jpg"><div class="button-wrap has-bg"><button class="btn btn-continue next">Continue</button></div><div class="button-wrap has-bg"><button class="btn btn-back">Back</button></div></div></div><div class="screen"><div class="content-wrap"><h1 class="blue">Meanwhile...</h1><img class="img-responsive buffer" src="img/a4/A4.06.jpg"><div class="button-wrap has-bg"><button class="btn btn-continue next">Continue</button></div><div class="button-wrap has-bg"><button class="btn btn-back">Back</button></div></div></div><div class="screen"><div class="content-wrap"><h1 class="blue">Great! You tidied up the yard with 10mins to spare.</h1><img class="img-responsive buffer" src="img/a4/A4.09.jpg"><p class="question-text">What do you want to do?</p><button class="btn btn-quiz" data-branch="1">Say bye to Margaret and get to your next visit early.</button><button class="btn btn-quiz" data-branch="2">Offer to do another task in the yard for Margaret.</button><button class="btn btn-quiz" data-branch="3">Spend the remaining time chatting with Margaret.</button><div class="button-wrap has-bg"><button class="btn btn-back">Back</button></div></div></div><div class="screen"><div class="content-wrap"><h1 class="blue">Being a bit early is great. But what about Margaret?</h1><img class="img-responsive buffer" src="img/a4/A4.06.jpg"><p class="buffer">You can always log less time if you complete the assigned tasks faster than anticipated. </p><p class="buffer-bottom">Being a Good Friends helper is not just about focusing on the task. It is about providing what is best for the member on the day.</p><div class="greenblue no-margin buffer"><p class="buffer-bottom">As an independent contractor, you are empowered to make decisions in the best interest of the member.</p><p>If you've got five or ten minutes up your sleeve after completing all tasks, why not offer to make your Member a cup of tea or coffee and take the opportunity to really connect with them?   </p></div><div class="button-wrap has-bg force"><button class="btn" data-branch="3">Continue</button></div></div></div><div class="screen"><div class="content-wrap"><h1 class="blue">Umm, I suppose you could rake the front yard, too...</h1><img class="img-responsive buffer" src="img/a4/A4.06.jpg"><p class="buffer">The Member and the Authorised Representative will be satisfied with your work and the gusto you've demonstrated in completing the tasks.</p><p class="buffer-bottom">Being a Good Friends helper is not just about focusing on the task. It is about providing what is best for the member on the day.</p><div class="greenblue no-margin buffer"><p class="buffer-bottom">As an independent contractor, you are empowered to make decisions in the best interest of the member.</p><p>If you've got five or ten minutes up your sleeve after completing all tasks, why not offer to make your Member a cup of tea or coffee and take the opportunity to really connect with them?</p></div><div class="button-wrap has-bg force"><button class="btn" data-branch="2">Continue</button></div></div></div><div class="screen"><div class="content-wrap"><h1 class="blue">Nice. You've delighted Margaret. You're a Magician!</h1><img class="img-responsive buffer" src="img/a4/A4.06_2.jpg"><p class="buffer">Without rushing, you've demonstrated real gusto by finishing the tasks in less time than was allocated.  Great work!</p><p class="buffer-bottom">Being a Good Friends helper is not just about focusing on the task. It is about providing what is best for the member on the day.</p><div class="greenblue no-margin buffer"><p class="buffer-bottom">As an independent contractor, you are empowered to make decisions in the best interest of the member.</p><p class="buffer-bottom">By using the remaining 10 minutes to connect with Margaret, you're building the relationship and wrapping up the visit in a warm and caring manner.</p><p class="buffer-bottom">Bear in mind that you should be mindful of what you talk about with Members. For instance, it's <b>not</b> appropriate to discuss other Members... or your family problems... or things like that. Instead, it's recommended you focus on <b>listening</b> and sharing positive life stories.</p><p>Also, if there is a way to involve Margaret (e.g. chatting with her <b>as</b> you do the yard work), she would probably appreciate it.</p></div><div class="button-wrap has-bg force"><button class="btn" data-branch="1">Continue</button></div></div></div><div class="screen"><div class="content-wrap activity-complete-wrap"><div class="activity-complete-image a4"></div><div class="activity copy-section"><div class="content-wrap"><img class="activity-tick" src="img/general/tick_icon.svg"/><h2>Activity Complete</h2><p>"Mum hasn't been this happy for years. It's so great to see her smile."</p></div></div><a href="a5.html"><div class="button-wrap has-bg force"><button class="btn btn-continue next">Finish</button></div></a></div></div></div></body></html>

views/a4.pug
extends layout.pug
block content
	div.screen.blue-bg.no-menu.intro.has-flex
		div.content-wrap
			+logo("v1")
			h1  Focusing your time &amp; attention.
			p Being a great Helper is about much more than just completing To-Do Lists.
			+button("Continue", false)

	div.screen.app-screen
		div.content-wrap.app-wrap
			div.sub-app-screen
				div.day-wrap
					p.day Yesterday
					p.date 1 July
					div.app-person
						p.time 4:30pm
						p.name Donald Larkin
						p.desc 30 minutes of Domestic Assistance
				div.day-wrap
					p.day Today
					p.date 2 July
					div.app-person
						p.time 11:00am
						p.name Greg Barrett 
						p.desc 1 hour of Domestic Assistance, Specialist Healthcare
					div.app-person.popover.app-next
						p.triangle-border Click Here
						p.time 2:15pm
						p.name Margaret Stapleton 
						p.desc 45 minutes of Yard Maintenance
					div.app-person
						p.time 3:15am
						p.name Susan Merriweather
						p.desc 30 minutes of Companionship
			div.sub-app-screen
				p.checked-in You are checked in.
				+button("Check In", false)

				h3 Contact
				div.icon-w-text
					img(src="img/general/name_icon.svg")
					p Margaret Stapleton
				div.icon-w-text
					img(src="img/general/address_icon.svg")
					p 137 Arden Place, Parklands, Christchurch 8083
				div.icon-w-text
					img(src="img/general/phone_icon.svg")
					p (029) 7410-066

				h3 Tasks
				p.text-left 1 hour of Yard Maintenance

				h3 Community Manager
				div.icon-w-text
					img(src="img/general/name_icon.svg")
					p Allen Hsu
				div.icon-w-text
					img(src="img/general/phone_icon.svg")
					p (029) 1955-644

		+button("Continue 2", true)

	div.screen
		div.content-wrap
			h1.blue Can you clean Margaret's yard in just 45 minutes?
			img(src="img/a4/A4.04.jpg", class="img-responsive buffer") 

			+button("Continue", true)
			+button("Back", true)

	div.screen
		div.content-wrap
			h1.blue You start with the pile of junk beside the shed...
			img(src="img/a4/A4.05 clock.jpg", class="img-responsive buffer small-img") 
			img(src="img/a4/A4.05.jpg", class="img-responsive buffer") 

			+button("Continue", true)
			+button("Back", true)

	div.screen
		div.content-wrap
			h1.blue Meanwhile...
			img(src="img/a4/A4.06.jpg", class="img-responsive buffer") 

			+button("Continue", true)
			+button("Back", true)

	div.screen
		div.content-wrap
			h1.blue Next up, those weeds have got to go!
			img(src="img/a4/A4.07 clock.jpg", class="img-responsive buffer small-img") 
			img(src="img/a4/A4.07.jpg", class="img-responsive buffer") 

			+button("Continue", true)
			+button("Back", true)

	div.screen
		div.content-wrap
			h1.blue Meanwhile...
			img(src="img/a4/A4.06.jpg", class="img-responsive buffer") 

			+button("Continue", true)
			+button("Back", true)

	div.screen
		div.content-wrap
			h1.blue Raking up these leaves will really make things shine!
			img(src="img/a4/A4.08 clock.jpg", class="img-responsive buffer small-img") 
			img(src="img/a4/A4.08.jpg", class="img-responsive buffer") 

			+button("Continue", true)
			+button("Back", true)

	div.screen
		div.content-wrap
			h1.blue Meanwhile...
			img(src="img/a4/A4.06.jpg", class="img-responsive buffer") 

			+button("Continue", true)
			+button("Back", true)

	div.screen
		div.content-wrap
			h1.blue Great! You tidied up the yard with 10mins to spare.
			img(src="img/a4/A4.09.jpg", class="img-responsive buffer") 

			p.question-text What do you want to do?

			+button("Quiz", false, "Say bye to Margaret and get to your next visit early.", 1)
			+button("Quiz", false, "Offer to do another task in the yard for Margaret.", 2)
			+button("Quiz", false, "Spend the remaining time chatting with Margaret.", 3)
			+button("Back", true)

	div.screen
		div.content-wrap
			h1.blue Being a bit early is great. But what about Margaret?
			img(src="img/a4/A4.06.jpg", class="img-responsive buffer") 
			p.buffer You can always log less time if you complete the assigned tasks faster than anticipated. 
			p.buffer-bottom Being a Good Friends helper is not just about focusing on the task. It is about providing what is best for the member on the day.
			
			div.greenblue.no-margin.buffer
				p.buffer-bottom As an independent contractor, you are empowered to make decisions in the best interest of the member.
				p If you've got five or ten minutes up your sleeve after completing all tasks, why not offer to make your Member a cup of tea or coffee and take the opportunity to really connect with them?   

			+button("Continue 4", true, false, 3)

	div.screen
		div.content-wrap
			h1.blue Umm, I suppose you could rake the front yard, too...
			img(src="img/a4/A4.06.jpg", class="img-responsive buffer") 
			p.buffer The Member and the Authorised Representative will be satisfied with your work and the gusto you've demonstrated in completing the tasks.
			p.buffer-bottom Being a Good Friends helper is not just about focusing on the task. It is about providing what is best for the member on the day.
			
			div.greenblue.no-margin.buffer
				p.buffer-bottom As an independent contractor, you are empowered to make decisions in the best interest of the member.
				p If you've got five or ten minutes up your sleeve after completing all tasks, why not offer to make your Member a cup of tea or coffee and take the opportunity to really connect with them?

			+button("Continue 4", true, false, 2)

	div.screen
		div.content-wrap
			h1.blue Nice. You've delighted Margaret. You're a Magician!
			img(src="img/a4/A4.06_2.jpg", class="img-responsive buffer") 
			p.buffer Without rushing, you've demonstrated real gusto by finishing the tasks in less time than was allocated.  Great work!
			p.buffer-bottom Being a Good Friends helper is not just about focusing on the task. It is about providing what is best for the member on the day.
			
			div.greenblue.no-margin.buffer
				p.buffer-bottom As an independent contractor, you are empowered to make decisions in the best interest of the member.
				p.buffer-bottom By using the remaining 10 minutes to connect with Margaret, you're building the relationship and wrapping up the visit in a warm and caring manner.
				p.buffer-bottom Bear in mind that you should be mindful of what you talk about with Members. For instance, it's <b>not</b> appropriate to discuss other Members... or your family problems... or things like that. Instead, it's recommended you focus on <b>listening</b> and sharing positive life stories.
				p Also, if there is a way to involve Margaret (e.g. chatting with her <b>as</b> you do the yard work), she would probably appreciate it.

			+button("Continue 4", true, false, 1)

	div.screen
		div.content-wrap.activity-complete-wrap
			div.activity-complete-image.a4
			div.activity.copy-section
				div.content-wrap
					+tick
					h2 Activity Complete
					p "Mum hasn't been this happy for years. It's so great to see her smile."

			a(href="a5.html")
				+button("Finish", true)
