views/a5.pug
extends layout.pug
block content
	div.screen.blue-bg.no-menu.intro.has-flex
		div.content-wrap
			+logo("v1")
			h1 Meeting the needs of Members. 
			p Being responsive and flexible when your visit doesn't go quite as planned.
			+button("Continue", false)

	div.screen
		div.content-wrap
			h1.blue You're off to Simone's to wash the sheets and towels.
			img(src="img/a5/A7.17.jpg", class="img-responsive buffer") 

			+button("Continue", true)
			+button("Back", true)

	div.screen
		div.content-wrap
			h1.blue On your way there, you get a phone call...
			img(src="img/a5/A5.03.jpg", class="img-responsive buffer") 

			+button("Answer The Call", true)
			+button("Back", true)

	div.screen
		div.content-wrap
			h1.blue Naomi says she called in on Simone earlier.
			img(src="img/a5/A5.03.jpg", class="img-responsive buffer") 

			p.buffer-bottom "I know you're planning to do the sheets and towels today, but the kitchen is a bit of a mess. Would you mind tidying the kitchen, please?"

			+button("Continue", true)
			+button("Back", true)

	div.screen.app-screen
		div.content-wrap.app-wrap
			div.sub-app-screen
				div.day-wrap
					p.day Today
					p.date 10 July
					div.app-person.popover.app-next
						p.triangle-border Click Here
						p.time 9:30am
						p.name Simone Arneson
						p.desc 90 minutes of Domestic Assistance
					div.app-person
						p.time 12:00pm
						p.name Alberto Gianconio 
						p.desc 15 minutes of Home Handyman
					div.app-person
						p.time 12:45pm
						p.name Eliza Chen 
						p.desc 60 minutes of Personal Care, Companionship
				div.day-wrap
					p.day Tomorrow
					p.date 10 July
					div.app-person
						p.time 9:00am
						p.name Robert Sturmberger
						p.desc 30 minutes of Companionship
			div.sub-app-screen
				p.checked-in You are checked in.
				+button("Check In", false)

				h3 Contact
				div.icon-w-text
					img(src="img/general/name_icon.svg")
					p Simone Arneson
				div.icon-w-text
					img(src="img/general/address_icon.svg")
					p 284 Boyce Street, Islington, Blenheim 7201
				div.icon-w-text
					img(src="img/general/phone_icon.svg")
					p (027) 7347-485

				h3 Tasks
				p.text-left 90 minutes of Domestic Assistance.

				h3 Community Manager
				div.icon-w-text
					img(src="img/general/name_icon.svg")
					p Allen Hsu
				div.icon-w-text
					img(src="img/general/phone_icon.svg")
					p (029) 1955-644

		+button("Continue 2", true)

	div.screen
		div.content-wrap
			h1.blue Simone is in good spirits today.
			img(src="img/a5/A05.07.jpg", class="img-responsive buffer")
			p.buffer-bottom It's such a lovely day, isn't it? What's say we give the cleaning a miss and go out for a little bit?  

			+button("Continue", true)
			+button("Back", true)

	div.screen
		div.content-wrap
			h1.blue Hmmm... you can't do all three things at once...
			img(src="img/a4/A4.09.jpg", class="img-responsive buffer") 

			p.question-text How will you prioritise the requests?
			p.text-muted.small.buffer-bottom.text-center Drag and drop the below options into the correct order

			div(class="reorder-activity" data-correct="2", data-incorrect="1")
				ul
					li(data-order="3") Do the sheets and towels.
					li(data-order="1") Clean the kitchen.
					li(data-order="2") Go out with Simone.

			+button("submit order", true)
			+button("Back", true)


	div.screen
		div.content-wrap
			h1.blue Naomi is unlikely to be happy with this decision. 
			p.buffer Your Community Manager and the Help Plan should always advise you who the primary decision maker is.
			p.buffer-bottom Authorised Representatives are appointed by the Member and the Member's family in consultation with the Community Manager. When the primary decision-maker is <b>not</b> the Member, there is always a good reason. 
			
			div.greenblue.no-margin.buffer
				p.buffer-bottom You should prioritise the wishes of the Authorised Representative, then the Member, then the Help Plan for that day.
				p Of course, if you can prioritise multiple tasks in this way <b>and</b> get them all done, that will make you a Magician in everyone's eyes! 

			+button("Try Again 2", true, false, 1)

	div.screen
		div.content-wrap
			h1.blue Yes, that's the best order in this case. 
			p.buffer You might need to tactfully let Simone know that you spoke with Naomi earlier and <b>she</b> asked you to prioritise the cleaning today. You could suggest going out together if the cleaning doesn't take too long. 
			p.buffer-bottom Authorised Representatives are appointed by the Member and the Member's family in consultation with the Community Manager. When the primary decision-maker is <b>not</b> the Member, there is always a good reason. 
			
			div.greenblue.no-margin.buffer
				p You should prioritise the wishes of the Authorised Representative, then the Member, then the Help Plan for that day. Of course, if you can prioritise multiple tasks in this way <b>and</b> get them all done, that will make you a Magician in everyone's eyes!

			+button("Continue 2", true, false, 1)

	div.screen.app-screen
		div.modal
			div.modal-content
				p Here is the end-of-visit rating and the message you left in the app to communicate what happened.
				button.btn.btn-modal-close Continue
				
		div.content-wrap.app-wrap
			div.sub-app-screen
				p.greenblue-header.text-center Rate your visit

				div.stars
					i.fa.fa-star
					i.fa.fa-star
					i.fa.fa-star
					i.fa.fa-star
					i.fa.fa-star-o

				div.row
					div.col-xs-6
						p.greenblue-header Started At
						div.time-wrap.first
							p Mon 9:30am
					div.col-xs-6
						p.greenblue-header Finished At
						div.time-wrap.last
							p Mon 11:00am

				p.greenblue-header Notes for the Community Manager
				p.instructions If there was an issue with your visit or you need to justify additional time, you can leave a note for the Community Manager
				
				div.notes
					p Today’s tasks changed following call from Simone’s daughter, Naomi (Authorised Representative). Ended up doing a big kitchen tidy instead of changing and washing linen as planned. Simone wanted to go shopping. Not enough time for that, but we did go for a short walk after the cleaning.

				+button("Continue 3", false)

	div.screen
		div.content-wrap.activity-complete-wrap
			div.activity-complete-image.a5
			div.activity.copy-section
				div.content-wrap
					+tick
					h2 Activity Complete
					p "Mum and I love how easy it is to change things based on her needs."

			a(href="a6a.html")
				+button("Finish", true)

dist/a5.html
<!DOCTYPE html><html lang="js"><head><meta name="viewport" content="width=device-width, initial-scale=1"><meta charset="UTF-8"><meta name="format-detection" content="telephone=no"><title>Good Friends</title><link rel="stylesheet" href="css/styles.min.css"><script src="js/scripts.min.js"></script><script src="js/ga.js"></script></head><body id="hammer-listener"><div class="loader"><div class="logo-wrap"><img class="img-responsive logo-v1" src="img/general/testlogo_v1.svg"/></div><p class="loading">Loading</p></div><div class="can-scroll-wrap"><img class="can-scroll scroll-gesture" src="img/general/gesture-animation.gif"></div><div class="content"><div class="menu"><div class="logo-wrap"><img class="img-responsive logo-v2" src="img/general/testlogo_v2.svg"/></div></div><div class="hamburger-menu"><div class="level-1"><div class="item trigger"><p>Welcome To Good Friends</p><i class="fa fa-chevron-right"></i></div><div class="level-2 level links closed"><div class="item menu-left-1"><p> <a href="#">Not Available</a></p></div></div><div class="item trigger"><p>How Friendly Are You?</p><i class="fa fa-chevron-right"></i></div><div class="level-2 level closed"><div class="item menu-left-1 trigger"><p>Meeting Your Members</p><i class="fa fa-chevron-right"></i></div><div class="level-3 level links closed"><div class="item menu-left-2"><p> <a href="a1.html">Getting off to a good start</a></p></div><div class="item menu-left-2"><p> <a href="a2.html">More than finishing To-Do lists</a></p></div><div class="item menu-left-2"><p> <a href="a3a.html">Getting out and about</a></p></div><div class="item menu-left-2"><p> <a href="a3b.html">Choosing your words</a></p></div></div><div class="item menu-left-1 trigger"><p>Our Vision Of A Visit</p><i class="fa fa-chevron-right"></i></div><div class="level-3 level links closed"><div class="item menu-left-2"><p> <a href="a4.html">Focusing your time &amp; attention</a></p></div><div class="item menu-left-2"><p> <a href="a5.html">Meeting the needs of Members</a></p></div><div class="item menu-left-2"><p> <a href="a6a.html">Providing help to individuals (Pt.1)</a></p></div><div class="item menu-left-2"><p> <a href="a6b.html">Providing help to individuals (Pt.2)</a></p></div><div class="item menu-left-2"><p> <a href="a19.html">Monitoring medication for Members</a></p></div><div class="item menu-left-2"><p> <a href="a7.html">Providing a clear picture to all</a></p></div><div class="item menu-left-2"><p> <a href="a8.html">Balancing Act</a></p></div><div class="item menu-left-2"><p> <a href="a18.html">Sometimes bad things happen</a></p></div></div><div class="item menu-left-1 trigger"><p>Finishing Your Visit</p><i class="fa fa-chevron-right"></i></div><div class="level-3 level links closed"><div class="item menu-left-2"><p> <a href="a9.html">Wrapping up the right way</a></p></div></div></div><div class="item trigger"><p>How To Make the Most Out Of Good Friends</p><i class="fa fa-chevron-right"></i></div><div class="level-2 level links closed"><div class="item menu-left-1"><p> <a href="#">Not Available</a></p></div></div><div class="item trigger"><p>Policy Pack</p><i class="fa fa-chevron-right"></i></div><div class="level-2 level links closed"><div class="item menu-left-1"><p> <a href="#">Not Available</a></p></div></div><div class="item trigger"><p>Compliance Key Messages</p><i class="fa fa-chevron-right"></i></div><div class="level-2 level links closed"><div class="item menu-left-1"><p> <a href="compliance.html">Compliance</a></p></div></div></div></div><div class="screen blue-bg no-menu intro has-flex"><div class="content-wrap"><div class="logo-wrap"><img class="img-responsive logo-v1" src="img/general/testlogo_v1.svg"/></div><h1>Meeting the needs of Members. </h1><p>Being responsive and flexible when your visit doesn't go quite as planned.</p><div class="button-wrap"><button class="btn btn-continue next">Continue</button></div></div></div><div class="screen"><div class="content-wrap"><h1 class="blue">You're off to Simone's to wash the sheets and towels.</h1><img class="img-responsive buffer" src="img/a5/A7.17.jpg"><div class="button-wrap has-bg"><button class="btn btn-continue next">Continue</button></div><div class="button-wrap has-bg"><button class="btn btn-back">Back</button></div></div></div><div class="screen"><div class="content-wrap"><h1 class="blue">On your way there, you get a phone call...</h1><img class="img-responsive buffer" src="img/a5/A5.03.jpg"><div class="button-wrap has-bg"><button class="btn btn-continue next">Answer The Call</button></div><div class="button-wrap has-bg"><button class="btn btn-back">Back</button></div></div></div><div class="screen"><div class="content-wrap"><h1 class="blue">Naomi says she called in on Simone earlier.</h1><img class="img-responsive buffer" src="img/a5/A5.03.jpg"><p class="buffer-bottom">"I know you're planning to do the sheets and towels today, but the kitchen is a bit of a mess. Would you mind tidying the kitchen, please?"</p><div class="button-wrap has-bg"><button class="btn btn-continue next">Continue</button></div><div class="button-wrap has-bg"><button class="btn btn-back">Back</button></div></div></div><div class="screen app-screen"><div class="content-wrap app-wrap"><div class="sub-app-screen"><div class="day-wrap"><p class="day">Today</p><p class="date">10 July</p><div class="app-person popover app-next"><p class="triangle-border">Click Here</p><p class="time">9:30am</p><p class="name">Simone Arneson</p><p class="desc">90 minutes of Domestic Assistance</p></div><div class="app-person"><p class="time">12:00pm</p><p class="name">Alberto Gianconio </p><p class="desc">15 minutes of Home Handyman</p></div><div class="app-person"><p class="time">12:45pm</p><p class="name">Eliza Chen </p><p class="desc">60 minutes of Personal Care, Companionship</p></div></div><div class="day-wrap"><p class="day">Tomorrow</p><p class="date">10 July</p><div class="app-person"><p class="time">9:00am</p><p class="name">Robert Sturmberger</p><p class="desc">30 minutes of Companionship</p></div></div></div><div class="sub-app-screen"><p class="checked-in">You are checked in.</p><button class="btn btn-check-in not-clicked">Check In</button><h3>Contact</h3><div class="icon-w-text"><img src="img/general/name_icon.svg"><p>Simone Arneson</p></div><div class="icon-w-text"><img src="img/general/address_icon.svg"><p>284 Boyce Street, Islington, Blenheim 7201</p></div><div class="icon-w-text"><img src="img/general/phone_icon.svg"><p>(027) 7347-485</p></div><h3>Tasks</h3><p class="text-left">90 minutes of Domestic Assistance.</p><h3>Community Manager</h3><div class="icon-w-text"><img src="img/general/name_icon.svg"><p>Allen Hsu</p></div><div class="icon-w-text"><img src="img/general/phone_icon.svg"><p>(029) 1955-644</p></div></div></div><div class="button-wrap has-bg force"><button class="btn btn-continue next">Continue</button></div></div><div class="screen"><div class="content-wrap"><h1 class="blue">Simone is in good spirits today.</h1><img class="img-responsive buffer" src="img/a5/A05.07.jpg"><p class="buffer-bottom">It's such a lovely day, isn't it? What's say we give the cleaning a miss and go out for a little bit?  </p><div class="button-wrap has-bg"><button class="btn btn-continue next">Continue</button></div><div class="button-wrap has-bg"><button class="btn btn-back">Back</button></div></div></div><div class="screen"><div class="content-wrap"><h1 class="blue">Hmmm... you can't do all three things at once...</h1><img class="img-responsive buffer" src="img/a4/A4.09.jpg"><p class="question-text">How will you prioritise the requests?</p><p class="text-muted small buffer-bottom text-center">Drag and drop the below options into the correct order</p><div class="reorder-activity" data-correct="2" data-incorrect="1"><ul><li data-order="3">Do the sheets and towels.</li><li data-order="1">Clean the kitchen.</li><li data-order="2">Go out with Simone.</li></ul></div><div class="button-wrap has-bg"><button class="btn btn-continue next">submit order</button></div><div class="button-wrap has-bg"><button class="btn btn-back">Back</button></div></div></div><div class="screen"><div class="content-wrap"><h1 class="blue">Naomi is unlikely to be happy with this decision. </h1><p class="buffer">Your Community Manager and the Help Plan should always advise you who the primary decision maker is.</p><p class="buffer-bottom">Authorised Representatives are appointed by the Member and the Member's family in consultation with the Community Manager. When the primary decision-maker is <b>not</b> the Member, there is always a good reason. </p><div class="greenblue no-margin buffer"><p class="buffer-bottom">You should prioritise the wishes of the Authorised Representative, then the Member, then the Help Plan for that day.</p><p>Of course, if you can prioritise multiple tasks in this way <b>and</b> get them all done, that will make you a Magician in everyone's eyes! </p></div><div class="button-wrap has-bg force"><button class="btn btn-back" data-branch="1">Try Again</button></div></div></div><div class="screen"><div class="content-wrap"><h1 class="blue">Yes, that's the best order in this case. </h1><p class="buffer">You might need to tactfully let Simone know that you spoke with Naomi earlier and <b>she</b> asked you to prioritise the cleaning today. You could suggest going out together if the cleaning doesn't take too long. </p><p class="buffer-bottom">Authorised Representatives are appointed by the Member and the Member's family in consultation with the Community Manager. When the primary decision-maker is <b>not</b> the Member, there is always a good reason. </p><div class="greenblue no-margin buffer"><p>You should prioritise the wishes of the Authorised Representative, then the Member, then the Help Plan for that day. Of course, if you can prioritise multiple tasks in this way <b>and</b> get them all done, that will make you a Magician in everyone's eyes!</p></div><div class="button-wrap has-bg force"><button class="btn btn-continue next">Continue</button></div></div></div><div class="screen app-screen"><div class="modal"><div class="modal-content"><p>Here is the end-of-visit rating and the message you left in the app to communicate what happened.</p><button class="btn btn-modal-close">Continue</button></div></div><div class="content-wrap app-wrap"><div class="sub-app-screen"><p class="greenblue-header text-center">Rate your visit</p><div class="stars"><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star-o"></i></div><div class="row"><div class="col-xs-6"><p class="greenblue-header">Started At</p><div class="time-wrap first"><p>Mon 9:30am</p></div></div><div class="col-xs-6"><p class="greenblue-header">Finished At</p><div class="time-wrap last"><p>Mon 11:00am</p></div></div></div><p class="greenblue-header">Notes for the Community Manager</p><p class="instructions">If there was an issue with your visit or you need to justify additional time, you can leave a note for the Community Manager</p><div class="notes"><p>Today’s tasks changed following call from Simone’s daughter, Naomi (Authorised Representative). Ended up doing a big kitchen tidy instead of changing and washing linen as planned. Simone wanted to go shopping. Not enough time for that, but we did go for a short walk after the cleaning.</p></div><div class="button-wrap has-bg force"><button class="btn btn-continue next">Continue</button></div></div></div></div><div class="screen"><div class="content-wrap activity-complete-wrap"><div class="activity-complete-image a5"></div><div class="activity copy-section"><div class="content-wrap"><img class="activity-tick" src="img/general/tick_icon.svg"/><h2>Activity Complete</h2><p>"Mum and I love how easy it is to change things based on her needs."</p></div></div><a href="a6a.html"><div class="button-wrap has-bg force"><button class="btn btn-continue next">Finish</button></div></a></div></div></div></body></html>
