dist/a6a.html
<!DOCTYPE html><html lang="js"><head><meta name="viewport" content="width=device-width, initial-scale=1"><meta charset="UTF-8"><meta name="format-detection" content="telephone=no"><title>Good Friends</title><link rel="stylesheet" href="css/styles.min.css"><script src="js/scripts.min.js"></script><script src="js/ga.js"></script></head><body id="hammer-listener"><div class="loader"><div class="logo-wrap"><img class="img-responsive logo-v1" src="img/general/testlogo_v1.svg"/></div><p class="loading">Loading</p></div><div class="can-scroll-wrap"><img class="can-scroll scroll-gesture" src="img/general/gesture-animation.gif"></div><div class="content"><div class="menu"><div class="logo-wrap"><img class="img-responsive logo-v2" src="img/general/testlogo_v2.svg"/></div></div><div class="hamburger-menu"><div class="level-1"><div class="item trigger"><p>Welcome To Good Friends</p><i class="fa fa-chevron-right"></i></div><div class="level-2 level links closed"><div class="item menu-left-1"><p> <a href="#">Not Available</a></p></div></div><div class="item trigger"><p>How Friendly Are You?</p><i class="fa fa-chevron-right"></i></div><div class="level-2 level closed"><div class="item menu-left-1 trigger"><p>Meeting Your Members</p><i class="fa fa-chevron-right"></i></div><div class="level-3 level links closed"><div class="item menu-left-2"><p> <a href="a1.html">Getting off to a good start</a></p></div><div class="item menu-left-2"><p> <a href="a2.html">More than finishing To-Do lists</a></p></div><div class="item menu-left-2"><p> <a href="a3a.html">Getting out and about</a></p></div><div class="item menu-left-2"><p> <a href="a3b.html">Choosing your words</a></p></div></div><div class="item menu-left-1 trigger"><p>Our Vision Of A Visit</p><i class="fa fa-chevron-right"></i></div><div class="level-3 level links closed"><div class="item menu-left-2"><p> <a href="a4.html">Focusing your time &amp; attention</a></p></div><div class="item menu-left-2"><p> <a href="a5.html">Meeting the needs of Members</a></p></div><div class="item menu-left-2"><p> <a href="a6a.html">Providing help to individuals (Pt.1)</a></p></div><div class="item menu-left-2"><p> <a href="a6b.html">Providing help to individuals (Pt.2)</a></p></div><div class="item menu-left-2"><p> <a href="a19.html">Monitoring medication for Members</a></p></div><div class="item menu-left-2"><p> <a href="a7.html">Providing a clear picture to all</a></p></div><div class="item menu-left-2"><p> <a href="a8.html">Balancing Act</a></p></div><div class="item menu-left-2"><p> <a href="a18.html">Sometimes bad things happen</a></p></div></div><div class="item menu-left-1 trigger"><p>Finishing Your Visit</p><i class="fa fa-chevron-right"></i></div><div class="level-3 level links closed"><div class="item menu-left-2"><p> <a href="a9.html">Wrapping up the right way</a></p></div></div></div><div class="item trigger"><p>How To Make the Most Out Of Good Friends</p><i class="fa fa-chevron-right"></i></div><div class="level-2 level links closed"><div class="item menu-left-1"><p> <a href="#">Not Available</a></p></div></div><div class="item trigger"><p>Policy Pack</p><i class="fa fa-chevron-right"></i></div><div class="level-2 level links closed"><div class="item menu-left-1"><p> <a href="#">Not Available</a></p></div></div><div class="item trigger"><p>Compliance Key Messages</p><i class="fa fa-chevron-right"></i></div><div class="level-2 level links closed"><div class="item menu-left-1"><p> <a href="compliance.html">Compliance</a></p></div></div></div></div><div class="screen blue-bg no-menu intro has-flex"><div class="content-wrap"><div class="logo-wrap"><img class="img-responsive logo-v1" src="img/general/testlogo_v1.svg"/></div><h1>Providing help to individuals.</h1><p>Being aware every Member is an individual and respecting the differences.  </p><div class="button-wrap"><button class="btn btn-continue next">Continue</button></div></div></div><div class="screen"><div class="content-wrap"><h1 class="blue">Today is your first visit with Fiona.</h1><img class="img-responsive buffer" src="img/a6a/A6 Pt1.05.jpg"><p class="buffer-bottom">You've met Fiona once before with the Community Manager. She seemed youthful and energetic. She also came across as somewhat eccentric – which is probably not unusual for an artist. </p><div class="button-wrap has-bg"><button class="btn btn-continue next">Continue</button></div><div class="button-wrap has-bg"><button class="btn btn-back">Back</button></div></div></div><div class="screen app-screen"><div class="content-wrap app-wrap"><div class="sub-app-screen"><div class="day-wrap"><p class="day">Yesterday</p><p class="date">12 July</p><div class="app-person"><p class="time">1:30am</p><p class="name">Graham McKinley </p><p class="desc">4 hours of Domestic Assistance, Home Administration, Companionship </p></div></div><div class="day-wrap"><p class="day">Today</p><p class="date">13 July</p><div class="app-person"><p class="time">9:30am</p><p class="name">Donald Larkin</p><p class="desc">30 minutes of Domestic Assistance</p></div><div class="app-person popover app-next"><p class="triangle-border">Click Here</p><p class="time">11:00am</p><p class="name">Fiona Mortenson </p><p class="desc">30 minutes of Home Handyman, Home Administration, Domestic Assistance</p></div><div class="app-person"><p class="time">12:45pm</p><p class="name">Eliza Chen </p><p class="desc">60 minutes of Personal Care, Companionship</p></div></div></div><div class="sub-app-screen"><p class="checked-in">You are checked in.</p><button class="btn btn-check-in not-clicked">Check In</button><h3>Contact</h3><div class="icon-w-text"><img src="img/general/name_icon.svg"><p>Fiona Mortenson</p></div><div class="icon-w-text"><img src="img/general/address_icon.svg"><p>196 Bronte Place, Leamington, Cambridge 3432</p></div><div class="icon-w-text"><img src="img/general/phone_icon.svg"><p>(027) 6773-732</p></div><h3>Tasks</h3><p class="text-left">30 minutes of Home Handyman, Home Administration, Domestic Assistance</p><h3>Community Manager</h3><div class="icon-w-text"><img src="img/general/name_icon.svg"><p>Allen Hsu</p></div><div class="icon-w-text"><img src="img/general/phone_icon.svg"><p>(029) 1955-644</p></div></div></div><div class="button-wrap has-bg force"><button class="btn btn-continue next">Continue</button></div></div><div class="screen"><div class="content-wrap"><h1 class="blue">Fiona greets you warmly and invites you in...</h1><img class="img-responsive buffer" src="img/a6a/A6 Pt1.02.jpg"><p class="text-center buffer-bottom">Her place is a mess...</p><div class="button-wrap has-bg"><button class="btn btn-continue next">Continue</button></div><div class="button-wrap has-bg"><button class="btn btn-back">Back</button></div></div></div><div class="screen"><div class="content-wrap"><h1 class="blue">Could this be a sign Fiona is not coping at home? </h1><img class="img-responsive buffer" src="img/a6a/A6. Pt1.06.jpg"><p class="question-text">Should you contact the Community Manager?</p><button class="btn btn-quiz" data-branch="1">Yes</button><button class="btn btn-quiz" data-branch="2">No</button><div class="button-wrap has-bg"><button class="btn btn-back">Back</button></div></div></div><div class="screen"><div class="content-wrap"><h1 class="blue">You could be getting off on the wrong foot here.</h1><p class="buffer">Caregivers don't jump to conclusions. In Fiona's case, her living room/studio appears to be "controlled artistic chaos". Remember, all Members are assessed by the Community Manager and everyone's "baseline" circumstances are different. </p><p class="buffer-bottom">As you develop a relationship with each Member, you need to be aware of significant <b>changes</b> to this "baseline". </p><div class="greenblue no-margin buffer"><p>You are always able to communicate minor concerns to the Community Manager via the rating system and notes section of the app to record baseline. Of course, it's always prudent to contact the Community Manager if you have a good reason for concern.</p></div><div class="button-wrap has-bg force"><button class="btn" data-branch="2">Continue</button></div></div></div><div class="screen"><div class="content-wrap"><h1 class="blue">Good decision. That's probably not necessary today. </h1><p class="buffer">Caregivers don't jump to conclusions. In Fiona's case, her living room/studio appears to be "controlled artistic chaos". Remember, all Members are assessed by the Community Manager and everyone's "baseline" circumstances are different. </p><p class="buffer-bottom">As you develop a relationship with each Member, you need to be aware of significant <b>changes</b> to this "baseline". </p><div class="greenblue no-margin buffer"><p>You are always able to communicate minor concerns to the Community Manager via the rating system and notes section of the app to record baseline. Of course, it's always prudent to contact the Community Manager if you have a good reason for concern.</p></div><div class="button-wrap has-bg force"><button class="btn btn-continue next">Continue</button></div></div></div><div class="screen"><div class="content-wrap activity-complete-wrap"><div class="activity-complete-image a6a"></div><div class="activity copy-section"><div class="content-wrap"><img class="activity-tick" src="img/general/tick_icon.svg"/><h2>Activity Complete</h2><p>"I'm part of the generation that changed the world. Don't judge me until you know me."</p></div></div><a href="a6b.html"><div class="button-wrap has-bg force"><button class="btn btn-continue next">Finish</button></div></a></div></div></div></body></html>

views/a6a.pug
extends layout.pug
block content
	div.screen.blue-bg.no-menu.intro.has-flex
		div.content-wrap
			+logo("v1")
			h1 Providing help to individuals.
			p Being aware every Member is an individual and respecting the differences.  
			+button("Continue", false)

	div.screen
		div.content-wrap
			h1.blue Today is your first visit with Fiona.
			img(src="img/a6a/A6 Pt1.05.jpg", class="img-responsive buffer") 
			p.buffer-bottom You've met Fiona once before with the Community Manager. She seemed youthful and energetic. She also came across as somewhat eccentric – which is probably not unusual for an artist. 

			+button("Continue", true)
			+button("Back", true)

	div.screen.app-screen
		div.content-wrap.app-wrap
			div.sub-app-screen
				div.day-wrap
					p.day Yesterday
					p.date 12 July
					div.app-person
						p.time 1:30am
						p.name Graham McKinley 
						p.desc 4 hours of Domestic Assistance, Home Administration, Companionship 
				div.day-wrap
					p.day Today
					p.date 13 July
					div.app-person
						p.time 9:30am
						p.name Donald Larkin
						p.desc 30 minutes of Domestic Assistance
					div.app-person.popover.app-next
						p.triangle-border Click Here
						p.time 11:00am
						p.name Fiona Mortenson 
						p.desc 30 minutes of Home Handyman, Home Administration, Domestic Assistance
					div.app-person
						p.time 12:45pm
						p.name Eliza Chen 
						p.desc 60 minutes of Personal Care, Companionship
			div.sub-app-screen
				p.checked-in You are checked in.
				+button("Check In", false)

				h3 Contact
				div.icon-w-text
					img(src="img/general/name_icon.svg")
					p Fiona Mortenson
				div.icon-w-text
					img(src="img/general/address_icon.svg")
					p 196 Bronte Place, Leamington, Cambridge 3432
				div.icon-w-text
					img(src="img/general/phone_icon.svg")
					p (027) 6773-732

				h3 Tasks
				p.text-left 30 minutes of Home Handyman, Home Administration, Domestic Assistance

				h3 Community Manager
				div.icon-w-text
					img(src="img/general/name_icon.svg")
					p Allen Hsu
				div.icon-w-text
					img(src="img/general/phone_icon.svg")
					p (029) 1955-644

		+button("Continue 2", true)

	div.screen
		div.content-wrap
			h1.blue Fiona greets you warmly and invites you in...
			img(src="img/a6a/A6 Pt1.02.jpg", class="img-responsive buffer") 
			p.text-center.buffer-bottom Her place is a mess...

			+button("Continue", true)
			+button("Back", true)

	div.screen
		div.content-wrap
			h1.blue Could this be a sign Fiona is not coping at home? 
			img(src="img/a6a/A6. Pt1.06.jpg", class="img-responsive buffer") 

			p.question-text Should you contact the Community Manager?

			+button("Quiz", false, "Yes", 1)
			+button("Quiz", false, "No", 2)
			+button("Back", true)

	div.screen
		div.content-wrap
			h1.blue You could be getting off on the wrong foot here.
			p.buffer Caregivers don't jump to conclusions. In Fiona's case, her living room/studio appears to be "controlled artistic chaos". Remember, all Members are assessed by the Community Manager and everyone's "baseline" circumstances are different. 
			p.buffer-bottom As you develop a relationship with each Member, you need to be aware of significant <b>changes</b> to this "baseline". 
			
			div.greenblue.no-margin.buffer
				p You are always able to communicate minor concerns to the Community Manager via the rating system and notes section of the app to record baseline. Of course, it's always prudent to contact the Community Manager if you have a good reason for concern.

			+button("Continue 4", true, false, 2)

	div.screen
		div.content-wrap
			h1.blue Good decision. That's probably not necessary today. 
			p.buffer Caregivers don't jump to conclusions. In Fiona's case, her living room/studio appears to be "controlled artistic chaos". Remember, all Members are assessed by the Community Manager and everyone's "baseline" circumstances are different. 
			p.buffer-bottom As you develop a relationship with each Member, you need to be aware of significant <b>changes</b> to this "baseline". 
			
			div.greenblue.no-margin.buffer
				p You are always able to communicate minor concerns to the Community Manager via the rating system and notes section of the app to record baseline. Of course, it's always prudent to contact the Community Manager if you have a good reason for concern.

			+button("Continue 2", true, false, 1)

	div.screen
		div.content-wrap.activity-complete-wrap
			div.activity-complete-image.a6a
			div.activity.copy-section
				div.content-wrap
					+tick
					h2 Activity Complete
					p "I'm part of the generation that changed the world. Don't judge me until you know me."

			a(href="a6b.html")
				+button("Finish", true)
