views/a6b.pug
extends layout.pug
block content
	div.screen.blue-bg.no-menu.intro.has-flex
		div.content-wrap
			+logo("v1")
			h1 Providing help to individuals.
			p Being aware every Member is an individual and respecting the differences.  
			+button("Continue", false)

	div.screen
		div.content-wrap
			h1.blue It's Wednesday afternoon. Time to visit Graham.
			img(src="img/a6b/A6 Pt2.02.jpg", class="img-responsive buffer") 

			+button("Continue", true)
			+button("Back", true)

	div.screen.app-screen
		div.content-wrap.app-wrap
			div.sub-app-screen
				div.day-wrap
					p.day Yesterday
					p.date 12 July
					div.app-person
						p.time 4:30pm
						p.name Donald Larkin
						p.desc 30 minutes of Domestic Assistance
				div.day-wrap
					p.day Today
					p.date 13 July
					div.app-person
						p.time 11:15am
						p.name Margaret Stapleton 
						p.desc 45 minutes of Yard Maintenance
					div.app-person.popover.app-next
						p.triangle-border Click Here
						p.time 1:30pm
						p.name Graham McKinley 
						p.desc 4 hours of Domestic Assistance, Home Administration, Companionship
			div.sub-app-screen
				p.checked-in You are checked in.
				+button("Check In", false)

				h3 Contact
				div.icon-w-text
					img(src="img/general/name_icon.svg")
					p Graham McKinley 
				div.icon-w-text
					img(src="img/general/address_icon.svg")
					p 278 Jeannie Way, Waikanae, Kapiti Coast 5036
				div.icon-w-text
					img(src="img/general/phone_icon.svg")
					p (020) 8111-362

				h3 Tasks
				p.text-left 4 hours of Domestic Assistance, Home Administration, Companionship

				h3 Community Manager
				div.icon-w-text
					img(src="img/general/name_icon.svg")
					p Allen Hsu
				div.icon-w-text
					img(src="img/general/phone_icon.svg")
					p (029) 1955-644

		+button("Continue 2", true)

	div.screen
		div.content-wrap
			h1.blue You've been visiting Graham regularly for months.  
			img(src="img/a6b/A6 Pt2.05.jpg", class="img-responsive buffer") 
			
			p.buffer-bottom Usually, you and Graham go shopping, you pre-cook some meals for him, and you watch TV together.  

			+button("Continue", true)
			+button("Back", true)

	div.screen
		div.content-wrap
			h1.blue Graham's favourite TV show is Fishing & Adventure. 
			p.buffer Every Wednesday afternoon at 4pm you and Graham watch Fishing & Adventure. Then he tells you stories of fishing trips with his family, with his mates, by himself. He <b>loves</b> Fishing & Adventure.

			+button("Continue", true)
			+button("Back", true)

	div.screen
		div.content-wrap
			h1.blue While you're at the supermarket, Graham asks... 
			img(src="img/a6b/A6 Pt2.07.jpg", class="img-responsive buffer") 
			
			p.buffer-bottom "Hey, what time is Fishing & Adventure on again?" 

			+button("Continue", true)
			+button("Back", true)

	div.screen
		div.content-wrap
			h1.blue Later, while you're pre-cooking some meals...
			img(src="img/a6b/A6 Pt2.08.jpg", class="img-responsive buffer") 
			
			p.buffer-bottom "Is Fishing & Adventure on yet? Is today Tuesday or Wednesday?" 

			+button("Continue", true)
			+button("Back", true)

	div.screen
		div.content-wrap
			h1.blue You make some coffee and a snack. It's almost 4pm.
			img(src="img/a6b/A6 Pt2.09.jpg", class="img-responsive buffer") 
			
			p.buffer-bottom "Fishing & Adventure is coming on now, right? Fishing & Adventure, yeah?" 

			+button("Continue", true)
			+button("Back", true)

	div.screen
		div.content-wrap
			h1.blue.bottom-buffer Could this be a sign Graham needs more help? 
			p.question-text Should you contact the Community Manager?

			+button("Quiz", false, "Yes", 2)
			+button("Quiz", false, "No", 1)
			+button("Back", true)

	div.screen
		div.content-wrap
			h1.blue Hmm... you have an important balance to strike.
			p.buffer On the one hand, Caregivers don't jump to conclusions. Members have all been assessed by the Community Manager and everyone's "baseline" circumstances are different. 
			p.buffer-bottom On the other hand, you need to be alert for potential issues – <b>one</b> signal of which could be noticeable changes to that "baseline". It's always better to contact the Community Manager if you have reasons for concern.    
			
			div.greenblue.no-margin.buffer
				p It's <b>possible</b> that Graham's "baseline" is shifting. His behaviour seems a little out of character. Or it might be nothing. Probably worth flagging, though, in this case. The Community Manager will investigate further.

			+button("Continue 4", true, false, 2)

	div.screen
		div.content-wrap
			h1.blue Good decision. Graham does seem a bit out of sorts. 
			p.buffer As a Caregiver, there's an important balance for you to strike...
			p.buffer-bottom On the one hand, you need to avoid jumping to conclusions. Members have all been assessed by the Community Manager and everyone's "baseline" circumstances are different. 
			p.buffer-bottom On the other hand, you need to be alert for potential issues – <b>one</b> signal of which could be noticeable changes to that "baseline". It's always better to contact the Community Manager if you have reasons for concern.   
			
			div.greenblue.no-margin.buffer
				p It's <b>possible</b> that Graham's "baseline" is shifting. His behaviour seems a little out of character. Or it might be nothing. Probably worth flagging, though, in this case.  The Community Manager will investigate further. 

			+button("Continue 2", true, false, 1)

	div.screen
		div.content-wrap.activity-complete-wrap
			div.activity-complete-image.a6b
			div.activity.copy-section
				div.content-wrap
					+tick
					h2 Activity Complete
					p "We appreciate having someone to help with those things we can't quite manage by ourselves anymore."

			a(href="a19.html")
				+button("Finish", true)

dist/a6b.html
<!DOCTYPE html><html lang="js"><head><meta name="viewport" content="width=device-width, initial-scale=1"><meta charset="UTF-8"><meta name="format-detection" content="telephone=no"><title>Good Friends</title><link rel="stylesheet" href="css/styles.min.css"><script src="js/scripts.min.js"></script><script src="js/ga.js"></script></head><body id="hammer-listener"><div class="loader"><div class="logo-wrap"><img class="img-responsive logo-v1" src="img/general/testlogo_v1.svg"/></div><p class="loading">Loading</p></div><div class="can-scroll-wrap"><img class="can-scroll scroll-gesture" src="img/general/gesture-animation.gif"></div><div class="content"><div class="menu"><div class="logo-wrap"><img class="img-responsive logo-v2" src="img/general/testlogo_v2.svg"/></div></div><div class="hamburger-menu"><div class="level-1"><div class="item trigger"><p>Welcome To Good Friends</p><i class="fa fa-chevron-right"></i></div><div class="level-2 level links closed"><div class="item menu-left-1"><p> <a href="#">Not Available</a></p></div></div><div class="item trigger"><p>How Friendly Are You?</p><i class="fa fa-chevron-right"></i></div><div class="level-2 level closed"><div class="item menu-left-1 trigger"><p>Meeting Your Members</p><i class="fa fa-chevron-right"></i></div><div class="level-3 level links closed"><div class="item menu-left-2"><p> <a href="a1.html">Getting off to a good start</a></p></div><div class="item menu-left-2"><p> <a href="a2.html">More than finishing To-Do lists</a></p></div><div class="item menu-left-2"><p> <a href="a3a.html">Getting out and about</a></p></div><div class="item menu-left-2"><p> <a href="a3b.html">Choosing your words</a></p></div></div><div class="item menu-left-1 trigger"><p>Our Vision Of A Visit</p><i class="fa fa-chevron-right"></i></div><div class="level-3 level links closed"><div class="item menu-left-2"><p> <a href="a4.html">Focusing your time &amp; attention</a></p></div><div class="item menu-left-2"><p> <a href="a5.html">Meeting the needs of Members</a></p></div><div class="item menu-left-2"><p> <a href="a6a.html">Providing help to individuals (Pt.1)</a></p></div><div class="item menu-left-2"><p> <a href="a6b.html">Providing help to individuals (Pt.2)</a></p></div><div class="item menu-left-2"><p> <a href="a19.html">Monitoring medication for Members</a></p></div><div class="item menu-left-2"><p> <a href="a7.html">Providing a clear picture to all</a></p></div><div class="item menu-left-2"><p> <a href="a8.html">Balancing Act</a></p></div><div class="item menu-left-2"><p> <a href="a18.html">Sometimes bad things happen</a></p></div></div><div class="item menu-left-1 trigger"><p>Finishing Your Visit</p><i class="fa fa-chevron-right"></i></div><div class="level-3 level links closed"><div class="item menu-left-2"><p> <a href="a9.html">Wrapping up the right way</a></p></div></div></div><div class="item trigger"><p>How To Make the Most Out Of Good Friends</p><i class="fa fa-chevron-right"></i></div><div class="level-2 level links closed"><div class="item menu-left-1"><p> <a href="#">Not Available</a></p></div></div><div class="item trigger"><p>Policy Pack</p><i class="fa fa-chevron-right"></i></div><div class="level-2 level links closed"><div class="item menu-left-1"><p> <a href="#">Not Available</a></p></div></div><div class="item trigger"><p>Compliance Key Messages</p><i class="fa fa-chevron-right"></i></div><div class="level-2 level links closed"><div class="item menu-left-1"><p> <a href="compliance.html">Compliance</a></p></div></div></div></div><div class="screen blue-bg no-menu intro has-flex"><div class="content-wrap"><div class="logo-wrap"><img class="img-responsive logo-v1" src="img/general/testlogo_v1.svg"/></div><h1>Providing help to individuals.</h1><p>Being aware every Member is an individual and respecting the differences.  </p><div class="button-wrap"><button class="btn btn-continue next">Continue</button></div></div></div><div class="screen"><div class="content-wrap"><h1 class="blue">It's Wednesday afternoon. Time to visit Graham.</h1><img class="img-responsive buffer" src="img/a6b/A6 Pt2.02.jpg"><div class="button-wrap has-bg"><button class="btn btn-continue next">Continue</button></div><div class="button-wrap has-bg"><button class="btn btn-back">Back</button></div></div></div><div class="screen app-screen"><div class="content-wrap app-wrap"><div class="sub-app-screen"><div class="day-wrap"><p class="day">Yesterday</p><p class="date">12 July</p><div class="app-person"><p class="time">4:30pm</p><p class="name">Donald Larkin</p><p class="desc">30 minutes of Domestic Assistance</p></div></div><div class="day-wrap"><p class="day">Today</p><p class="date">13 July</p><div class="app-person"><p class="time">11:15am</p><p class="name">Margaret Stapleton </p><p class="desc">45 minutes of Yard Maintenance</p></div><div class="app-person popover app-next"><p class="triangle-border">Click Here</p><p class="time">1:30pm</p><p class="name">Graham McKinley </p><p class="desc">4 hours of Domestic Assistance, Home Administration, Companionship</p></div></div></div><div class="sub-app-screen"><p class="checked-in">You are checked in.</p><button class="btn btn-check-in not-clicked">Check In</button><h3>Contact</h3><div class="icon-w-text"><img src="img/general/name_icon.svg"><p>Graham McKinley </p></div><div class="icon-w-text"><img src="img/general/address_icon.svg"><p>278 Jeannie Way, Waikanae, Kapiti Coast 5036</p></div><div class="icon-w-text"><img src="img/general/phone_icon.svg"><p>(020) 8111-362</p></div><h3>Tasks</h3><p class="text-left">4 hours of Domestic Assistance, Home Administration, Companionship</p><h3>Community Manager</h3><div class="icon-w-text"><img src="img/general/name_icon.svg"><p>Allen Hsu</p></div><div class="icon-w-text"><img src="img/general/phone_icon.svg"><p>(029) 1955-644</p></div></div></div><div class="button-wrap has-bg force"><button class="btn btn-continue next">Continue</button></div></div><div class="screen"><div class="content-wrap"><h1 class="blue">You've been visiting Graham regularly for months.  </h1><img class="img-responsive buffer" src="img/a6b/A6 Pt2.05.jpg"><p class="buffer-bottom">Usually, you and Graham go shopping, you pre-cook some meals for him, and you watch TV together.  </p><div class="button-wrap has-bg"><button class="btn btn-continue next">Continue</button></div><div class="button-wrap has-bg"><button class="btn btn-back">Back</button></div></div></div><div class="screen"><div class="content-wrap"><h1 class="blue">Graham's favourite TV show is Fishing & Adventure. </h1><p class="buffer">Every Wednesday afternoon at 4pm you and Graham watch Fishing & Adventure. Then he tells you stories of fishing trips with his family, with his mates, by himself. He <b>loves</b> Fishing & Adventure.</p><div class="button-wrap has-bg"><button class="btn btn-continue next">Continue</button></div><div class="button-wrap has-bg"><button class="btn btn-back">Back</button></div></div></div><div class="screen"><div class="content-wrap"><h1 class="blue">While you're at the supermarket, Graham asks... </h1><img class="img-responsive buffer" src="img/a6b/A6 Pt2.07.jpg"><p class="buffer-bottom">"Hey, what time is Fishing & Adventure on again?" </p><div class="button-wrap has-bg"><button class="btn btn-continue next">Continue</button></div><div class="button-wrap has-bg"><button class="btn btn-back">Back</button></div></div></div><div class="screen"><div class="content-wrap"><h1 class="blue">Later, while you're pre-cooking some meals...</h1><img class="img-responsive buffer" src="img/a6b/A6 Pt2.08.jpg"><p class="buffer-bottom">"Is Fishing & Adventure on yet? Is today Tuesday or Wednesday?" </p><div class="button-wrap has-bg"><button class="btn btn-continue next">Continue</button></div><div class="button-wrap has-bg"><button class="btn btn-back">Back</button></div></div></div><div class="screen"><div class="content-wrap"><h1 class="blue">You make some coffee and a snack. It's almost 4pm.</h1><img class="img-responsive buffer" src="img/a6b/A6 Pt2.09.jpg"><p class="buffer-bottom">"Fishing & Adventure is coming on now, right? Fishing & Adventure, yeah?" </p><div class="button-wrap has-bg"><button class="btn btn-continue next">Continue</button></div><div class="button-wrap has-bg"><button class="btn btn-back">Back</button></div></div></div><div class="screen"><div class="content-wrap"><h1 class="blue bottom-buffer">Could this be a sign Graham needs more help? </h1><p class="question-text">Should you contact the Community Manager?</p><button class="btn btn-quiz" data-branch="2">Yes</button><button class="btn btn-quiz" data-branch="1">No</button><div class="button-wrap has-bg"><button class="btn btn-back">Back</button></div></div></div><div class="screen"><div class="content-wrap"><h1 class="blue">Hmm... you have an important balance to strike.</h1><p class="buffer">On the one hand, Caregivers don't jump to conclusions. Members have all been assessed by the Community Manager and everyone's "baseline" circumstances are different. </p><p class="buffer-bottom">On the other hand, you need to be alert for potential issues – <b>one</b> signal of which could be noticeable changes to that "baseline". It's always better to contact the Community Manager if you have reasons for concern.    </p><div class="greenblue no-margin buffer"><p>It's <b>possible</b> that Graham's "baseline" is shifting. His behaviour seems a little out of character. Or it might be nothing. Probably worth flagging, though, in this case. The Community Manager will investigate further.</p></div><div class="button-wrap has-bg force"><button class="btn" data-branch="2">Continue</button></div></div></div><div class="screen"><div class="content-wrap"><h1 class="blue">Good decision. Graham does seem a bit out of sorts. </h1><p class="buffer">As a Caregiver, there's an important balance for you to strike...</p><p class="buffer-bottom">On the one hand, you need to avoid jumping to conclusions. Members have all been assessed by the Community Manager and everyone's "baseline" circumstances are different. </p><p class="buffer-bottom">On the other hand, you need to be alert for potential issues – <b>one</b> signal of which could be noticeable changes to that "baseline". It's always better to contact the Community Manager if you have reasons for concern.   </p><div class="greenblue no-margin buffer"><p>It's <b>possible</b> that Graham's "baseline" is shifting. His behaviour seems a little out of character. Or it might be nothing. Probably worth flagging, though, in this case.  The Community Manager will investigate further. </p></div><div class="button-wrap has-bg force"><button class="btn btn-continue next">Continue</button></div></div></div><div class="screen"><div class="content-wrap activity-complete-wrap"><div class="activity-complete-image a6b"></div><div class="activity copy-section"><div class="content-wrap"><img class="activity-tick" src="img/general/tick_icon.svg"/><h2>Activity Complete</h2><p>"We appreciate having someone to help with those things we can't quite manage by ourselves anymore."</p></div></div><a href="a19.html"><div class="button-wrap has-bg force"><button class="btn btn-continue next">Finish</button></div></a></div></div></div></body></html>
