dist/a8.html
<!DOCTYPE html><html lang="js"><head><meta name="viewport" content="width=device-width, initial-scale=1"><meta charset="UTF-8"><meta name="format-detection" content="telephone=no"><title>Good Friends</title><link rel="stylesheet" href="css/styles.min.css"><script src="js/scripts.min.js"></script><script src="js/ga.js"></script></head><body id="hammer-listener"><div class="loader"><div class="logo-wrap"><img class="img-responsive logo-v1" src="img/general/testlogo_v1.svg"/></div><p class="loading">Loading</p></div><div class="can-scroll-wrap"><img class="can-scroll scroll-gesture" src="img/general/gesture-animation.gif"></div><div class="content"><div class="menu"><div class="logo-wrap"><img class="img-responsive logo-v2" src="img/general/testlogo_v2.svg"/></div></div><div class="hamburger-menu"><div class="level-1"><div class="item trigger"><p>Welcome To Good Friends</p><i class="fa fa-chevron-right"></i></div><div class="level-2 level links closed"><div class="item menu-left-1"><p> <a href="#">Not Available</a></p></div></div><div class="item trigger"><p>How Friendly Are You?</p><i class="fa fa-chevron-right"></i></div><div class="level-2 level closed"><div class="item menu-left-1 trigger"><p>Meeting Your Members</p><i class="fa fa-chevron-right"></i></div><div class="level-3 level links closed"><div class="item menu-left-2"><p> <a href="a1.html">Getting off to a good start</a></p></div><div class="item menu-left-2"><p> <a href="a2.html">More than finishing To-Do lists</a></p></div><div class="item menu-left-2"><p> <a href="a3a.html">Getting out and about</a></p></div><div class="item menu-left-2"><p> <a href="a3b.html">Choosing your words</a></p></div></div><div class="item menu-left-1 trigger"><p>Our Vision Of A Visit</p><i class="fa fa-chevron-right"></i></div><div class="level-3 level links closed"><div class="item menu-left-2"><p> <a href="a4.html">Focusing your time &amp; attention</a></p></div><div class="item menu-left-2"><p> <a href="a5.html">Meeting the needs of Members</a></p></div><div class="item menu-left-2"><p> <a href="a6a.html">Providing help to individuals (Pt.1)</a></p></div><div class="item menu-left-2"><p> <a href="a6b.html">Providing help to individuals (Pt.2)</a></p></div><div class="item menu-left-2"><p> <a href="a19.html">Monitoring medication for Members</a></p></div><div class="item menu-left-2"><p> <a href="a7.html">Providing a clear picture to all</a></p></div><div class="item menu-left-2"><p> <a href="a8.html">Balancing Act</a></p></div><div class="item menu-left-2"><p> <a href="a18.html">Sometimes bad things happen</a></p></div></div><div class="item menu-left-1 trigger"><p>Finishing Your Visit</p><i class="fa fa-chevron-right"></i></div><div class="level-3 level links closed"><div class="item menu-left-2"><p> <a href="a9.html">Wrapping up the right way</a></p></div></div></div><div class="item trigger"><p>How To Make the Most Out Of Good Friends</p><i class="fa fa-chevron-right"></i></div><div class="level-2 level links closed"><div class="item menu-left-1"><p> <a href="#">Not Available</a></p></div></div><div class="item trigger"><p>Policy Pack</p><i class="fa fa-chevron-right"></i></div><div class="level-2 level links closed"><div class="item menu-left-1"><p> <a href="#">Not Available</a></p></div></div><div class="item trigger"><p>Compliance Key Messages</p><i class="fa fa-chevron-right"></i></div><div class="level-2 level links closed"><div class="item menu-left-1"><p> <a href="compliance.html">Compliance</a></p></div></div></div></div><div class="screen blue-bg no-menu intro has-flex"><div class="content-wrap"><div class="logo-wrap"><img class="img-responsive logo-v1" src="img/general/testlogo_v1.svg"/></div><h1>Balancing Act</h1><p>Dealing with risk as a Good Friends Helper.</p><div class="button-wrap"><button class="btn btn-continue next">Continue</button></div></div></div><div class="screen"><div class="content-wrap"><h1 class="blue">In this activity, you're going to meet Trish.</h1><img class="img-responsive buffer" src="img/a8/A8.02.jpg"><div class="button-wrap has-bg"><button class="btn btn-continue next">Continue</button></div><div class="button-wrap has-bg"><button class="btn btn-back">Back</button></div></div></div><div class="screen"><div class="content-wrap"><h1 class="blue">Trish is a new Good Friends Member.</h1><img class="img-responsive buffer" src="img/a8/A8.03.jpg"><p class="buffer-bottom">As is usual when we bring in a new Member, she met with yourself and your Community Manager beforehand. She told you all about her career as an author and her love of crosswords and word games. This will be your first official visit as her Helper. </p><div class="button-wrap has-bg"><button class="btn btn-continue next">Continue</button></div><div class="button-wrap has-bg"><button class="btn btn-back">Back</button></div></div></div><div class="screen"><div class="content-wrap"><h1 class="blue">Let's go meet Trish.</h1><img class="img-responsive buffer" src="img/a8/A8.02.jpg"><div class="button-wrap has-bg"><button class="btn btn-continue next">Continue</button></div><div class="button-wrap has-bg"><button class="btn btn-back">Back</button></div></div></div><div class="screen"><div class="content-wrap"><h1 class="blue">It's a little dark...</h1><img class="img-responsive buffer" src="img/a8/A8.05.jpg"><div class="button-wrap has-bg"><button class="btn btn-continue next">Continue</button></div><div class="button-wrap has-bg"><button class="btn btn-back">Back</button></div></div></div><div class="screen"><div class="content-wrap"><h1 class="blue">Hmm, the light seems to have burnt out. </h1><img class="img-responsive buffer" src="img/a8/A8.11.jpg"><div class="button-wrap has-bg"><button class="btn btn-continue next">Continue</button></div><div class="button-wrap has-bg"><button class="btn btn-back">Back</button></div></div></div><div class="screen"><div class="content-wrap"><h1 class="blue">The fixture isn't broken. Just a burnt out bulb.</h1><img class="img-responsive buffer" src="img/a8/A8.11.jpg"><p class="question-text">What do you want to do?</p><button class="btn btn-quiz" data-branch="1">Conduct a comprehensive risk audit</button><button class="btn btn-quiz" data-branch="1">Call the Community Manager</button><button class="btn btn-quiz" data-branch="2">Find a way to change the bulb</button><div class="button-wrap has-bg"><button class="btn btn-back">Back</button></div></div></div><div class="screen"><div class="content-wrap"><h1 class="blue">Be safe, not bubble wrapped. </h1><p class="buffer">We want you to work safely, but our Community Managers have limited scope to conduct multiple assessments of the home environment after their initial inspections. You are also unlikely to have the time to conduct a comprehensive risk analysis. </p><p class="buffer-bottom">We never want you to take inappropriate risks. It is your obligation to conduct your work in a safe manner.</p><p class="buffer-bottom">One way you can fulfil this obligation is to visually inspect situations to satisfy yourself that you can do the job safely. If you have any doubts, don't touch it.</p><div class="greenblue no-margin buffer"><p class="buffer-bottom">For example, if this scenario was in real life, you would pay particular attention to details such as damaged or missing parts, and burning or discolouration of the electrical fittings in the installation (e.g. damaged light switch or cracked power point).</p><p>Since none of these elements was present, you could be satisfied that the task was safe to do. </p></div><div class="button-wrap has-bg force"><button class="btn btn-continue next">Continue</button></div></div></div><div class="screen"><div class="content-wrap"><h1 class="blue">Take the time to consider your options.  </h1><p class="buffer">You should always stop and consider your safety and the safety of your Member before you do anything. </p><p class="buffer-bottom">A good rule of thumb is: If you would do it at home safely, do it for your Members. </p><p class="buffer-bottom">Always take the time to conduct a visual inspection of your work environments, every day. It is your obligation to conduct your work in a safe manner. This is a person's home, not a workplace. Things aren't always in the same place, or consistently safe. Just try to do what is reasonable. </p><div class="greenblue no-margin buffer"><p>Remember if you would do it at home, it's probably reasonable. Always call your Community Manager if you are in doubt. Your safety, and the safety of our Members is of the upmost importance.</p></div><div class="button-wrap has-bg force"><button class="btn btn-continue next">Continue</button></div></div></div><div class="screen"><div class="content-wrap activity-complete-wrap"><div class="activity-complete-image a8"></div><div class="activity copy-section"><div class="content-wrap"><img class="activity-tick" src="img/general/tick_icon.svg"/><h2>Activity Complete</h2><p>"Nothing seems too much of an ask. It's why I joined and why I stay!"</p></div></div><a href="a18.html"><div class="button-wrap has-bg force"><button class="btn btn-continue next">Finish</button></div></a></div></div></div></body></html>

views/a8.pug
extends layout.pug
block content
	div.screen.blue-bg.no-menu.intro.has-flex
		div.content-wrap
			+logo("v1")
			h1 Balancing Act
			p Dealing with risk as a Good Friends Helper.
			+button("Continue", false)

	div.screen
		div.content-wrap
			h1.blue In this activity, you're going to meet Trish.
			img(src="img/a8/A8.02.jpg", class="img-responsive buffer") 

			+button("Continue", true)
			+button("Back", true)

	div.screen
		div.content-wrap
			h1.blue Trish is a new Good Friends Member.
			img(src="img/a8/A8.03.jpg", class="img-responsive buffer") 
			p.buffer-bottom As is usual when we bring in a new Member, she met with yourself and your Community Manager beforehand. She told you all about her career as an author and her love of crosswords and word games. This will be your first official visit as her Helper. 
			+button("Continue", true)
			+button("Back", true)

	div.screen
		div.content-wrap
			h1.blue Let's go meet Trish.
			img(src="img/a8/A8.02.jpg", class="img-responsive buffer") 

			+button("Continue", true)
			+button("Back", true)

	div.screen
		div.content-wrap
			h1.blue It's a little dark...
			img(src="img/a8/A8.05.jpg", class="img-responsive buffer") 

			+button("Continue", true)
			+button("Back", true)

	div.screen
		div.content-wrap
			h1.blue Hmm, the light seems to have burnt out. 
			img(src="img/a8/A8.11.jpg", class="img-responsive buffer") 

			+button("Continue", true)
			+button("Back", true)

	div.screen
		div.content-wrap
			h1.blue The fixture isn't broken. Just a burnt out bulb.
			img(src="img/a8/A8.11.jpg", class="img-responsive buffer") 

			p.question-text What do you want to do?

			+button("Quiz", false, "Conduct a comprehensive risk audit", 1)
			+button("Quiz", false, "Call the Community Manager", 1)
			+button("Quiz", false, "Find a way to change the bulb", 2)
			+button("Back", true)

	div.screen
		div.content-wrap
			h1.blue Be safe, not bubble wrapped. 
			p.buffer We want you to work safely, but our Community Managers have limited scope to conduct multiple assessments of the home environment after their initial inspections. You are also unlikely to have the time to conduct a comprehensive risk analysis. 
			p.buffer-bottom We never want you to take inappropriate risks. It is your obligation to conduct your work in a safe manner.
			p.buffer-bottom One way you can fulfil this obligation is to visually inspect situations to satisfy yourself that you can do the job safely. If you have any doubts, don't touch it.
			
			div.greenblue.no-margin.buffer
				p.buffer-bottom For example, if this scenario was in real life, you would pay particular attention to details such as damaged or missing parts, and burning or discolouration of the electrical fittings in the installation (e.g. damaged light switch or cracked power point).
				p Since none of these elements was present, you could be satisfied that the task was safe to do. 

			+button("Continue 2", true, false, 2)

	div.screen
		div.content-wrap
			h1.blue Take the time to consider your options.  
			p.buffer You should always stop and consider your safety and the safety of your Member before you do anything. 
			p.buffer-bottom A good rule of thumb is: If you would do it at home safely, do it for your Members. 
			p.buffer-bottom Always take the time to conduct a visual inspection of your work environments, every day. It is your obligation to conduct your work in a safe manner. This is a person's home, not a workplace. Things aren't always in the same place, or consistently safe. Just try to do what is reasonable. 
			
			div.greenblue.no-margin.buffer
				p Remember if you would do it at home, it's probably reasonable. Always call your Community Manager if you are in doubt. Your safety, and the safety of our Members is of the upmost importance.

			+button("Continue 2", true, false, 1)

	div.screen
		div.content-wrap.activity-complete-wrap
			div.activity-complete-image.a8
			div.activity.copy-section
				div.content-wrap
					+tick
					h2 Activity Complete
					p "Nothing seems too much of an ask. It's why I joined and why I stay!"

			a(href="a18.html")
				+button("Finish", true)
