views/a9.pug
extends layout.pug
block content
	div.screen.blue-bg.no-menu.intro.has-flex
		div.content-wrap
			+logo("v1")
			h1 Wrapping up the right way.
			p Being thorough with the administrative side of each visit. 
			+button("Continue", false)

	div.screen
		div.content-wrap
			h1.blue You've just wrapped up your weekly visit with Joan. 
			img(src="img/a9/A9.02.jpg", class="img-responsive buffer") 
			
			p.buffer-bottom "Thanks again for listening. See you next week." 
			p.buffer-bottom Your scheduled tasks today were yard work and domestic help. You didn't get much of either done, though, because Joan was a bit upset and wanted to talk. 

			div.greenblue.no-margin.buffer
				p Joan had just heard that a neighbour – who is the same age as her – passed away overnight. So you spent most of the visit just being there, listening, chatting.

			+button("Continue 2", true)
			+button("Back 2", true)

	div.screen.app-screen
		div.content-wrap.app-wrap
			div.sub-app-screen
				p.text-center.bottom-buffer You are checked in.
				+button("Check Out", false)

				h3 Contact
				div.icon-w-text
					img(src="img/general/name_icon.svg")
					p Joan Winnicott 
				div.icon-w-text
					img(src="img/general/address_icon.svg")
					p 36 Doncaster Street, Mangere, Auckland 2022
				div.icon-w-text
					img(src="img/general/phone_icon.svg")
					p 09 1134 5678

				h3 Tasks
				p.text-left 45 minutes of Domestic Help, Yard Maintenance

				h3 Community Manager
				div.icon-w-text
					img(src="img/general/name_icon.svg")
					p Allen Hsu
				div.icon-w-text
					img(src="img/general/phone_icon.svg")
					p (029) 1955-644

		+button("Continue 2", true)

	div.screen
		div.content-wrap
			h1.blue Why is it so important to <b>Check Out</b> of each visit? 
			img(src="img/a9/A9.02.jpg", class="img-responsive buffer") 
			
			p.buffer-bottom There are a few good reasons...
			p.buffer-bottom It is important for the community manager to know if the visit length is appropriate for the desired task. Also If you keep needing more or less time at one location it might impact other visits for you or your productivity.

			div.greenblue.no-margin.buffer
				p.buffer-bottom Another reason is so the family can see who is in the home and when. This is one of our core promises to them.
				p.buffer-bottom And last but not least, checking out creates the invoice that is used to pay you. Checking In and Checking Out means you get paid correctly and the paperwork for your tax affairs is accurate.   

				p You can access all of our policies <a href='https://www.goodfriends.co.nz/resources/our-policies' target="_blank">here</a> and search for answers to questions at our FAQ’s <a href='https://www.goodfriends.co.nz/resources/helper-faqs' target="_blank">here</a>.

			+button("Continue 2", true)
			+button("Back 2", true)

	div.screen
		div.content-wrap.star-wrap
			h1.blue Once you Check Out, you need to rate the visit. 
			p.text-center.buffer Tap the star rating you want to give.
			div.stars
				i.fa.fa-star-o.interactive-star
				i.fa.fa-star-o.interactive-star
				i.fa.fa-star-o.interactive-star
				i.fa.fa-star-o.interactive-star
				i.fa.fa-star-o.interactive-star

			+button("submit rating", true)
			+button("Back", true)

	div.screen
		div.content-wrap.note-wrap
			h1.blue The final step: Notes for the Community Manager.
			p.text-center.buffer Select the comment you should leave for the Community Manager
			
			+button("Quiz", false, "1hr of domestic help and yard work scheduled. Only managed to complete part of the domestic help (some cooking and cleaning). No gardening today.", 1)
			+button("Quiz", false, "Some of the scheduled cooking and cleaning done. No yard work. Joan was upset about a neighbour’s death so we sat on the porch and talked instead.", 3)
			+button("Quiz", false, "All good. Joan was pleased with today’s visit. Prepared today’s meals, cleaned kitchen, took down the rubbish and the recycling bins.", 2)
			+button("Back", true)
	
	div.screen
		div.content-wrap
			h1.blue Notes like this don’t really paint the full picture.
			p.buffer This is a very matter-of-fact description of the visit. It also sounds as if you’re being a bit harsh on yourself! You might want to give some brief indication of Joan’s emotional state and how that impacted the deviation from the scheduled tasks.  

			+button("Try Again", true, false, 1)

	div.screen
		div.content-wrap
			h1.blue Notes like this don’t really paint the full picture.
			p.buffer This note is factually correct, but there are a couple of problems:
			ol
				li It doesn’t mention the yard work, which was part of the scheduled tasks.
				li It doesn’t give any indication of Joan’s emotional state and how that impacted the change in the schedule. 
			p.buffer-bottom This kind of note doesn’t really give the Community Manager a complete view of the visit. 

			+button("Try Again", true, false, 2)

	div.screen.app-screen
		div.content-wrap.app-wrap.prefill
			div.sub-app-screen
				p.greenblue-header.text-center Rate your visit

				div.stars
					i.fa.fa-star
					i.fa.fa-star
					i.fa.fa-star
					i.fa.fa-star
					i.fa.fa-star-o

				div.row
					div.col-xs-6
						p.greenblue-header Started At
						div.time-wrap.first
							p Thu 9:00am
					div.col-xs-6
						p.greenblue-header Finished At
						div.time-wrap.last
							p Thu 10:00am

				p.greenblue-header Notes for the Community Manager
				p.instructions If there was an issue with your visit or you need to justify additional time, you can leave a note for the Community Manager
				
				div.notes
					p Tap here to add notes

				+button("Continue 2", false)

	
	div.screen
		div.content-wrap
			h1.blue Yes, that's the kind of information to put in notes.
			p.buffer This lets the Community Manager know what you did, the variance from the scheduled tasks, and the reason. It also provides a simple record of this emotional event (should it become relevant at a later date). 
			
			+button("Continue", true, false, 1)

	div.screen
		div.content-wrap
			h1.blue Let's take a closer look at the rating and the notes. 
			
			p.buffer The star-rating for visits is not a tool to rate your performance. It's about your impression of how well each visit meets a Member's needs – as well as the wishes of the Authorised Representative, if applicable. 
			p.buffer-bottom It's very important that your star-rating and notes work together to provide the Community Manager with a transparent account of every visit. Thoughtful, detailed ratings and feedback help the Community Manager in consultation with the Member's family review the Help Plan over time and adjust it, if necessary, to suit changing needs.  
			p.buffer-bottom In today's case, you were engaged to take care of some domestic tasks and a bit of gardening. Providing a compassionate ear to Joan instead is what being a Good Friends Helpers is all about. 

			div.greenblue.no-margin.buffer
				p Joan was clearly pleased with your visit today and not concerned by the variation from the schedule. Nevertheless, you should rate the visit less than 5-star and write a simple, to-the-point explanatory note. 

			+button("Continue 2", true)
			+button("Back 2", true)

	div.screen
		div.content-wrap
			h1.blue What are the features of clear and useful notes?

			div.row
				div.col-xs-4.col-xs-offset-4
					img(src="img/a9/A9.12 icon_notepad.jpg", class="img-responsive buffer") 
			
			p.buffer-bottom Notes are a great way to communicate with your Community Manager. A good note provides clear communication about the Member, the schedule or visit. 
			p Leave a note when:
			ul
				li There is new information that is different to the Help Plan.
				li A change in the person's needs changes the timing or duration of the visit.
				li If something unexpected occurs.

			p.buffer-bottom We encourage you to use notes to give us general feedback and comments which do not need action. we love getting your notes! 
			
			div.greenblue.no-margin.buffer
				p.buffer-bottom However, Community Managers may not read a note for a couple of days.
		
				p Contact your Community Manager immediately if:

				ul 
					li The matter is urgent and needs resolving immediately or by the next work day.
					li The matter poses a risk to you or your Member when delivering the services requested.

				p.buffer-bottom In these situations, call your Community Manager on your mobile phone.

			+button("Continue 2", true)
			+button("Back 2", true)

	div.screen
		div.content-wrap
			h1.blue Two more important reasons to leave good notes... 
			
			p.buffer Sometimes, relationships don't develop the way we'd like them to. If ever a Member and/or their family is unhappy with the help you are providing, the Community Manager will refer to the notes you have recorded to support you. 
			
			div.greenblue.no-margin.buffer
				p On the flipside, you might identify a situation in which you think a Member might need further assistance. By mentioning this in your notes, the Community Manager can raise this with the Member and/or their family. 

			+button("Continue 2", true)
			+button("Back 2", true)

	div.screen.app-screen
		div.content-wrap.app-wrap
			div.sub-app-screen
				i.fa.fa-check-circle
				p.text-center.buffer-bottom <b>Thank You</b>

				p.text-center.buffer-bottom Your hours have been recorded and your note has been sent.

				div.row.thanks
					div.col-xs-4
						p.greenblue-header Started At
					div.col-xs-8
						p Thu 3 August 2017 9:00 am 

				div.row.thanks
					div.col-xs-4
						p.greenblue-header Finished At
					div.col-xs-8
						p Thu 3 August 2017 9:45 am

				div.row.thanks
					div.col-xs-4
						p.greenblue-header Billing
					div.col-xs-8
						p 45 minutes will be invoiced 

				+button("Continue 2", false)

	div.screen
		div.content-wrap.activity-complete-wrap
			div.activity-complete-image.a9
			div.activity.copy-section
				div.content-wrap
					+tick
					h2 Activity Complete
					p "I really appreciate being treated like a human being not a number."

			a(href="a2.html")
				+button("Finish", true)

			

dist/a9.html
<!DOCTYPE html><html lang="js"><head><meta name="viewport" content="width=device-width, initial-scale=1"><meta charset="UTF-8"><meta name="format-detection" content="telephone=no"><title>Good Friends</title><link rel="stylesheet" href="css/styles.min.css"><script src="js/scripts.min.js"></script><script src="js/ga.js"></script></head><body id="hammer-listener"><div class="loader"><div class="logo-wrap"><img class="img-responsive logo-v1" src="img/general/testlogo_v1.svg"/></div><p class="loading">Loading</p></div><div class="can-scroll-wrap"><img class="can-scroll scroll-gesture" src="img/general/gesture-animation.gif"></div><div class="content"><div class="menu"><div class="logo-wrap"><img class="img-responsive logo-v2" src="img/general/testlogo_v2.svg"/></div></div><div class="hamburger-menu"><div class="level-1"><div class="item trigger"><p>Welcome To Good Friends</p><i class="fa fa-chevron-right"></i></div><div class="level-2 level links closed"><div class="item menu-left-1"><p> <a href="#">Not Available</a></p></div></div><div class="item trigger"><p>How Friendly Are You?</p><i class="fa fa-chevron-right"></i></div><div class="level-2 level closed"><div class="item menu-left-1 trigger"><p>Meeting Your Members</p><i class="fa fa-chevron-right"></i></div><div class="level-3 level links closed"><div class="item menu-left-2"><p> <a href="a1.html">Getting off to a good start</a></p></div><div class="item menu-left-2"><p> <a href="a2.html">More than finishing To-Do lists</a></p></div><div class="item menu-left-2"><p> <a href="a3a.html">Getting out and about</a></p></div><div class="item menu-left-2"><p> <a href="a3b.html">Choosing your words</a></p></div></div><div class="item menu-left-1 trigger"><p>Our Vision Of A Visit</p><i class="fa fa-chevron-right"></i></div><div class="level-3 level links closed"><div class="item menu-left-2"><p> <a href="a4.html">Focusing your time &amp; attention</a></p></div><div class="item menu-left-2"><p> <a href="a5.html">Meeting the needs of Members</a></p></div><div class="item menu-left-2"><p> <a href="a6a.html">Providing help to individuals (Pt.1)</a></p></div><div class="item menu-left-2"><p> <a href="a6b.html">Providing help to individuals (Pt.2)</a></p></div><div class="item menu-left-2"><p> <a href="a19.html">Monitoring medication for Members</a></p></div><div class="item menu-left-2"><p> <a href="a7.html">Providing a clear picture to all</a></p></div><div class="item menu-left-2"><p> <a href="a8.html">Balancing Act</a></p></div><div class="item menu-left-2"><p> <a href="a18.html">Sometimes bad things happen</a></p></div></div><div class="item menu-left-1 trigger"><p>Finishing Your Visit</p><i class="fa fa-chevron-right"></i></div><div class="level-3 level links closed"><div class="item menu-left-2"><p> <a href="a9.html">Wrapping up the right way</a></p></div></div></div><div class="item trigger"><p>How To Make the Most Out Of Good Friends</p><i class="fa fa-chevron-right"></i></div><div class="level-2 level links closed"><div class="item menu-left-1"><p> <a href="#">Not Available</a></p></div></div><div class="item trigger"><p>Policy Pack</p><i class="fa fa-chevron-right"></i></div><div class="level-2 level links closed"><div class="item menu-left-1"><p> <a href="#">Not Available</a></p></div></div><div class="item trigger"><p>Compliance Key Messages</p><i class="fa fa-chevron-right"></i></div><div class="level-2 level links closed"><div class="item menu-left-1"><p> <a href="compliance.html">Compliance</a></p></div></div></div></div><div class="screen blue-bg no-menu intro has-flex"><div class="content-wrap"><div class="logo-wrap"><img class="img-responsive logo-v1" src="img/general/testlogo_v1.svg"/></div><h1>Wrapping up the right way.</h1><p>Being thorough with the administrative side of each visit. </p><div class="button-wrap"><button class="btn btn-continue next">Continue</button></div></div></div><div class="screen"><div class="content-wrap"><h1 class="blue">You've just wrapped up your weekly visit with Joan. </h1><img class="img-responsive buffer" src="img/a9/A9.02.jpg"><p class="buffer-bottom">"Thanks again for listening. See you next week." </p><p class="buffer-bottom">Your scheduled tasks today were yard work and domestic help. You didn't get much of either done, though, because Joan was a bit upset and wanted to talk. </p><div class="greenblue no-margin buffer"><p>Joan had just heard that a neighbour – who is the same age as her – passed away overnight. So you spent most of the visit just being there, listening, chatting.</p></div><div class="button-wrap has-bg force"><button class="btn btn-continue next">Continue</button></div><div class="button-wrap has-bg force"><button class="btn btn-back">Back</button></div></div></div><div class="screen app-screen"><div class="content-wrap app-wrap"><div class="sub-app-screen"><p class="text-center bottom-buffer">You are checked in.</p><button class="btn btn-check-in not-clicked">Check Out</button><h3>Contact</h3><div class="icon-w-text"><img src="img/general/name_icon.svg"><p>Joan Winnicott </p></div><div class="icon-w-text"><img src="img/general/address_icon.svg"><p>36 Doncaster Street, Mangere, Auckland 2022</p></div><div class="icon-w-text"><img src="img/general/phone_icon.svg"><p>09 1134 5678</p></div><h3>Tasks</h3><p class="text-left">45 minutes of Domestic Help, Yard Maintenance</p><h3>Community Manager</h3><div class="icon-w-text"><img src="img/general/name_icon.svg"><p>Allen Hsu</p></div><div class="icon-w-text"><img src="img/general/phone_icon.svg"><p>(029) 1955-644</p></div></div></div><div class="button-wrap has-bg force"><button class="btn btn-continue next">Continue</button></div></div><div class="screen"><div class="content-wrap"><h1 class="blue">Why is it so important to <b>Check Out</b> of each visit? </h1><img class="img-responsive buffer" src="img/a9/A9.02.jpg"><p class="buffer-bottom">There are a few good reasons...</p><p class="buffer-bottom">It is important for the community manager to know if the visit length is appropriate for the desired task. Also If you keep needing more or less time at one location it might impact other visits for you or your productivity.</p><div class="greenblue no-margin buffer"><p class="buffer-bottom">Another reason is so the family can see who is in the home and when. This is one of our core promises to them.</p><p class="buffer-bottom">And last but not least, checking out creates the invoice that is used to pay you. Checking In and Checking Out means you get paid correctly and the paperwork for your tax affairs is accurate.   </p><p>You can access all of our policies <a href='https://www.goodfriends.co.nz/resources/our-policies' target="_blank">here</a> and search for answers to questions at our FAQ’s <a href='https://www.goodfriends.co.nz/resources/helper-faqs' target="_blank">here</a>.</p></div><div class="button-wrap has-bg force"><button class="btn btn-continue next">Continue</button></div><div class="button-wrap has-bg force"><button class="btn btn-back">Back</button></div></div></div><div class="screen"><div class="content-wrap star-wrap"><h1 class="blue">Once you Check Out, you need to rate the visit. </h1><p class="text-center buffer">Tap the star rating you want to give.</p><div class="stars"><i class="fa fa-star-o interactive-star"></i><i class="fa fa-star-o interactive-star"></i><i class="fa fa-star-o interactive-star"></i><i class="fa fa-star-o interactive-star"></i><i class="fa fa-star-o interactive-star"></i></div><div class="button-wrap has-bg"><button class="btn btn-continue next">submit rating</button></div><div class="button-wrap has-bg"><button class="btn btn-back">Back</button></div></div></div><div class="screen"><div class="content-wrap note-wrap"><h1 class="blue">The final step: Notes for the Community Manager.</h1><p class="text-center buffer">Select the comment you should leave for the Community Manager</p><button class="btn btn-quiz" data-branch="1">1hr of domestic help and yard work scheduled. Only managed to complete part of the domestic help (some cooking and cleaning). No gardening today.</button><button class="btn btn-quiz" data-branch="3">Some of the scheduled cooking and cleaning done. No yard work. Joan was upset about a neighbour’s death so we sat on the porch and talked instead.</button><button class="btn btn-quiz" data-branch="2">All good. Joan was pleased with today’s visit. Prepared today’s meals, cleaned kitchen, took down the rubbish and the recycling bins.</button><div class="button-wrap has-bg"><button class="btn btn-back">Back</button></div></div></div><div class="screen"><div class="content-wrap"><h1 class="blue">Notes like this don’t really paint the full picture.</h1><p class="buffer">This is a very matter-of-fact description of the visit. It also sounds as if you’re being a bit harsh on yourself! You might want to give some brief indication of Joan’s emotional state and how that impacted the deviation from the scheduled tasks.  </p><div class="button-wrap has-bg"><button class="btn btn-back" data-branch="1">Try Again</button></div></div></div><div class="screen"><div class="content-wrap"><h1 class="blue">Notes like this don’t really paint the full picture.</h1><p class="buffer">This note is factually correct, but there are a couple of problems:</p><ol><li>It doesn’t mention the yard work, which was part of the scheduled tasks.</li><li>It doesn’t give any indication of Joan’s emotional state and how that impacted the change in the schedule. </li></ol><p class="buffer-bottom">This kind of note doesn’t really give the Community Manager a complete view of the visit. </p><div class="button-wrap has-bg"><button class="btn btn-back" data-branch="2">Try Again</button></div></div></div><div class="screen app-screen"><div class="content-wrap app-wrap prefill"><div class="sub-app-screen"><p class="greenblue-header text-center">Rate your visit</p><div class="stars"><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star-o"></i></div><div class="row"><div class="col-xs-6"><p class="greenblue-header">Started At</p><div class="time-wrap first"><p>Thu 9:00am</p></div></div><div class="col-xs-6"><p class="greenblue-header">Finished At</p><div class="time-wrap last"><p>Thu 10:00am</p></div></div></div><p class="greenblue-header">Notes for the Community Manager</p><p class="instructions">If there was an issue with your visit or you need to justify additional time, you can leave a note for the Community Manager</p><div class="notes"><p>Tap here to add notes</p></div><div class="button-wrap has-bg force"><button class="btn btn-continue next">Continue</button></div></div></div></div><div class="screen"><div class="content-wrap"><h1 class="blue">Yes, that's the kind of information to put in notes.</h1><p class="buffer">This lets the Community Manager know what you did, the variance from the scheduled tasks, and the reason. It also provides a simple record of this emotional event (should it become relevant at a later date). </p><div class="button-wrap has-bg"><button class="btn" data-branch="1">Continue</button></div></div></div><div class="screen"><div class="content-wrap"><h1 class="blue">Let's take a closer look at the rating and the notes. </h1><p class="buffer">The star-rating for visits is not a tool to rate your performance. It's about your impression of how well each visit meets a Member's needs – as well as the wishes of the Authorised Representative, if applicable. </p><p class="buffer-bottom">It's very important that your star-rating and notes work together to provide the Community Manager with a transparent account of every visit. Thoughtful, detailed ratings and feedback help the Community Manager in consultation with the Member's family review the Help Plan over time and adjust it, if necessary, to suit changing needs.  </p><p class="buffer-bottom">In today's case, you were engaged to take care of some domestic tasks and a bit of gardening. Providing a compassionate ear to Joan instead is what being a Good Friends Helpers is all about. </p><div class="greenblue no-margin buffer"><p>Joan was clearly pleased with your visit today and not concerned by the variation from the schedule. Nevertheless, you should rate the visit less than 5-star and write a simple, to-the-point explanatory note. </p></div><div class="button-wrap has-bg force"><button class="btn btn-continue next">Continue</button></div><div class="button-wrap has-bg force"><button class="btn btn-back">Back</button></div></div></div><div class="screen"><div class="content-wrap"><h1 class="blue">What are the features of clear and useful notes?</h1><div class="row"><div class="col-xs-4 col-xs-offset-4"><img class="img-responsive buffer" src="img/a9/A9.12 icon_notepad.jpg"></div></div><p class="buffer-bottom">Notes are a great way to communicate with your Community Manager. A good note provides clear communication about the Member, the schedule or visit. </p><p>Leave a note when:</p><ul><li>There is new information that is different to the Help Plan.</li><li>A change in the person's needs changes the timing or duration of the visit.</li><li>If something unexpected occurs.</li></ul><p class="buffer-bottom">We encourage you to use notes to give us general feedback and comments which do not need action. we love getting your notes! </p><div class="greenblue no-margin buffer"><p class="buffer-bottom">However, Community Managers may not read a note for a couple of days.</p><p>Contact your Community Manager immediately if:</p><ul> <li>The matter is urgent and needs resolving immediately or by the next work day.</li><li>The matter poses a risk to you or your Member when delivering the services requested.</li></ul><p class="buffer-bottom">In these situations, call your Community Manager on your mobile phone.</p></div><div class="button-wrap has-bg force"><button class="btn btn-continue next">Continue</button></div><div class="button-wrap has-bg force"><button class="btn btn-back">Back</button></div></div></div><div class="screen"><div class="content-wrap"><h1 class="blue">Two more important reasons to leave good notes... </h1><p class="buffer">Sometimes, relationships don't develop the way we'd like them to. If ever a Member and/or their family is unhappy with the help you are providing, the Community Manager will refer to the notes you have recorded to support you. </p><div class="greenblue no-margin buffer"><p>On the flipside, you might identify a situation in which you think a Member might need further assistance. By mentioning this in your notes, the Community Manager can raise this with the Member and/or their family. </p></div><div class="button-wrap has-bg force"><button class="btn btn-continue next">Continue</button></div><div class="button-wrap has-bg force"><button class="btn btn-back">Back</button></div></div></div><div class="screen app-screen"><div class="content-wrap app-wrap"><div class="sub-app-screen"><i class="fa fa-check-circle"></i><p class="text-center buffer-bottom"><b>Thank You</b></p><p class="text-center buffer-bottom">Your hours have been recorded and your note has been sent.</p><div class="row thanks"><div class="col-xs-4"><p class="greenblue-header">Started At</p></div><div class="col-xs-8"><p>Thu 3 August 2017 9:00 am </p></div></div><div class="row thanks"><div class="col-xs-4"><p class="greenblue-header">Finished At</p></div><div class="col-xs-8"><p>Thu 3 August 2017 9:45 am</p></div></div><div class="row thanks"><div class="col-xs-4"><p class="greenblue-header">Billing</p></div><div class="col-xs-8"><p>45 minutes will be invoiced </p></div></div><div class="button-wrap has-bg force"><button class="btn btn-continue next">Continue</button></div></div></div></div><div class="screen"><div class="content-wrap activity-complete-wrap"><div class="activity-complete-image a9"></div><div class="activity copy-section"><div class="content-wrap"><img class="activity-tick" src="img/general/tick_icon.svg"/><h2>Activity Complete</h2><p>"I really appreciate being treated like a human being not a number."</p></div></div><a href="a2.html"><div class="button-wrap has-bg force"><button class="btn btn-continue next">Finish</button></div></a></div></div></div></body></html>
