views/compliance.pug
extends layout.pug
block content
	div.screen.blue-bg.no-menu.intro.has-flex
		div.content-wrap
			+logo("v1")
			h1 Important Messages
			p Important information you should know before you start work.
			+button("Continue", false)
	
	//- Slider 1

	div.screen.blue-bg.no-menu.intro.has-flex
		div.content-wrap
			+logo("v1")
			h1 Workplace Health and Safety
			p Your obligations. 
			+button("Continue", false)

	div.screen
		div.content-wrap.only-text.first
			h1.blue Introduction
			img(src="img/compliance/c1.jpg", class="img-responsive buffer") 
			p.bottom-buffer.text-center Good Friends takes all reasonably practicable steps keep you and our Members safe during the conduct of our business.

			+button("Continue", true)
			+button("Back", true)

	div.screen
		div.content-wrap.only-text
			h1.blue Introduction
			img(src="img/compliance/c1.jpg", class="img-responsive buffer") 
			p.bottom-buffer.text-center It is your responsibility to take reasonable care of yourself, your Members, fellow Helpers and comply with instructions from Good Friends. 

			+button("Continue", true)
			+button("Back", true)

	div.screen
		div.content-wrap.only-text
			h1.blue Introduction
			img(src="img/compliance/c1.jpg", class="img-responsive buffer") 
			p.bottom-buffer.text-center We encourage you to identify and report hazards, including near misses, using our Mango Incident Report form.

			+button("Continue", true)
			+button("Back", true)

	div.screen
		div.content-wrap.only-text
			h1.blue Introduction
			img(src="img/compliance/c1.jpg", class="img-responsive buffer") 
			p.bottom-buffer.text-center Spend time at the start of each visit familiarising yourself with the environment. Ensure you know the entrances and exits in case of an emergency.

			+button("Continue", true)
			+button("Back", true)

	div.screen
		div.content-wrap
			h1.blue Introduction
			img(src="img/compliance/c1.jpg", class="img-responsive buffer") 
			p.bottom-buffer.text-center You can access all of our policies <a href='https://www.goodfriends.co.nz/resources/our-policies' target="_blank">here</a> and search for answers to questions at our FAQ’s <a href='https://www.goodfriends.co.nz/resources/helper-faqs' target="_blank">here</a>.

			+button("Continue", true)
			+button("Back", true)

	
	//- Slider 2

	div.screen.blue-bg.no-menu.intro.has-flex
		div.content-wrap
			+logo("v1")
			h1 Manual Handling
			p If you think it’s not safe, don’t do it.
			+button("Continue", false)

	div.screen
		div.content-wrap.only-text.first
			h1.blue Manual Handling
			img(src="img/compliance/c2.jpg", class="img-responsive buffer slider-img")
			p.bottom-buffer.text-center Always use the correct techniques when handling people and equipment. You should avoid twisting, bending, sideways movements and excessive reaching.
			+button("Continue", true)
			+button("Back", true)

	div.screen
		div.content-wrap.only-text
			h1.blue Manual Handling
			img(src="img/compliance/c2.jpg", class="img-responsive buffer slider-img")
			p.bottom-buffer.text-center Only conduct tasks that are within your scope of practice, experience and skill. Contact your Community Manager if you need extra manual handling training. 
			+button("Continue", true)
			+button("Back", true)

	div.screen
		div.content-wrap
			h1.blue Manual Handling
			img(src="img/compliance/c2.jpg", class="img-responsive buffer slider-img") 
			p.bottom-buffer.text-center Before commencing any manual handling task, stop and plan your task. Make sure you take steps to control any manual handling risks you identify.
			+button("Continue", true)
			+button("Back", true)

	//- Slider 3

	div.screen.blue-bg.no-menu.intro.has-flex
		div.content-wrap
			+logo("v1")
			h1 Medication
			p Dealing with Medication during a Visit. 
			+button("Continue", false)

	div.screen
		div.content-wrap.only-text.first
			h1.blue Medication
			img(src="img/compliance/c3.jpg", class="img-responsive buffer slider-img") 
			p.bottom-buffer.text-center Only Helpers who have successfully completed our Medication Competency can be involved in providing (prompting or supervising) medication to Members.
			+button("Continue", true)
			+button("Back", true)

	div.screen
		div.content-wrap.only-text
			h1.blue Medication
			img(src="img/compliance/c3.jpg", class="img-responsive buffer slider-img") 
			p.bottom-buffer.text-center If you are asked to prompt or supervise medication and you haven’t been trained and assessed as competent, you must politely decline and contact your Community Manager.
			+button("Continue", true)
			+button("Back", true)

	div.screen
		div.content-wrap
			h1.blue Medication
			img(src="img/compliance/c3.jpg", class="img-responsive buffer slider-img") 
			p.bottom-buffer.text-center If medication is needed, instructions will be added to your Help Plan. You must follow them. If no instructions exist, contact your Community Manager.
			+button("Continue", true)
			+button("Back", true)


	//- Slider 4

	div.screen.blue-bg.no-menu.intro.has-flex
		div.content-wrap
			+logo("v1")
			h1 Harm, Assault and Bullying
			p Our zero tolerance policy.
			+button("Continue", false)

	div.screen
		div.content-wrap.only-text.first
			h1.blue Our commitment
			img(src="img/compliance/c4.jpg", class="img-responsive buffer slider-img") 
			p.bottom-buffer.text-center Good Friends has a zero tolerance stance towards harm, assault, molestation, bullying and harassment.
			+button("Continue", true)
			+button("Back", true)

	div.screen
		div.content-wrap.only-text
			h1.blue Our commitment
			img(src="img/compliance/c4.jpg", class="img-responsive buffer slider-img") 
			p.bottom-buffer.text-center Report any suspected case of harm, assault, molestation, bullying and harassment to the your Manager or senior management as soon as possible. 
			+button("Continue", true)
			+button("Back", true)

	div.screen
		div.content-wrap.only-text
			h1.blue Our commitment
			img(src="img/compliance/c4.jpg", class="img-responsive buffer slider-img") 
			p.bottom-buffer.text-center These matters will be handled sensitively and resolved in a fair, transparent and time effective manner, in accordance with legislation.
			+button("Continue", true)
			+button("Back", true)

	div.screen
		div.content-wrap
			h1.blue Our commitment
			img(src="img/compliance/c4.jpg", class="img-responsive buffer slider-img") 
			p.bottom-buffer.text-center All vexatious reports will be dealt with as unacceptable behaviour and may lead to discontinuation of relationships with Good Friends. 
			+button("Continue", true)
			+button("Back", true)

	//- Slider 5

	div.screen.blue-bg.no-menu.intro.has-flex
		div.content-wrap
			+logo("v1")
			h1 Infection Control and Food Preparation
			p Health, safety and hygiene.
			+button("Continue", false)

	div.screen
		div.content-wrap.only-text.first
			h1.blue Health, safety and hygiene
			img(src="img/compliance/c5.jpg", class="img-responsive buffer slider-img") 
			p.bottom-buffer.text-center Hand hygiene is a central component of infection-free professional care. Wash and dry your hands after any client contact or when taking off gloves.
			+button("Continue", true)
			+button("Back", true)

	div.screen
		div.content-wrap.only-text
			h1.blue Health, safety and hygiene
			img(src="img/compliance/c5.jpg", class="img-responsive buffer slider-img") 
			p.bottom-buffer.text-center Wash your hands before and after making any food or drink. Don’t handle ready-to-eat food with your bare hands. Do not contaminate unprotected food or food preparation surfaces. 
			+button("Continue", true)
			+button("Back", true)

	div.screen
		div.content-wrap.only-text
			h1.blue Health, safety and hygiene
			img(src="img/compliance/c5.jpg", class="img-responsive buffer slider-img") 
			p.bottom-buffer.text-center Take special care when handling sharps and needles to avoid injury and infection.
			+button("Continue", true)
			+button("Back", true)

	div.screen
		div.content-wrap.only-text
			h1.blue Health, safety and hygiene
			img(src="img/compliance/c5.jpg", class="img-responsive buffer slider-img") 
			p.bottom-buffer.text-center You must wear appropriate protective barriers if you could be exposed to body substances. These can include eye shields, gloves, gowns or masks.
			+button("Continue", true)
			+button("Back", true)

	div.screen
		div.content-wrap
			h1.blue Health, safety and hygiene
			img(src="img/compliance/c5.jpg", class="img-responsive buffer slider-img") 
			p.bottom-buffer.text-center If you make contact with infected body fluids at work, contact your Community Manager immediately. They will help you get first aid and a medical test.
			+button("Continue", true)
			+button("Back", true)

	//- Slider 6

	div.screen.blue-bg.no-menu.intro.has-flex
		div.content-wrap
			+logo("v1")
			h1 Driving and Community Access 
			p Drive safe to and from work.
			+button("Continue", false)

	div.screen
		div.content-wrap.only-text.first
			h1.blue Driving and Community Access
			img(src="img/compliance/c6.jpg", class="img-responsive buffer slider-img") 
			p.bottom-buffer.text-center Good Friends commits to providing safe services and preventing work related injuries. If you drive for work, there are a few things to note. 
			+button("Continue", true)
			+button("Back", true)

	div.screen
		div.content-wrap.only-text
			h1.blue Driving and Community Access
			img(src="img/compliance/c6.jpg", class="img-responsive buffer slider-img")
			p.bottom-buffer.text-center For insurance and tax purposes, you are considered to be using your vehicle for work when you driving for the purpose of meeting a Member requirement.
			+button("Continue", true)
			+button("Back", true)

	div.screen
		div.content-wrap.only-text
			h1.blue Driving and Community Access
			img(src="img/compliance/c6.jpg", class="img-responsive buffer slider-img")
			p.bottom-buffer.text-center If you are registered for GST and claim the input tax on your vehicle expenses, you must notify your compulsory third party insurance provider.
			+button("Continue", true)
			+button("Back", true)

	div.screen
		div.content-wrap.only-text
			h1.blue Driving and Community Access
			img(src="img/compliance/c6.jpg", class="img-responsive buffer slider-img")
			p.bottom-buffer.text-center To drive to your Visits, you must have a current driver’s license and registered vehicle. Notify your Community Manager if this changes for any reason. 
			+button("Continue", true)
			+button("Back", true)

	div.screen
		div.content-wrap
			h1.blue Driving and Community Access
			img(src="img/compliance/c6.jpg", class="img-responsive buffer slider-img")
			p.bottom-buffer.text-center Any vehicle accidents that occur in the course of work tasks must be recorded in the Mango system and reported to your Community Manager immediately.  
			+button("Continue", true)
			+button("Back", true)

	//- Slider 7

	div.screen.blue-bg.no-menu.intro.has-flex
		div.content-wrap
			+logo("v1")
			h1 Elder Abuse 
			p A zero tolerance policy.
			+button("Continue", false)

	div.screen
		div.content-wrap.only-text.first
			h1.blue Elder abuse is a crime 
			img(src="img/compliance/c7.jpg", class="img-responsive buffer slider-img") 
			p.bottom-buffer.text-center Elder abuse is the single or repeated act, or lack of appropriate action, occurring within any relationship where there is an expectation of trust, which causes harm or distress.  
			+button("Continue", true)
			+button("Back", true)

	div.screen
		div.content-wrap.only-text
			h1.blue Elder abuse is a crime 
			img(src="img/compliance/c7.jpg", class="img-responsive buffer slider-img") 
			p.bottom-buffer.text-center If you suspect or witness this, you are required to report the matter to your Community Manager immediately. 
			+button("Continue", true)
			+button("Back", true)

	div.screen
		div.content-wrap
			h1.blue Elder abuse is a crime 
			img(src="img/compliance/c7.jpg", class="img-responsive buffer slider-img") 
			p.bottom-buffer.text-center All reports of abuse will be dealt with promptly, seriously, sensitively and confidentially. This may require having the Police involved.  
			+button("Continue", true)
			+button("Back", true)

	//- Slider 8

	div.screen.blue-bg.no-menu.intro.has-flex
		div.content-wrap
			+logo("v1")
			h1 Privacy 
			p Yours and our Members. 
			+button("Continue", false)

	div.screen
		div.content-wrap.only-text.first
			h1.blue Your privacy and the privacy of our Members.
			img(src="img/compliance/c8.jpg", class="img-responsive buffer slider-img")
			p.bottom-buffer.text-center We are committed to protecting the privacy of you and our Members. We adhere to the Privacy Act 1993 and, where relevant, the Health Information Privacy Code 1994.
			+button("Continue", true)
			+button("Back", true)

	div.screen
		div.content-wrap.only-text
			h1.blue Your privacy and the privacy of our Members.
			img(src="img/compliance/c8.jpg", class="img-responsive buffer slider-img")
			p.bottom-buffer.text-center We do collect information and on occasion share this with trusted partners to help perform analysis, among other things. 
			+button("Continue", true)
			+button("Back", true)

	div.screen
		div.content-wrap.only-text
			h1.blue Your privacy and the privacy of our Members.
			img(src="img/compliance/c8.jpg", class="img-responsive buffer slider-img")
			p.bottom-buffer.text-center You must not share Member details or your schedule. You must have a passcode on your device.
			+button("Continue", true)
			+button("Back", true)

	div.screen
		div.content-wrap
			h1.blue Your privacy and the privacy of our Members.
			img(src="img/compliance/c8.jpg", class="img-responsive buffer slider-img") 
			p.bottom-buffer.text-center Advise the Community Manager if you have lost your device immediately so we can delete the app remotely to ensure our members data is protected. 
			+button("Continue", true)
			+button("Back", true)
			
	//- Slider 9

	div.screen.blue-bg.no-menu.intro.has-flex
		div.content-wrap
			+logo("v1")
			h1 Make a commitment
			p We’re working to ensure your safety. We need the same commitment from you.  
			+button("Continue", false)

	div.screen
		div.content-wrap.commit-wrap.only-text
			h1.blue Your Commitment
			
			input(type="checkbox" class="commit-checkbox form-control")
			p.buffer-bottom.commit-clause I, hereby acknowledge and agree that:

			p.buffer-bottom (i) I am aware that Good Friends' policies are available to me via the website or upon request of my Community Manager. It is my responsibility to familiarise myself with these policies.
			
			div.greenblue.no-margin.buffer
				p.buffer-bottom (ii) I agree to conduct my activities in accordance with Good Friends’ policies and understand that breaching these policies may result in the termination of my/our role as a Good Friends Helper and/or other legal remedy available to Good Friends.

				p You can access all of our policies <a href='https://www.goodfriends.co.nz/resources/our-policies' target="_blank">here</a> and search for answers to questions at our FAQ’s <a href='https://www.goodfriends.co.nz/resources/helper-faqs' target="_blank">here</a>.	
			
			a(href="javascript:void(0)")
				+button("Finish", true, "complete")



			

dist/compliance.html
<!DOCTYPE html><html lang="js"><head><meta name="viewport" content="width=device-width, initial-scale=1"><meta charset="UTF-8"><meta name="format-detection" content="telephone=no"><title>Good Friends</title><link rel="stylesheet" href="css/styles.min.css"><script src="js/scripts.min.js"></script><script src="js/ga.js"></script></head><body id="hammer-listener"><div class="loader"><div class="logo-wrap"><img class="img-responsive logo-v1" src="img/general/testlogo_v1.svg"/></div><p class="loading">Loading</p></div><div class="can-scroll-wrap"><img class="can-scroll scroll-gesture" src="img/general/gesture-animation.gif"></div><div class="content"><div class="menu"><div class="logo-wrap"><img class="img-responsive logo-v2" src="img/general/testlogo_v2.svg"/></div></div><div class="hamburger-menu"><div class="level-1"><div class="item trigger"><p>Welcome To Good Friends</p><i class="fa fa-chevron-right"></i></div><div class="level-2 level links closed"><div class="item menu-left-1"><p> <a href="#">Not Available</a></p></div></div><div class="item trigger"><p>How Friendly Are You?</p><i class="fa fa-chevron-right"></i></div><div class="level-2 level closed"><div class="item menu-left-1 trigger"><p>Meeting Your Members</p><i class="fa fa-chevron-right"></i></div><div class="level-3 level links closed"><div class="item menu-left-2"><p> <a href="a1.html">Getting off to a good start</a></p></div><div class="item menu-left-2"><p> <a href="a2.html">More than finishing To-Do lists</a></p></div><div class="item menu-left-2"><p> <a href="a3a.html">Getting out and about</a></p></div><div class="item menu-left-2"><p> <a href="a3b.html">Choosing your words</a></p></div></div><div class="item menu-left-1 trigger"><p>Our Vision Of A Visit</p><i class="fa fa-chevron-right"></i></div><div class="level-3 level links closed"><div class="item menu-left-2"><p> <a href="a4.html">Focusing your time &amp; attention</a></p></div><div class="item menu-left-2"><p> <a href="a5.html">Meeting the needs of Members</a></p></div><div class="item menu-left-2"><p> <a href="a6a.html">Providing help to individuals (Pt.1)</a></p></div><div class="item menu-left-2"><p> <a href="a6b.html">Providing help to individuals (Pt.2)</a></p></div><div class="item menu-left-2"><p> <a href="a19.html">Monitoring medication for Members</a></p></div><div class="item menu-left-2"><p> <a href="a7.html">Providing a clear picture to all</a></p></div><div class="item menu-left-2"><p> <a href="a8.html">Balancing Act</a></p></div><div class="item menu-left-2"><p> <a href="a18.html">Sometimes bad things happen</a></p></div></div><div class="item menu-left-1 trigger"><p>Finishing Your Visit</p><i class="fa fa-chevron-right"></i></div><div class="level-3 level links closed"><div class="item menu-left-2"><p> <a href="a9.html">Wrapping up the right way</a></p></div></div></div><div class="item trigger"><p>How To Make the Most Out Of Good Friends</p><i class="fa fa-chevron-right"></i></div><div class="level-2 level links closed"><div class="item menu-left-1"><p> <a href="#">Not Available</a></p></div></div><div class="item trigger"><p>Policy Pack</p><i class="fa fa-chevron-right"></i></div><div class="level-2 level links closed"><div class="item menu-left-1"><p> <a href="#">Not Available</a></p></div></div><div class="item trigger"><p>Compliance Key Messages</p><i class="fa fa-chevron-right"></i></div><div class="level-2 level links closed"><div class="item menu-left-1"><p> <a href="compliance.html">Compliance</a></p></div></div></div></div><div class="screen blue-bg no-menu intro has-flex"><div class="content-wrap"><div class="logo-wrap"><img class="img-responsive logo-v1" src="img/general/testlogo_v1.svg"/></div><h1>Important Messages</h1><p>Important information you should know before you start work.</p><div class="button-wrap"><button class="btn btn-continue next">Continue</button></div></div></div><div class="screen blue-bg no-menu intro has-flex"><div class="content-wrap"><div class="logo-wrap"><img class="img-responsive logo-v1" src="img/general/testlogo_v1.svg"/></div><h1>Workplace Health and Safety</h1><p>Your obligations. </p><div class="button-wrap"><button class="btn btn-continue next">Continue</button></div></div></div><div class="screen"><div class="content-wrap only-text first"><h1 class="blue">Introduction</h1><img class="img-responsive buffer" src="img/compliance/c1.jpg"><p class="bottom-buffer text-center">Good Friends takes all reasonably practicable steps keep you and our Members safe during the conduct of our business.</p><div class="button-wrap has-bg"><button class="btn btn-continue next">Continue</button></div><div class="button-wrap has-bg"><button class="btn btn-back">Back</button></div></div></div><div class="screen"><div class="content-wrap only-text"><h1 class="blue">Introduction</h1><img class="img-responsive buffer" src="img/compliance/c1.jpg"><p class="bottom-buffer text-center">It is your responsibility to take reasonable care of yourself, your Members, fellow Helpers and comply with instructions from Good Friends. </p><div class="button-wrap has-bg"><button class="btn btn-continue next">Continue</button></div><div class="button-wrap has-bg"><button class="btn btn-back">Back</button></div></div></div><div class="screen"><div class="content-wrap only-text"><h1 class="blue">Introduction</h1><img class="img-responsive buffer" src="img/compliance/c1.jpg"><p class="bottom-buffer text-center">We encourage you to identify and report hazards, including near misses, using our Mango Incident Report form.</p><div class="button-wrap has-bg"><button class="btn btn-continue next">Continue</button></div><div class="button-wrap has-bg"><button class="btn btn-back">Back</button></div></div></div><div class="screen"><div class="content-wrap only-text"><h1 class="blue">Introduction</h1><img class="img-responsive buffer" src="img/compliance/c1.jpg"><p class="bottom-buffer text-center">Spend time at the start of each visit familiarising yourself with the environment. Ensure you know the entrances and exits in case of an emergency.</p><div class="button-wrap has-bg"><button class="btn btn-continue next">Continue</button></div><div class="button-wrap has-bg"><button class="btn btn-back">Back</button></div></div></div><div class="screen"><div class="content-wrap"><h1 class="blue">Introduction</h1><img class="img-responsive buffer" src="img/compliance/c1.jpg"><p class="bottom-buffer text-center">You can access all of our policies <a href='https://www.goodfriends.co.nz/resources/our-policies' target="_blank">here</a> and search for answers to questions at our FAQ’s <a href='https://www.goodfriends.co.nz/resources/helper-faqs' target="_blank">here</a>.</p><div class="button-wrap has-bg"><button class="btn btn-continue next">Continue</button></div><div class="button-wrap has-bg"><button class="btn btn-back">Back</button></div></div></div><div class="screen blue-bg no-menu intro has-flex"><div class="content-wrap"><div class="logo-wrap"><img class="img-responsive logo-v1" src="img/general/testlogo_v1.svg"/></div><h1>Manual Handling</h1><p>If you think it’s not safe, don’t do it.</p><div class="button-wrap"><button class="btn btn-continue next">Continue</button></div></div></div><div class="screen"><div class="content-wrap only-text first"><h1 class="blue">Manual Handling</h1><img class="img-responsive buffer slider-img" src="img/compliance/c2.jpg"><p class="bottom-buffer text-center">Always use the correct techniques when handling people and equipment. You should avoid twisting, bending, sideways movements and excessive reaching.</p><div class="button-wrap has-bg"><button class="btn btn-continue next">Continue</button></div><div class="button-wrap has-bg"><button class="btn btn-back">Back</button></div></div></div><div class="screen"><div class="content-wrap only-text"><h1 class="blue">Manual Handling</h1><img class="img-responsive buffer slider-img" src="img/compliance/c2.jpg"><p class="bottom-buffer text-center">Only conduct tasks that are within your scope of practice, experience and skill. Contact your Community Manager if you need extra manual handling training. </p><div class="button-wrap has-bg"><button class="btn btn-continue next">Continue</button></div><div class="button-wrap has-bg"><button class="btn btn-back">Back</button></div></div></div><div class="screen"><div class="content-wrap"><h1 class="blue">Manual Handling</h1><img class="img-responsive buffer slider-img" src="img/compliance/c2.jpg"><p class="bottom-buffer text-center">Before commencing any manual handling task, stop and plan your task. Make sure you take steps to control any manual handling risks you identify.</p><div class="button-wrap has-bg"><button class="btn btn-continue next">Continue</button></div><div class="button-wrap has-bg"><button class="btn btn-back">Back</button></div></div></div><div class="screen blue-bg no-menu intro has-flex"><div class="content-wrap"><div class="logo-wrap"><img class="img-responsive logo-v1" src="img/general/testlogo_v1.svg"/></div><h1>Medication</h1><p>Dealing with Medication during a Visit. </p><div class="button-wrap"><button class="btn btn-continue next">Continue</button></div></div></div><div class="screen"><div class="content-wrap only-text first"><h1 class="blue">Medication</h1><img class="img-responsive buffer slider-img" src="img/compliance/c3.jpg"><p class="bottom-buffer text-center">Only Helpers who have successfully completed our Medication Competency can be involved in providing (prompting or supervising) medication to Members.</p><div class="button-wrap has-bg"><button class="btn btn-continue next">Continue</button></div><div class="button-wrap has-bg"><button class="btn btn-back">Back</button></div></div></div><div class="screen"><div class="content-wrap only-text"><h1 class="blue">Medication</h1><img class="img-responsive buffer slider-img" src="img/compliance/c3.jpg"><p class="bottom-buffer text-center">If you are asked to prompt or supervise medication and you haven’t been trained and assessed as competent, you must politely decline and contact your Community Manager.</p><div class="button-wrap has-bg"><button class="btn btn-continue next">Continue</button></div><div class="button-wrap has-bg"><button class="btn btn-back">Back</button></div></div></div><div class="screen"><div class="content-wrap"><h1 class="blue">Medication</h1><img class="img-responsive buffer slider-img" src="img/compliance/c3.jpg"><p class="bottom-buffer text-center">If medication is needed, instructions will be added to your Help Plan. You must follow them. If no instructions exist, contact your Community Manager.</p><div class="button-wrap has-bg"><button class="btn btn-continue next">Continue</button></div><div class="button-wrap has-bg"><button class="btn btn-back">Back</button></div></div></div><div class="screen blue-bg no-menu intro has-flex"><div class="content-wrap"><div class="logo-wrap"><img class="img-responsive logo-v1" src="img/general/testlogo_v1.svg"/></div><h1>Harm, Assault and Bullying</h1><p>Our zero tolerance policy.</p><div class="button-wrap"><button class="btn btn-continue next">Continue</button></div></div></div><div class="screen"><div class="content-wrap only-text first"><h1 class="blue">Our commitment</h1><img class="img-responsive buffer slider-img" src="img/compliance/c4.jpg"><p class="bottom-buffer text-center">Good Friends has a zero tolerance stance towards harm, assault, molestation, bullying and harassment.</p><div class="button-wrap has-bg"><button class="btn btn-continue next">Continue</button></div><div class="button-wrap has-bg"><button class="btn btn-back">Back</button></div></div></div><div class="screen"><div class="content-wrap only-text"><h1 class="blue">Our commitment</h1><img class="img-responsive buffer slider-img" src="img/compliance/c4.jpg"><p class="bottom-buffer text-center">Report any suspected case of harm, assault, molestation, bullying and harassment to the your Manager or senior management as soon as possible. </p><div class="button-wrap has-bg"><button class="btn btn-continue next">Continue</button></div><div class="button-wrap has-bg"><button class="btn btn-back">Back</button></div></div></div><div class="screen"><div class="content-wrap only-text"><h1 class="blue">Our commitment</h1><img class="img-responsive buffer slider-img" src="img/compliance/c4.jpg"><p class="bottom-buffer text-center">These matters will be handled sensitively and resolved in a fair, transparent and time effective manner, in accordance with legislation.</p><div class="button-wrap has-bg"><button class="btn btn-continue next">Continue</button></div><div class="button-wrap has-bg"><button class="btn btn-back">Back</button></div></div></div><div class="screen"><div class="content-wrap"><h1 class="blue">Our commitment</h1><img class="img-responsive buffer slider-img" src="img/compliance/c4.jpg"><p class="bottom-buffer text-center">All vexatious reports will be dealt with as unacceptable behaviour and may lead to discontinuation of relationships with Good Friends. </p><div class="button-wrap has-bg"><button class="btn btn-continue next">Continue</button></div><div class="button-wrap has-bg"><button class="btn btn-back">Back</button></div></div></div><div class="screen blue-bg no-menu intro has-flex"><div class="content-wrap"><div class="logo-wrap"><img class="img-responsive logo-v1" src="img/general/testlogo_v1.svg"/></div><h1>Infection Control and Food Preparation</h1><p>Health, safety and hygiene.</p><div class="button-wrap"><button class="btn btn-continue next">Continue</button></div></div></div><div class="screen"><div class="content-wrap only-text first"><h1 class="blue">Health, safety and hygiene</h1><img class="img-responsive buffer slider-img" src="img/compliance/c5.jpg"><p class="bottom-buffer text-center">Hand hygiene is a central component of infection-free professional care. Wash and dry your hands after any client contact or when taking off gloves.</p><div class="button-wrap has-bg"><button class="btn btn-continue next">Continue</button></div><div class="button-wrap has-bg"><button class="btn btn-back">Back</button></div></div></div><div class="screen"><div class="content-wrap only-text"><h1 class="blue">Health, safety and hygiene</h1><img class="img-responsive buffer slider-img" src="img/compliance/c5.jpg"><p class="bottom-buffer text-center">Wash your hands before and after making any food or drink. Don’t handle ready-to-eat food with your bare hands. Do not contaminate unprotected food or food preparation surfaces. </p><div class="button-wrap has-bg"><button class="btn btn-continue next">Continue</button></div><div class="button-wrap has-bg"><button class="btn btn-back">Back</button></div></div></div><div class="screen"><div class="content-wrap only-text"><h1 class="blue">Health, safety and hygiene</h1><img class="img-responsive buffer slider-img" src="img/compliance/c5.jpg"><p class="bottom-buffer text-center">Take special care when handling sharps and needles to avoid injury and infection.</p><div class="button-wrap has-bg"><button class="btn btn-continue next">Continue</button></div><div class="button-wrap has-bg"><button class="btn btn-back">Back</button></div></div></div><div class="screen"><div class="content-wrap only-text"><h1 class="blue">Health, safety and hygiene</h1><img class="img-responsive buffer slider-img" src="img/compliance/c5.jpg"><p class="bottom-buffer text-center">You must wear appropriate protective barriers if you could be exposed to body substances. These can include eye shields, gloves, gowns or masks.</p><div class="button-wrap has-bg"><button class="btn btn-continue next">Continue</button></div><div class="button-wrap has-bg"><button class="btn btn-back">Back</button></div></div></div><div class="screen"><div class="content-wrap"><h1 class="blue">Health, safety and hygiene</h1><img class="img-responsive buffer slider-img" src="img/compliance/c5.jpg"><p class="bottom-buffer text-center">If you make contact with infected body fluids at work, contact your Community Manager immediately. They will help you get first aid and a medical test.</p><div class="button-wrap has-bg"><button class="btn btn-continue next">Continue</button></div><div class="button-wrap has-bg"><button class="btn btn-back">Back</button></div></div></div><div class="screen blue-bg no-menu intro has-flex"><div class="content-wrap"><div class="logo-wrap"><img class="img-responsive logo-v1" src="img/general/testlogo_v1.svg"/></div><h1>Driving and Community Access </h1><p>Drive safe to and from work.</p><div class="button-wrap"><button class="btn btn-continue next">Continue</button></div></div></div><div class="screen"><div class="content-wrap only-text first"><h1 class="blue">Driving and Community Access</h1><img class="img-responsive buffer slider-img" src="img/compliance/c6.jpg"><p class="bottom-buffer text-center">Good Friends commits to providing safe services and preventing work related injuries. If you drive for work, there are a few things to note. </p><div class="button-wrap has-bg"><button class="btn btn-continue next">Continue</button></div><div class="button-wrap has-bg"><button class="btn btn-back">Back</button></div></div></div><div class="screen"><div class="content-wrap only-text"><h1 class="blue">Driving and Community Access</h1><img class="img-responsive buffer slider-img" src="img/compliance/c6.jpg"><p class="bottom-buffer text-center">For insurance and tax purposes, you are considered to be using your vehicle for work when you driving for the purpose of meeting a Member requirement.</p><div class="button-wrap has-bg"><button class="btn btn-continue next">Continue</button></div><div class="button-wrap has-bg"><button class="btn btn-back">Back</button></div></div></div><div class="screen"><div class="content-wrap only-text"><h1 class="blue">Driving and Community Access</h1><img class="img-responsive buffer slider-img" src="img/compliance/c6.jpg"><p class="bottom-buffer text-center">If you are registered for GST and claim the input tax on your vehicle expenses, you must notify your compulsory third party insurance provider.</p><div class="button-wrap has-bg"><button class="btn btn-continue next">Continue</button></div><div class="button-wrap has-bg"><button class="btn btn-back">Back</button></div></div></div><div class="screen"><div class="content-wrap only-text"><h1 class="blue">Driving and Community Access</h1><img class="img-responsive buffer slider-img" src="img/compliance/c6.jpg"><p class="bottom-buffer text-center">To drive to your Visits, you must have a current driver’s license and registered vehicle. Notify your Community Manager if this changes for any reason. </p><div class="button-wrap has-bg"><button class="btn btn-continue next">Continue</button></div><div class="button-wrap has-bg"><button class="btn btn-back">Back</button></div></div></div><div class="screen"><div class="content-wrap"><h1 class="blue">Driving and Community Access</h1><img class="img-responsive buffer slider-img" src="img/compliance/c6.jpg"><p class="bottom-buffer text-center">Any vehicle accidents that occur in the course of work tasks must be recorded in the Mango system and reported to your Community Manager immediately.  </p><div class="button-wrap has-bg"><button class="btn btn-continue next">Continue</button></div><div class="button-wrap has-bg"><button class="btn btn-back">Back</button></div></div></div><div class="screen blue-bg no-menu intro has-flex"><div class="content-wrap"><div class="logo-wrap"><img class="img-responsive logo-v1" src="img/general/testlogo_v1.svg"/></div><h1>Elder Abuse </h1><p>A zero tolerance policy.</p><div class="button-wrap"><button class="btn btn-continue next">Continue</button></div></div></div><div class="screen"><div class="content-wrap only-text first"><h1 class="blue">Elder abuse is a crime </h1><img class="img-responsive buffer slider-img" src="img/compliance/c7.jpg"><p class="bottom-buffer text-center">Elder abuse is the single or repeated act, or lack of appropriate action, occurring within any relationship where there is an expectation of trust, which causes harm or distress.  </p><div class="button-wrap has-bg"><button class="btn btn-continue next">Continue</button></div><div class="button-wrap has-bg"><button class="btn btn-back">Back</button></div></div></div><div class="screen"><div class="content-wrap only-text"><h1 class="blue">Elder abuse is a crime </h1><img class="img-responsive buffer slider-img" src="img/compliance/c7.jpg"><p class="bottom-buffer text-center">If you suspect or witness this, you are required to report the matter to your Community Manager immediately. </p><div class="button-wrap has-bg"><button class="btn btn-continue next">Continue</button></div><div class="button-wrap has-bg"><button class="btn btn-back">Back</button></div></div></div><div class="screen"><div class="content-wrap"><h1 class="blue">Elder abuse is a crime </h1><img class="img-responsive buffer slider-img" src="img/compliance/c7.jpg"><p class="bottom-buffer text-center">All reports of abuse will be dealt with promptly, seriously, sensitively and confidentially. This may require having the Police involved.  </p><div class="button-wrap has-bg"><button class="btn btn-continue next">Continue</button></div><div class="button-wrap has-bg"><button class="btn btn-back">Back</button></div></div></div><div class="screen blue-bg no-menu intro has-flex"><div class="content-wrap"><div class="logo-wrap"><img class="img-responsive logo-v1" src="img/general/testlogo_v1.svg"/></div><h1>Privacy </h1><p>Yours and our Members. </p><div class="button-wrap"><button class="btn btn-continue next">Continue</button></div></div></div><div class="screen"><div class="content-wrap only-text first"><h1 class="blue">Your privacy and the privacy of our Members.</h1><img class="img-responsive buffer slider-img" src="img/compliance/c8.jpg"><p class="bottom-buffer text-center">We are committed to protecting the privacy of you and our Members. We adhere to the Privacy Act 1993 and, where relevant, the Health Information Privacy Code 1994.</p><div class="button-wrap has-bg"><button class="btn btn-continue next">Continue</button></div><div class="button-wrap has-bg"><button class="btn btn-back">Back</button></div></div></div><div class="screen"><div class="content-wrap only-text"><h1 class="blue">Your privacy and the privacy of our Members.</h1><img class="img-responsive buffer slider-img" src="img/compliance/c8.jpg"><p class="bottom-buffer text-center">We do collect information and on occasion share this with trusted partners to help perform analysis, among other things. </p><div class="button-wrap has-bg"><button class="btn btn-continue next">Continue</button></div><div class="button-wrap has-bg"><button class="btn btn-back">Back</button></div></div></div><div class="screen"><div class="content-wrap only-text"><h1 class="blue">Your privacy and the privacy of our Members.</h1><img class="img-responsive buffer slider-img" src="img/compliance/c8.jpg"><p class="bottom-buffer text-center">You must not share Member details or your schedule. You must have a passcode on your device.</p><div class="button-wrap has-bg"><button class="btn btn-continue next">Continue</button></div><div class="button-wrap has-bg"><button class="btn btn-back">Back</button></div></div></div><div class="screen"><div class="content-wrap"><h1 class="blue">Your privacy and the privacy of our Members.</h1><img class="img-responsive buffer slider-img" src="img/compliance/c8.jpg"><p class="bottom-buffer text-center">Advise the Community Manager if you have lost your device immediately so we can delete the app remotely to ensure our members data is protected. </p><div class="button-wrap has-bg"><button class="btn btn-continue next">Continue</button></div><div class="button-wrap has-bg"><button class="btn btn-back">Back</button></div></div></div><div class="screen blue-bg no-menu intro has-flex"><div class="content-wrap"><div class="logo-wrap"><img class="img-responsive logo-v1" src="img/general/testlogo_v1.svg"/></div><h1>Make a commitment</h1><p>We’re working to ensure your safety. We need the same commitment from you.  </p><div class="button-wrap"><button class="btn btn-continue next">Continue</button></div></div></div><div class="screen"><div class="content-wrap commit-wrap only-text"><h1 class="blue">Your Commitment</h1><input class="commit-checkbox form-control" type="checkbox"><p class="buffer-bottom commit-clause">I, hereby acknowledge and agree that:</p><p class="buffer-bottom">(i) I am aware that Good Friends' policies are available to me via the website or upon request of my Community Manager. It is my responsibility to familiarise myself with these policies.</p><div class="greenblue no-margin buffer"><p class="buffer-bottom">(ii) I agree to conduct my activities in accordance with Good Friends’ policies and understand that breaching these policies may result in the termination of my/our role as a Good Friends Helper and/or other legal remedy available to Good Friends.</p><p>You can access all of our policies <a href='https://www.goodfriends.co.nz/resources/our-policies' target="_blank">here</a> and search for answers to questions at our FAQ’s <a href='https://www.goodfriends.co.nz/resources/helper-faqs' target="_blank">here</a>.	</p></div><a href="javascript:void(0)"><div class="button-wrap has-bg force"><button class="btn btn-continue complete-module">Finish</button></div></a></div></div></div></body></html>
