dist/index.html
<!DOCTYPE html><html lang="js"><head><meta name="viewport" content="width=device-width, initial-scale=1"><meta charset="UTF-8"><meta name="format-detection" content="telephone=no"><title>Good Friends</title><link rel="stylesheet" href="css/styles.min.css"><script src="js/scripts.min.js"></script><script src="js/ga.js"></script></head><body id="hammer-listener"><div class="loader"><div class="logo-wrap"><img class="img-responsive logo-v1" src="img/general/testlogo_v1.svg"/></div><p class="loading">Loading</p></div><div class="can-scroll-wrap"><img class="can-scroll scroll-gesture" src="img/general/gesture-animation.gif"></div><div class="content"><div class="menu"><div class="logo-wrap"><img class="img-responsive logo-v2" src="img/general/testlogo_v2.svg"/></div></div><div class="hamburger-menu"><div class="level-1"><div class="item trigger"><p>Welcome To Good Friends</p><i class="fa fa-chevron-right"></i></div><div class="level-2 level links closed"><div class="item menu-left-1"><p> <a href="#">Not Available</a></p></div></div><div class="item trigger"><p>How Friendly Are You?</p><i class="fa fa-chevron-right"></i></div><div class="level-2 level closed"><div class="item menu-left-1 trigger"><p>Meeting Your Members</p><i class="fa fa-chevron-right"></i></div><div class="level-3 level links closed"><div class="item menu-left-2"><p> <a href="a1.html">Getting off to a good start</a></p></div><div class="item menu-left-2"><p> <a href="a2.html">More than finishing To-Do lists</a></p></div><div class="item menu-left-2"><p> <a href="a3a.html">Getting out and about</a></p></div><div class="item menu-left-2"><p> <a href="a3b.html">Choosing your words</a></p></div></div><div class="item menu-left-1 trigger"><p>Our Vision Of A Visit</p><i class="fa fa-chevron-right"></i></div><div class="level-3 level links closed"><div class="item menu-left-2"><p> <a href="a4.html">Focusing your time &amp; attention</a></p></div><div class="item menu-left-2"><p> <a href="a5.html">Meeting the needs of Members</a></p></div><div class="item menu-left-2"><p> <a href="a6a.html">Providing help to individuals (Pt.1)</a></p></div><div class="item menu-left-2"><p> <a href="a6b.html">Providing help to individuals (Pt.2)</a></p></div><div class="item menu-left-2"><p> <a href="a19.html">Monitoring medication for Members</a></p></div><div class="item menu-left-2"><p> <a href="a7.html">Providing a clear picture to all</a></p></div><div class="item menu-left-2"><p> <a href="a8.html">Balancing Act</a></p></div><div class="item menu-left-2"><p> <a href="a18.html">Sometimes bad things happen</a></p></div></div><div class="item menu-left-1 trigger"><p>Finishing Your Visit</p><i class="fa fa-chevron-right"></i></div><div class="level-3 level links closed"><div class="item menu-left-2"><p> <a href="a9.html">Wrapping up the right way</a></p></div></div></div><div class="item trigger"><p>How To Make the Most Out Of Good Friends</p><i class="fa fa-chevron-right"></i></div><div class="level-2 level links closed"><div class="item menu-left-1"><p> <a href="#">Not Available</a></p></div></div><div class="item trigger"><p>Policy Pack</p><i class="fa fa-chevron-right"></i></div><div class="level-2 level links closed"><div class="item menu-left-1"><p> <a href="#">Not Available</a></p></div></div><div class="item trigger"><p>Compliance Key Messages</p><i class="fa fa-chevron-right"></i></div><div class="level-2 level links closed"><div class="item menu-left-1"><p> <a href="compliance.html">Compliance</a></p></div></div></div></div><div class="container"><div class="row"><div class="col-md-12"><h1>Menu Links</h1><ul class="sub-menu"><li class="sub-menu-trigger no-bg">Meeting Your Members<ul class="sub-menu subsub"><li><a href="a1.html">Activity 1</a></li><li><a href="a2.html">Activity 2</a></li><li><a href="a3a.html">Activity 3 (Part 1)</a></li><li><a href="a3b.html">Activity 3 (Part 2)</a></li></ul></li><li class="sub-menu-trigger no-bg">Our Vision Of A Visit<ul class="sub-menu subsub"><li><a href="a4.html">Activity 4</a></li><li><a href="a5.html">Activity 5</a></li><li><a href="a6a.html">Activity 6 (Part 1)</a></li><li><a href="a6b.html">Activity 6 (Part 2)</a></li><li><a href="a19.html">Activity 19</a></li><li><a href="a7.html">Activity 7</a></li><li><a href="a8.html">Activity 8</a></li><li><a href="a18.html">Activity 18</a></li></ul></li><li class="sub-menu-trigger no-bg">Finishing Your Visit<ul class="sub-menu subsub"><li><a href="a9.html">Activity 9</a></li></ul></li><li class="sub-menu-trigger no-bg">Compliance Key Messages<ul class="sub-menu subsub"><li><a href="compliance.html">Compliance</a></li></ul></li></ul></div></div></div></div></body></html>

views/index.pug
extends layout.pug
block content
	div.container
		div.row
			div.col-md-12
				h1 Menu Links
				ul.sub-menu
					li.sub-menu-trigger.no-bg Meeting Your Members
						ul.sub-menu.subsub
							li
								a(href="a1.html") Activity 1
							li
								a(href="a2.html") Activity 2
							li
								a(href="a3a.html") Activity 3 (Part 1)
							li
								a(href="a3b.html") Activity 3 (Part 2)

					li.sub-menu-trigger.no-bg Our Vision Of A Visit
						ul.sub-menu.subsub
							li
								a(href="a4.html") Activity 4
							li
								a(href="a5.html") Activity 5
							li
								a(href="a6a.html") Activity 6 (Part 1)
							li
								a(href="a6b.html") Activity 6 (Part 2)
							li
								a(href="a19.html") Activity 19
							li
								a(href="a7.html") Activity 7
							li
								a(href="a8.html") Activity 8
							li
								a(href="a18.html") Activity 18
					li.sub-menu-trigger.no-bg Finishing Your Visit
						ul.sub-menu.subsub
							li
								a(href="a9.html") Activity 9

					li.sub-menu-trigger.no-bg Compliance Key Messages
						ul.sub-menu.subsub
							li
								a(href="compliance.html") Compliance
